<main class="content">
    <div class="container-fluid p-0">


        <div class="row mb-2 mb-lg-4">
            <div class="col-md-12 d-lg-flex align-items-center main-hdng">
                <div class="col-md-6">
                    <h3>Field List Details</h3>
                </div>
                <div class="col-md-6">
                    <div class="">
                        <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-end">
                                <li class="breadcrumb-item"><a href="">Administration</a></li>
                                <li class="breadcrumb-item"><a href="">User</a></li>
                                <li class="breadcrumb-item active" aria-current="page">User Details</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2 mb-lg-4">
            <div class="col-md-12 d-lg-flex align-items-center hdng-btm">
                <div class="col-md-6">
                    <a class="btn btn-primary btn-lg me-3" (click)="backToList()">Back To List <i
                            class="fas fa-chevron-left"></i></a>
                </div>
                <div class="col-md-6 text-end mt-n1">
                    <ul class="list-inline ml-auto mt-3 mt-lg-0 mb-0">
                        <li class="list-inline-item">
                            <button class="btn btn-primary btn-lg" (click)="addNew()"
                                >Add New<i class="fas fa-plus"></i></button>
                        </li>

                        <!-- <li class="list-inline-item me-1 icon-border">
                            <a class="btn btn-outline-dark rounded-3 btn-xs" href="#" data-bs-toggle="tooltip"
                                data-bs-placement="bottom" title="Print">
                                <img src="assets/images/printer.svg" alt="printer"></a>
                        </li> -->

                        <li class="list-inline-item me-1 icon-border">
                            <a class="btn btn-outline-dark rounded-3 btn-xs" data-bs-toggle="tooltip"
                                data-bs-placement="bottom" title="Edit" >
                                <img src="assets/images/pen.svg" alt="pen" (click)="edit($event)"></a>
                        </li>

                        <!-- <li class="list-inline-item me-1 icon-border">
                            <a class="btn btn-outline-dark rounded-3 btn-xs" href="#" data-bs-toggle="tooltip"
                                data-bs-placement="bottom" title="Schedule">
                                <img src="assets/images/calendar-days.svg" alt="calendar"></a>
                        </li> -->

                        <!-- <li class="list-inline-item me-1 icon-border">
                            <a class="btn btn-outline-dark rounded-3 btn-xs" href="#" data-bs-toggle="tooltip"
                                data-bs-placement="bottom" title="portrait">
                                <img src="assets/images/iphone-portrait.svg" alt="iphone"></a>
                        </li> -->

                        <!-- <li class="list-inline-item me-1 icon-border">
                            <a class="btn btn-outline-dark rounded-3 btn-xs" href="#" data-bs-toggle="tooltip"
                                data-bs-placement="bottom" title="Email">
                                <img src="assets/images/mail.svg" alt="mail"></a>
                        </li> -->

                        <!-- <li class="list-inline-item icon-border me-0">
                            <a class="mat-menu-trigger d-inline-block align-middle"
                                href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="assets/images/hdr-menu-vertical.svg" alt="menu-vertical"
                                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="More"></a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="#">Edit this contact</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Change contact image</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Change record owner</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Change to lead</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Export details</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Add new task for this contact</a>
                            </div>
                        </li> -->




                    </ul>
                </div>
            </div>
        </div>




        <div class="row" *ngFor="let item of contact">
            <div class="col-md-12">
                <div class="bg-white shadow-lg py-3 px-3 rounded-3 mb-3 profile-details">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <div class="d-inline-block align-middle me-3 details_img">
                                <!-- <img [src]="profileImgPath" alt="profile-img" height="50" width="70"> -->
                                <img src={{showProfileImg(item.profilePic)}} alt="profile-img" height="50" width="70">
                                <!-- {{item.profilePic}} -->
                                
                            </div>
                            <div class="d-inline-block align-middle">
                                <h3>{{item.clientName}}</h3>
                                <h5 *ngIf="item.userType == '0'">Relationship : Super Admin</h5>
                                <h5 *ngIf="item.userType == '1'">Relationship : Admin</h5>
                                <h5 *ngIf="item.userType == '2'">Relationship : Employee</h5>
                                <h5>{{item.contactTypeName}}</h5>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-inline-block align-middle">
                                <img src="assets/images/profile_iphone-portrait.svg" alt="iphone-portrait">
                            </div>
                            <div class="d-inline-block align-middle">
                                <h6 class="ph_txt">Phone number</h6>
                                <h6 class="ph_no">{{item.phoneNumber}}</h6>
                            </div>
                        </div>
                        <div class="col-md-2 d-md-flex">
                            <div class="d-inline-block align-middle details_img">
                                <img src="assets/images/profile_mail.svg" alt="profile_mail">
                            </div>
                            <div class="d-inline-block align-middle">
                                <h6 class="ph_txt">Email address</h6>
                                <h6 class="ph_no">{{item.email}}</h6>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="text-end mt-n5">
                                <h5 class="profile-status ">Status:
                                    <!-- <ng-container  *ngIf="permissionData.editPem == 0">
                                        <span class="text-success pe-2" *ngIf="item.isActive ==1">Approved</span>
                                        <span class="text-success pe-2" *ngIf="item.isActive ==0">Not Approved</span>
                                    </ng-container>
                                    
                                    <ng-container  *ngIf="permissionData.editPem == 1">
                                        <a class="dropdown-toggle" mat-button [matMenuTriggerFor]="activemenu"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="text-success pe-2" *ngIf="item.isActive ==1">Approved</span>
                                            <span class="text-success pe-2" *ngIf="item.isActive ==0">Not Approved</span>
                                        </a>
                                        <mat-menu #activemenu="matMenu">
                                            <button mat-menu-item (click)="statusChange(1)">Approved</button>
                                            <button mat-menu-item (click)="statusChange(0)">Not Approved</button>
                                        </mat-menu>
                                    </ng-container> -->
                                    <ng-container *ngFor="let th of tableHeader; let t = index" >
                                        <tr role="row" *ngFor="let data of allOpportunityArray;let i = index;"
                                        [ngClass]="(i+1)%2 != 0 ? 'odd':'even'" style="cursor: pointer;"
                                        >
                                    <td class="align-middle"
                                                        *ngIf="th.title == 'Approval Status' && th.isView">
                                                        {{getStatusForHTML(data.CRMapprovedStatus)}}
                                                    </td>
                                                    </tr>
                                                    </ng-container>
                                </h5>

                            </div>
                        </div>
                       
                        <!-- <div class="col-md-3">
                            <div class="text-end mt-n5">
                                <h5 class="profile-status ">Status :
                                    <ng-container  *ngIf="permissionData.editPem == 0">
                                        <span class="text-success pe-2" *ngIf="item.isActive ==1">Active</span>
                                        <span class="text-success pe-2" *ngIf="item.isActive ==0">Inactive</span>
                                    </ng-container>
                                    
                                    <ng-container  *ngIf="permissionData.editPem == 1">
                                        <a class="dropdown-toggle" mat-button [matMenuTriggerFor]="activemenu"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="text-success pe-2" *ngIf="item.isActive ==1">Active</span>
                                            <span class="text-success pe-2" *ngIf="item.isActive ==0">Inactive</span>
                                        </a>
                                        <mat-menu #activemenu="matMenu">
                                            <button mat-menu-item (click)="statusChange(1)">Active</button>
                                            <button mat-menu-item (click)="statusChange(0)">Inactive</button>
                                        </mat-menu>
                                    </ng-container>
                                </h5>

                            </div>
                        </div> -->

                        
                    </div>
                </div>

            </div>

        </div>


        <div class="row">
            <div class="col-md-6">

                <div class="bg-white shadow-lg py-3 px-3 rounded-3 profile-details-info">
                    <div class="hdr d-md-flex align-items-center mb-3 lead-hdr">
                        <div class="col-auto d-block">
                            <h3 >Field Visit Status</h3>


                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="details-info-inner">
                                    <table class="table table-sm table-borderless my-2">
                                        <tbody *ngFor="let item of userDetails">
                                        

                                            <tr>
                                                <th>Planing Status  :</th>
                                                <td>
                                                    {{visitStatus(item.isPlanned)}} 
                                                </td>
                                    
                                            </tr>
                                            <tr>
                                                <th>Visit Status  :</th>
                                        
                                                <td>{{planVisit(item.isVisited)}}</td>
                                            </tr>
                                            <tr>
                                                <th>Visit Date  :</th>
                                               
                                                <td>{{item.actualDate | date:'dd-MM-yyyy' }}</td>
                                            </tr>
                                            <tr>
                                                <th>Convertion Status   :</th>
                                                <td >{{convertionStatus(item.isConvertion)}}</td>
                                                <!-- <td >{{convertionStatus(item.isConvertion)}}</td> -->

                                    
                                            </tr>
                                            <tr>
                                                <th>Visit Type  :</th>
                                        
                                                <td>{{item.visitStatusName}}</td>
                                            </tr>
                                            <tr>
                                                <th>Email :</th>
                                               
                                                <td>{{item.email}}</td>
                                            </tr>
                                            <tr>
                                                <th>Phone :</th>
                                               
                                                <td>{{item.phone}}</td>
                                            </tr>
                                            
                                          
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        </div>
                      
                     
                    </div>
            </div>
        </div>
            <div class="col-md-6">


                <div class="bg-white shadow-lg py-3 px-3 rounded-3 profile-details-info">
                    <div class="hdr d-md-flex align-items-center mb-3">
                        <div class="col-auto d-block">
                            <h3>Detail informations</h3>
                        </div>
                    </div>




                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne">Vissitors Details</button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="details-info-inner">
                                        <table class="table table-sm table-borderless my-2">
                                            <tbody *ngFor="let item of userDetails">
                                            

                                                <tr>
                                                    <th>Name :</th>
                                                    <td>{{item.userName}}</td>
                                        
                                                </tr>
                                                <tr>
                                                    <th>Phone Number :</th>
                                            
                                                    <td>{{item.phone}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Email Address :</th>
                                                   
                                                    <td>{{item.email}}</td>
                                                </tr>
                                                
                                              
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo"> Visit Address</button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="details-info-inner">
                                        <table class="table table-sm table-borderless my-2">
                                            <!-- <tbody *ngFor="let item of userDetails"> -->
                                            <tbody *ngFor="let item of contact">

                                                <tr>
                                                    <th>Address:</th>
                                                    <!-- <td>{{item.address}}</td> -->
                                                    <td>{{item.address}}</td>
                                                </tr>
                                                <!-- <tr>
                                                    <th>State Name :</th>
                                                    <td>{{item.stateName}}</td>
                                                    <td>West Bengal</td>
                                                </tr>
                                                <tr>
                                                    <th>District Name :</th>
                                                    <td>{{item.cityName}}</td>
                                                </tr> -->
                                                <!-- <tr>
                                                    <th>Zone :</th>
                                                    <td>{{item.zoneName}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Geo location :</th>
                                                    <td>{{item.geoLocation}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Lat. Long. :</th>
                                                    <td>{{item.lattitude}},{{item.longitude}}</td>
                                                </tr> -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">Official</button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="details-info-inner">
                                        <table class="table table-sm table-borderless my-2">
                                            <!-- <tbody *ngFor="let item of userDetails"> -->
                                            <tbody *ngFor="let item of ">

                                                <tr>
                                                    <th>Joining Date :</th>
                                                    <!-- <td>{{item.dateOfJoining | date:'dd:MM:yyyy'}}</td> -->
                                                </tr>
                                                <tr>
                                                    <th>Designation :</th>
                                                    <!-- <td>{{item.designationName}}</td> -->
                                                </tr>
                                                <tr>
                                                    <th>Role :</th>
                                                    <!-- <td>{{item.roleName}}</td> -->
                                                </tr>
                                                <!-- <tr>
                                                    <th>Reporting :</th>
                                                    <td>{{item.}}</td>
                                                </tr> -->
                                                <!-- <tr>
                                                    <th>Employee Code :</th>
                                                    <td>SMB04712</td>
                                                </tr> -->
                                                <!-- <tr>
                                                    <th>Product :</th>
                                                    <td>Product Name goes here</td>
                                                </tr> -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false"
                                    aria-controls="collapseFour">Remarks</button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="details-info-inner">
                                        <table class="table table-sm table-borderless my-2">
                                            <!-- <tbody *ngFor="let item of userDetails"> -->
                                            <tbody *ngFor="let item of">

                                                <tr>
                                                    <!-- <td>{{item.remark}}</td> -->
                                                    <td> WestBengal</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>


                </div>
            </div>
         


    </div>
<!-- </main> -->

<ng-template #addActivity>
    <div class="modal-content">
        <div class="modal-header">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-10">
                        <h3 class="modal-title d-inline-block align-middle me-2">Create New Activity</h3>
                        <div class="d-inline-block align-middle">
                        </div>
                    </div>
                    <div class="col-sm-2 d-flex justify-content-end">
                        <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close"
                            (click)="closeModal()"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12" style="margin-top: 18px;">
                        <label for="status_type" class="form-label"><span class="text-danger">*</span>Task
                            Type</label>
                        <div class="input-group">
                            <select class="form-select" aria-label="Default select example" [(ngModel)]="taskType">
                                <option value="">Select an option</option>
                                <!-- <option *ngFor="let obj of taskCategoryList" [value]="obj.categoryId">
                                    {{obj.categoryName}}</option> -->
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label"><span class="text-danger">*</span>Due Date</label>
                        <div class="input-group">
                            <!-- <input type="date" name="duedate" class="form-control" [(ngModel)]="dueDate"> -->
                            <input type="date" name="duedate" class="form-control">

                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label"><span class="text-danger">*</span>Description</label>
                        <div class="input-group">
                            <!-- <input type="text" name="description" class="form-control" [(ngModel)]="description"
                                onkeypress="if(this.value.length >100) return false;">
                        </div> -->
                        <input type="text" name="description" class="form-control" 
                        onkeypress="if(this.value.length >100) return false;">
                </div>
                    </div>
                    <div class="col-md-12">
                        <label for="status_type" class="form-label"><span class="text-danger">*</span>Assign To</label>
                        <div class="input-group">
                            <!-- <select class="form-select" aria-label="Default select example" id="status_type"
                                [(ngModel)]="assignTouserId"> -->

                                <select class="form-select" aria-label="Default select example" id="status_type"
                                >
                             <option value="">Select an option</option>
                                <!-- <option *ngFor="let data of userNames" [ngValue]="data.userId">{{data.firstName}}
                                    {{data.lastName}}
                                </option> -->
                                <option>FirstNAme
                                    LastName
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-bottom: 35px;">
                        <button class="btn btn-success btn-lg btn-block" style="float: right;"
                            (click)="addUserTask()">Add Task
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #remarksmodal>
    <div class="modal-content">
        <div class="modal-header">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-10 text-center">
                        <h3 class="modal-title d-inline-block align-middle me-2 text-center">Remarks
                        </h3>
                    </div>
                    <div class="col-sm-2 d-flex justify-content-end">
                        <button type="button" (click)="closeModal()" class="btn-close"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <textarea #testercomment matInput placeholder="Enter your remarks"
                            onkeypress="if(this.value.length >50) return false;"></textarea>
                    </mat-form-field>

                    <div class="col-sm-6 text-center">
                        <button type="button" class="btn btn-secondary btn-lg me-2"
                            (click)="closeModal()">Cancel</button>
                    </div>
                    <div class="col-sm-6 text-center">
                        <!-- <button type="button" class="btn btn-danger btn-lg me-2"
                            (click)="submitRemarks(testercomment.value)">Submit</button> -->
                            <button type="button" class="btn btn-danger btn-lg me-2"
                            >Submit</button>
                    </div>

                </div>
            </div>
        </div>
    </div>


</ng-template><ng-template #editDetailsModal>
    <div class="modal-content">
        <div class="modal-header">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-10">
                        <h3 class="modal-title d-inline-block align-middle me-2">Status Update
                        </h3>
                    </div>
                    <div class="col-sm-2 d-flex justify-content-end"><button type="button" data-bs-dismiss="modal"
                            aria-label="Close" class="btn-close" (click)="closeModal()"></button></div>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <label for="status_type" class="form-label">Approval Status</label>
                        <div class="input-group">
                            <select class="form-select" aria-label="Default select example" id="status_type"
                                [(ngModel)]="selectedStatus">
                                <option value="">Select an options</option>
                                <option *ngFor="let obj of allStatusList" [value]="obj.id">
                                    {{obj.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 pt-2">
                        <label for="remarks"><span class="text-danger"></span>Remarks</label>
                        <div class="input-group">
                            <textarea name="remarks" class="form-control" [(ngModel)]="statusRemarks" rows="4"
                                style="height: 100px;"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <button type="button" class="btn btn-secondary btn-lg me-2"
                            (click)="closeModal()">Cancel</button>
                    </div>
                    <div class="col-sm-6 text-center">
                        <button type="button" class="btn btn-danger btn-lg me-2"
                            (click)="updateApprovalStatus()">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
