<!-- <div id="addContactModal" tabindex="-1" aria-labelledby="addContactModal" class="modal fade addContactModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl"> -->
       <div class="modal-content">
          <div class="modal-header">
             <div class="container-fluid">
                <div class="row align-items-center">
                   <div class="col-sm-10">
                      <h3 class="modal-title d-inline-block align-middle me-2">Create New Opportunity</h3>
                      <div class="d-inline-block align-middle">
                         <a class="btn btn-link" href="opportunity-edit-popup-layout.html">Edit page layout</a>
                      </div>
                   </div>
                   <div class="col-sm-2 d-flex justify-content-end"><button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close" (click)="modalClose()"></button></div>
                </div>
             </div>
          </div>
          <div class="modal-body">
             <div class="container-fluid">
                <div class="row">
                   <div class="col-md-4 col-xs-3 border-end border-dark py-5 pe-4">
                      <div class="contactLftList" id="simple-bar-left">
                         <ol class="list-group list-group-numbered">
                            <li id="step_0" class="active">
                               <figure class="d-inline-block align-middle">
                                  <img src="assets/images/popup_book.svg" alt="popup_book">
                               </figure>
                               <h5 class="d-inline-block align-middle">Personal &amp; Contact Details</h5>
                            </li>
                            <li id="step_1">
                               <figure class="d-inline-block align-middle">
                                  <img src="assets/images/popup_directions.svg" alt="popup_directions">
                               </figure>
                               <h5 class="d-inline-block align-middle">Additional Information</h5>
                            </li>
                            <li id="step_2">
                               <figure class="d-inline-block align-middle">
                                  <img src="assets/images/popup_clipboard.svg" alt="popup_clipboard">
                               </figure>
                               <h5 class="d-inline-block align-middle">Description</h5>
                            </li>
                            <li id="step_3">
                               <figure class="d-inline-block align-middle">
                                  <img src="assets/images/popup_coins.svg" alt="popup_coins">
                               </figure>
                               <h5 class="d-inline-block align-middle">Business Details</h5>
                            </li>
                            <li id="step_4">
                               <figure class="d-inline-block align-middle">
                                  <img src="assets/images/popup_reverse-alt.svg" alt="popup_reverse">
                               </figure>
                               <h5 class="d-inline-block align-middle">Current &amp; Competitor</h5>
                            </li>
                            <li id="step_5">
                               <figure class="d-inline-block align-middle">
                                  <img src="assets/images/popup_eye-no.svg" alt="popup_eye">
                               </figure>
                               <h5 class="d-inline-block align-middle">Permissions</h5>
                            </li>
                         </ol>
                      </div>
                   </div>
                   <div class="col-md-8 col-xs-8 py-5 ps-5">
                      <div id="simple-bar-right">
                         <!--personal details-->
                         <div id="stepDtl_0" class="contactRgtForm">
                            <h3>Name &amp; Contact Details</h3>
                            <div class="popupForm">
                               <!-- <form action="#" target="_blank"> -->
                                  <div class="row">
                                     <div class="col-md-12">
                                        <label for="opportunity_name" class="form-label"><span class="text-danger">*</span>Opportunity Name</label>
                                        <div class="input-group">
                                           <input type="text" name="Opportunityname" class="form-control" id="opportunity_name" [(ngModel)]="opportunityName">
                                        </div>
                                     </div>
                                     <div class="col-md-12">
                                       <label for="contact_person_name" class="form-label"><span class="text-danger">*</span>Organization Name</label>
                                       <div class="input-group">
                                          <select class="form-select" aria-label="Default select example" id="status_type" [(ngModel)]="organizationId" (change)="getOrganizationName(m.value)" #m>
                                             <option selected="Select an options">Select an options</option>
                                             <option *ngFor="let data of allOrganizationArray" [value]="data.organizationId">{{data.organizationName}}</option>
                                          </select>
                                       </div>
                                    </div>
                                     <div class="col-md-12">
                                        <label class="form-label my-3 d-block">----- Or -----</label>
                                        <label for="contact_person_name" class="form-label"><span class="text-danger">*</span>Contact Person Name</label>
                                        <div class="input-group">
                                           <select class="form-select" aria-label="Default select example" id="status_type" [(ngModel)]="contactId">
                                              <option [value] = '' selected="Select an options">Select an options</option>
                                              <option *ngFor="let data of existingContact" [value]="data.contactId">{{data.firstName}} {{data.lastName}}</option>
                                           </select>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="row mt-3">
                                     <div class="col-md-12">
                                        <label for="status_type" class="form-label d-block"><span class="text-danger">*</span>Assigned To</label>
                                        <div class="form-check d-inline-block align-middle me-3 mb-2">
                                           <input class="form-check-input" type="radio" name="assigned" id="assigned_users" [value]="0" [(ngModel)]="assignTo">
                                           <label class="form-check-label" for="assigned_users">Users</label>
                                        </div>
                                        <div class="form-check d-inline-block align-middle mb-2">
                                           <input class="form-check-input" type="radio" name="assigned" id="assigned_groups" [value]="1" [(ngModel)]="assignTo" disabled="disabled">
                                           <label class="form-check-label" for="assigned_groups">Groups</label>
                                        </div>
                                     </div>
                                     <div class="col-md-12" [hidden]="assignToDropDownHide">
                                        <div class="input-group">
                                           <select class="form-select" aria-label="Default select example" id="status_type" [(ngModel)]="assignToUser">
                                              <option value="">Select user</option>
                                              <option *ngFor="let data of allUser" value="{{data.userId}}">{{data.firstName}} {{data.lastName}}</option>
                                           </select>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="row mt-5">
                                     <div class="col-md-12">
                                        <button class="btn btn-warning btn-lg me-2" type="button" data-bs-dismiss="modal" aria-label="Close">Save &amp; Close <i class="fas fa-times-circle"></i></button>
                                        <button class="btn btn-success btn-lg" type="button" (click)="saveNext();">Next Step <i class="fas fa-chevron-circle-right"></i></button>
                                     </div>
                                  </div>
                               <!-- </form> -->
                            </div>
                         </div>
                         <!--address details-->
                         <div id="stepDtl_1" class="contactRgtForm hide">
                            <h3>Additional Information</h3>
                            <div class="popupForm">
                               <!-- <form action="#" target="_blank"> -->
                                  <div class="row">
                                     <div class="col-md-12">
                                        <label for="status_type" class="form-label d-block"><span class="text-danger">*</span>Category</label>
                                        <div class="form-check d-inline-block align-middle me-3 mb-2">
                                           <input class="form-check-input" type="radio" name="category" id="new_category" [value]="1" [(ngModel)]="Oppcategory">
                                           <label class="form-check-label" for="new_category">New</label>
                                        </div>
                                        <div class="form-check d-inline-block align-middle mb-2">
                                           <input class="form-check-input" type="radio" name="category" id="existing_category" [value]="2" [(ngModel)]="Oppcategory">
                                           <label class="form-check-label" for="existing_category">Existing</label>
                                        </div>
                                     </div>
                                     <div class="col-md-12 my-4">
                                        <label for="winingRange" class="form-label">Probablity Of Wining</label>
                                        <div class="input-group flex-nowrap">
                                           <span class="d-inline-block align-middle">0</span>
                                           <!-- <input type="range" class="form-range mx-3" min="0" max="100" step="0.5" id="winingRange"> -->
                                          <mat-slider
                                             class=" form-range mx-3 example-margin"
                                             id="winingRange"
                                             [max]="100"
                                             [min]="0"
                                             [step]="1"
                                             [(ngModel)]="winingValue"
                                             [vertical]="false"
                                             aria-labelledby="example-name-label">
                                          </mat-slider>
                                           <span class="d-inline-block align-middle">100%</span>
                                        </div>
                                        <label class="form-label d-block text-center"><span id="winingRangeValue">Value : {{winingValue}}</span><span>%</span></label>
                                     </div>
                                     <div class="col-md-12">
                                        <label for="address_date" class="form-label col-auto d-block"><span class="text-danger">*</span>Expected Close Date</label>
                                        <div class="input-group date" id="datepicker">
                                           <input type="date" class="form-control" id="expectedclose_date" [(ngModel)]="expectedCloseDate">
                                        </div>
                                     </div>
                                     <div class="col-md-12">
                                        <label for="address_date" class="form-label col-auto d-block"><span class="text-danger">*</span>Actual Close Date</label>
                                        <div class="input-group date" id="datepicker">
                                           <input type="date" class="form-control" id="actualclose_date" [(ngModel)]="ActualCloseDate">
                                        </div>
                                     </div>
                                     <div class="col-md-12">
                                        <label for="expected_revenue" class="form-label"><span class="text-danger">*</span>Expected Revenue</label>
                                        <div class="input-group">
                                           <input type="text" name="Organizationname" class="form-control" id="expected_revenue" [(ngModel)]="expectedRevenue" onkeypress="if(event.which < 48 || event.which > 57 ) if(event.which != 8) if(event.keyCode != 9)  return false;">
                                        </div>
                                     </div>
                                     <div class="col-md-12">
                                        <label for="contact_person_name" class="form-label"><span class="text-danger">*</span>Sales Stage</label>
                                        <div class="input-group">
                                           <select class="form-select" aria-label="Default select example" id="status_type" [(ngModel)]="salesStage">
                                              <option [value] = '' selected="Select an options">Select an options</option>
                                              <option *ngFor="let data of salesStageArray" [value]="data.salesStageId">{{data.salesStageName}}</option>
                                           </select>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="row mt-5">
                                     <div class="col-md-12">
                                        <button class="btn btn-dark btn-lg me-2" type="button" (click)="saveprev()">Prev. Step <i class="fas fa-chevron-circle-left"></i></button>
                                        <!-- <button class="btn btn-warning btn-lg me-2" type="button" data-bs-dismiss="modal" aria-label="Close">Save &amp; Close <i class="fas fa-times-circle"></i></button> -->
                                        <button class="btn btn-success btn-lg" type="button" (click)="saveNext();">Next Step<i class="fas fa-chevron-circle-right"></i></button>
                                     </div>
                                  </div>
                               <!-- </form> -->
                            </div>
                         </div>
                         <!--Description details-->
                         <div id="stepDtl_2" class="contactRgtForm hide">
                            <h3>Add Description</h3>
                            <div class="popupForm">
                               <!-- <form action="#" target="_blank"> -->
                                  <div class="row">
                                     <div class="col-md-12">
                                        <label for="address_popup" class="form-label col-auto d-block"><span class="text-danger">*</span>Description</label>
                                        <textarea name="Address" class="form-control" id="address_popup" rows="7" style="height:200px" [(ngModel)]="description" onkeypress="if(this.value.length > 100) return false;"></textarea>
                                     </div>
                                     <!-- <div class="col-md-12 mt-3">
                                        <a class="btn btn-xs btn-primary mb-3" href="javascript:void(0)">+ Add Another</a>
                                     </div> -->
                                  </div>
                                  <div class="row mt-5">
                                     <div class="col-md-12">
                                        <button class="btn btn-dark btn-lg me-2" type="button" (click)="saveprev()">Prev. Step <i class="fas fa-chevron-circle-left"></i></button>
                                        <!-- <button class="btn btn-warning btn-lg me-2" type="button" data-bs-dismiss="modal" aria-label="Close">Save &amp; Close <i class="fas fa-times-circle"></i></button> -->
                                        <button class="btn btn-success btn-lg" type="button" (click)="saveNext();">Next Step<i class="fas fa-chevron-circle-right"></i></button>
                                     </div>
                                  </div>
                               <!-- </form> -->
                            </div>
                         </div>
                         <!--buisness details-->
                         <div id="stepDtl_3" class="contactRgtForm hide">
                            <h3>Product Interested</h3>
                            <div class="popupForm">
                               <!-- <form action="#" target="_blank"> -->
                                  <div class="row">
                                     <div class="col-md-12">
                                        <label for="product_name" class="form-label"><span class="text-danger">*</span>Product Name</label>
                                        <div class="input-group">
                                           <select class="form-select" aria-label="Default select example" name="Product Name" id="product_name" [(ngModel)]="productName">
                                              <option selected="" >Select an option</option>
                                              <option *ngFor="let data of getAllProductArray" [value]="data.productId">{{data.productName}}</option>
                                           </select>
                                        </div>
                                     </div>
                                     <div class="col-md-12">
                                        <label for="address_popup" class="form-label"><span class="text-danger">*</span>Address</label>
                                        <div class="input-group">
                                           <textarea name="Address" class="form-control" id="address_popup" rows="7" [(ngModel)]="productAddress"></textarea>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="row">
                                     <div class="col-md-3">
                                        <label for="product_quantity" class="form-label"><span class="text-danger">*</span>Product Quantity</label>
                                        <div class="input-group">
                                           <input type="number" name="Product quantity" class="form-control" id="product_quantity" [(ngModel)]="productQtn"
                                           (keyup)="changeProductQty($event)" onkeypress="if(event.which < 48 || event.which > 57 ) if(event.which != 8) if(event.keyCode != 9)  return false;">
                                        </div>
                                     </div>
                                     <div class="col-md-3">
                                        <label for="quantity_type" class="form-label"><span class="text-danger">*</span>Quantity Type</label>
                                        <div class="input-group">
                                           <select class="form-select" aria-label="Default select example" name="Quantity type" id="quantity_type" [(ngModel)]="quantity">
                                              <option selected="Quantity">Quantity</option>
                                              <option value="Ton">Ton</option>
                                              <option value="Kg">Kg</option>
                                              <option value="Pieces">Pieces</option>
                                              <option value="Packet">Packet</option>
                                           </select>
                                        </div>
                                     </div>
                                     <div class="col-md-6">
                                        <label for="list_value" class="form-label"><span class="text-danger">*</span>List Value</label>
                                        <div class="input-group">
                                           <input type="number" name="List value" class="form-control" id="list_value" [(ngModel)]="listValue" (keyup)="changeProductListValue($event)" onkeypress="if(event.which < 48 || event.which > 57 ) if(event.which != 8) if(event.keyCode != 9)  return false;">
                                        </div>
                                     </div>
                                  </div>
                                  <div class="row">
                                     <div class="col-md-3">
                                        <label for="discount" class="form-label"><span class="text-danger">*</span>Discount</label>
                                        <div class="input-group mb-3">
                                           <input type="number" name="Discount" class="form-control mb-0" id="discount" [(ngModel)]="discount" (keyup)="changeProductDiscount($event)" onkeypress="if(event.which < 48 || event.which > 57 ) if(event.which != 8) if(event.keyCode != 9)  return false;">
                                           <span class="input-group-text">%</span>
                                        </div>
                                     </div>
                                     <div class="col-md-9">
                                        <label for="final_value" class="form-label"><span class="text-danger">*</span>Final Value</label>
                                        <div class="input-group">
                                           <input type="text" name="Final value" class="form-control" id="final_value" [(ngModel)]="finalValue" readonly>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="row">
                                     <div class="col-md-12">
                                        <label for="description" class="form-label"><span class="text-danger">*</span>Description</label>
                                        <div class="input-group">
                                           <textarea name="Description" class="form-control" id="description" rows="7" [(ngModel)]="productDesc" onkeypress="if(this.value.length > 100) return false;"></textarea>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="row mt-5">
                                     <div class="col-md-12">
                                        <button class="btn btn-dark btn-lg me-2" type="button" (click)="saveprev()">Prev. Step <i class="fas fa-chevron-circle-left"></i></button>
                                        <!-- <button class="btn btn-warning btn-lg me-2" type="button" data-bs-dismiss="modal" aria-label="Close">Save &amp; Close <i class="fas fa-times-circle"></i></button> -->
                                        <button class="btn btn-success btn-lg" type="button" (click)="saveNext();">Next Step<i class="fas fa-chevron-circle-right"></i></button>
                                     </div>
                                  </div>
                               <!-- </form> -->
                            </div>
                         </div>
                         <!--Current &amp; Competitor details-->
                         <div id="stepDtl_4" class="contactRgtForm hide">
                            <h3>Current &amp; Competitor</h3>
                            <div class="popupForm">
                               <!-- <form action="#" target="_blank"> -->
                                  <div class="row mb-2" *ngFor="let data1 of currentCompetitor; index as i">
                                     <div class="col-md-12">
                                        <label for="product_name" class="form-label"><span class="text-danger">*</span>Product Name</label>
                                        <div class="input-group">
                                           <select class="form-select" aria-label="Default select example" name="Product Name" id="product_name" [(ngModel)]="data1.productName">
                                              <option selected>Select an option</option>
                                              <option *ngFor="let data of getAllProductArray" [value]="data.productId">{{data.productName}}</option>
                                           </select>
                                        </div>
                                     </div>
                                     <div class="col-md-12">
                                        <div class="col-md-12">
                                           <div class="input-group">
                                              <textarea name="desc" class="form-control" id="description" placeholde="Description" [(ngModel)]="data1.desc" onkeypress="if(this.value.length > 100) return false;"></textarea>
                                           </div>
                                        </div>
                                     </div>
                                     <div class="col-md-12">
                                       <div class="form-check d-inline-block align-middle me-3 mb-2">
                                          <input class="form-check-input" type="radio" name="current_{{i}}" id="currently_{{i}}" [value] = '"1"' [(ngModel)]="data1.status">
                                          <label class="form-check-label" for="currently">Currently using</label>
                                       </div>
                                       <div class="form-check d-inline-block align-middle mb-2">
                                          <input class="form-check-input" type="radio" name="current_{{i}}" id="Competitor_{{i}}" [value] = '"2"' [(ngModel)]="data1.status">
                                          <label class="form-check-label" for="Competitor">Competitor</label>
                                       </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                     <div class="col-md-12 mt-5">
                                        <a class="btn btn-xs btn-primary mb-3"  (click)="addCompititor()">+ Add Another</a>
                                     </div>
                                  </div>
                                  <div class="row mt-5">
                                     <div class="col-md-12">
                                        <button class="btn btn-dark btn-lg me-2" type="button" (click)="saveprev()">Prev. Step <i class="fas fa-chevron-circle-left"></i></button>
                                        <!-- <button class="btn btn-warning btn-lg me-2" type="button" data-bs-dismiss="modal" aria-label="Close">Save &amp; Close <i class="fas fa-times-circle"></i></button> -->
                                        <button class="btn btn-success btn-lg" type="button" (click)="saveNext();">Next Step<i class="fas fa-chevron-circle-right"></i></button>
                                     </div>
                                  </div>
                               <!-- </form> -->
                            </div>
                         </div>
                         <!--Visibility Permissions details-->
                         <div id="stepDtl_5" class="contactRgtForm hide">
                            <h3>Visibility Permissions</h3>
                            <div class="popupForm">
                               <!-- <form action="#" target="_blank"> -->
                                  <div class="row">
                                     <div class="col-md-12">
                                        <div class="form-check mb-3">
                                           <input class="form-check-input" type="radio" name="visibility_radio" id="everyone" value="0" (change)="getPermissionData(0)" [(ngModel)]="permission">
                                           <label class="form-check-label" for="everyone">Everyone</label>
                                        </div>
                                        <div class="form-check mb-3">
                                           <input class="form-check-input" type="radio" name="visibility_radio" id="recordowner" value="1" (change)="getPermissionData(1)" [(ngModel)]="permission">
                                           <label class="form-check-label" for="recordowner">Only the record owner</label>
                                        </div>
                                        <!-- <div class="form-check mb-3">
                                           <input class="form-check-input" type="radio" name="visibility_radio" id="team" value="2" (change)="getPermissionData(2)" [(ngModel)]="permission">
                                           <label class="form-check-label" for="team">Select a team</label>
                                        </div> -->
                                        <div class="form-check mb-3" [hidden]="parmissionIndivisualTypeHide">
                                           <input class="form-check-input" type="radio" name="visibility_radio" id="individualpeople" value="3" (change)="getPermissionData(3)" [(ngModel)]="permission">
                                           <label class="form-check-label" for="individualpeople">Select individual people</label>
                                        </div>
                                     </div>
                                     <div class="col-md-12" [hidden]="parmissionIndivisualHide">
                                       <label for="parmissionType" class="form-label">Select User</label>
                                       <div class="input-group">
                                          <select class="form-select" aria-label="Default select example" id="status_type" [(ngModel)]="permissionIndiVisual">
                                             <option selected>Select user</option>
                                             <option *ngFor="let data of allUser" value="{{data.userId}}">{{data.firstName}} {{data.lastName}}</option>
                                          </select>
                                       </div>
                                    </div>
                                  </div>
                                  <div class="row mt-5">
                                     <div class="col-md-12">
                                        <button class="btn btn-dark btn-lg me-2" type="button" (click)="saveprev()">Prev. Step <i class="fas fa-chevron-circle-left"></i></button>
                                        <!-- <button class="btn btn-warning btn-lg me-2" type="button" data-bs-dismiss="modal" aria-label="Close">Save &amp; Close <i class="fas fa-times-circle"></i></button> -->
                                        <button class="btn btn-success btn-lg" type="button" *ngIf="isEdit == false" (click)="addOpportunity()">Submit <i class="fas fa-chevron-circle-right"></i></button>
                                        <button class="btn btn-success btn-lg" type="button" *ngIf="isEdit == true" (click)="updateOpportunity()">Update <i class="fas fa-chevron-circle-right"></i></button>
                                     </div>
                                  </div>
                               <!-- </form> -->
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    <!-- </div>
 </div> -->