<div class="modal-content">
    <div class="modal-header">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-10">
                    <h3 class="modal-title d-inline-block align-middle me-2" *ngIf="!modalTypeFlag">Create New Task</h3>
                    <h3 class="modal-title d-inline-block align-middle me-2" *ngIf="modalTypeFlag">Update Task</h3>
                    <div class="d-inline-block align-middle">
                        <!--            <a class="btn btn-link" >Edit page layout</a>-->
                    </div>
                </div>
                <div class="col-sm-2 d-flex justify-content-end">
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close"
                        (click)="modalClose()"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-xs-3 border-end border-dark py-5 pe-4">
                    <div class="contactLftList" id="simple-bar-left">
                        <ol class="list-group list-group-numbered">
                            <li id="step_0" class="active">
                                <figure class="d-inline-block align-middle">
                                    <img src="assets/images/popup_book.svg" alt="popup_book">
                                </figure>
                                <h5 class="d-inline-block align-middle">Task Details</h5>
                            </li>
                            <li id="step_1">
                                <figure class="d-inline-block align-middle">
                                    <img src="assets/images/popup_directions.svg" alt="popup_directions">
                                </figure>
                                <h5 class="d-inline-block align-middle">Additional Information</h5>
                            </li>
                            <li id="step_2">
                                <figure class="d-inline-block align-middle">
                                    <img src="assets/images/popup_clipboard.svg" alt="popup_clipboard">
                                </figure>
                                <h5 class="d-inline-block align-middle">Description</h5>
                            </li>
                            <li id="step_3">
                                <figure class="d-inline-block align-middle">
                                    <img src="assets/images/popup_eye-no.svg" alt="popup_eye">
                                </figure>
                                <h5 class="d-inline-block align-middle">Permissions</h5>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="col-md-8 col-xs-8 py-5 ps-5">
                    <div id="simple-bar-right">
                        <!--personal details-->
                        <div id="stepDtl_0" class="contactRgtForm show">
                            <h3>Task Details</h3>
                            <div class="popupForm">

                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="popup_firstname" class="form-label"><span
                                                class="text-danger">*</span>Task Name</label>
                                        <div class="input-group">
                                            <input type="text" name="firstName" class="form-control"
                                                onkeypress="return ((event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 8 || event.charCode == 32 || (event.charCode >= 48 && event.charCode <= 57));"
                                                id="popup_firstname" [(ngModel)]="taskName">
                                        </div>
                                    </div>


                                    <div class="col-md-12">
                                        <label for="contact_type" class="form-label"><span
                                                class="text-danger">*</span>Task
                                            Category</label>
                                        <div class="input-group">
                                            <select class="form-select" aria-label="Default select example"
                                                id="contact_type" [(ngModel)]="taskCategory">
                                                <option value="">Select an option</option>
                                                <option *ngFor="let item of taskCategoryList" [value]="item.categoryId">
                                                    {{item.categoryName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <!---------------------- Previous Logic Only Admin can Assign--------------->

                                    <!-- <div class="col-md-12 mb-3" *ngIf="assignToFlag">
                                        <label for="status_type" class="form-label d-block"><span
                                                class="text-danger">*</span>Assigned
                                            to</label>
                                        <mat-radio-group style="padding-left:12px;" aria-label="Select an option"
                                            [(ngModel)]="assignType">
                                            <mat-radio-button [value]="1">Users</mat-radio-button>&nbsp;&nbsp;
                                            <mat-radio-button disabled [value]="2">Groups</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                    <div class="col-md-12" *ngIf="assignToFlag">
                                        <div class="input-group">
                                            <select class="form-select" aria-label="Default select example"
                                                id="status_type" [(ngModel)]="selectUser">
                                                <option value="">Select user</option>
                                                <option *ngFor="let item of assignUserList" [ngValue]="item.userId">
                                                    {{item.firstName}}&nbsp;{{item.lastName}}</option>
                                            </select>
                                        </div>
                                    </div> -->

                                    <div class="col-md-12 mb-3">
                                        <label for="status_type" class="form-label d-block"><span
                                                class="text-danger">*</span>Assigned
                                            to</label>
                                        <mat-radio-group style="padding-left:12px;" aria-label="Select an option"
                                            [(ngModel)]="assignType">
                                            <mat-radio-button [value]="1">Users</mat-radio-button>&nbsp;&nbsp;
                                            <mat-radio-button disabled [value]="2">Groups</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <select class="form-select" aria-label="Default select example"
                                                id="status_type" [(ngModel)]="selectUser">
                                                <option value="">Select user</option>
                                                <option *ngFor="let item of assignUserList" [ngValue]="item.userId">
                                                    {{item.firstName}}&nbsp;{{item.lastName}}</option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="col-md-12">
                                        <label class="form-label col-auto d-block"><span class="text-danger">*</span>Due
                                            Date</label>
                                        <div class="input-group date" id="datepicker">
                                            <input type="date" class="form-control" id="expectedclose_date"
                                                [(ngModel)]="dueDate">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="status_type" class="form-label"><span
                                                class="text-danger">*</span>Priority
                                            Status</label>
                                        <div class="input-group">
                                            <select class="form-select" aria-label="Default select example"
                                                id="status_type" [(ngModel)]="priorityStatus">
                                                <option value="">Select an option</option>
                                                <option *ngFor="let item of priorityList" [value]="item.priorityId">
                                                    {{item.priorityName}}
                                                </option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label for="status_type" class="form-label"><span
                                                class="text-danger">*</span>Task
                                            Stage</label>
                                        <div class="input-group">
                                            <select class="form-select" aria-label="Default select example"
                                                [(ngModel)]="taskStage">
                                                <option value="">Select an option</option>
                                                <option *ngFor="let item of stageList" [value]="item.taskStageId">
                                                    {{item.stageName}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-12 pb-4">
                                        <button class="btn btn-warning btn-lg me-2" type="button"
                                            data-bs-dismiss="modal" aria-label="Close" (click)="modalClose()">Close <i
                                                class="fas fa-times-circle"></i>
                                        </button>
                                        <button class="btn btn-success btn-lg" type="button" (click)="saveNext()">Next
                                            <i class="fas fa-chevron-circle-right"></i></button>
                                    </div>

                                </div>


                            </div>
                        </div>
                        <!--address details-->
                        <div id="stepDtl_1" class="contactRgtForm hide">
                            <h3>Additional Information</h3>
                            <div class="popupForm">
                                <!-- <form action="#" target="_blank"> -->

                                <div class="row mb-3">
                                    <div class="col-md-12">
                                        <label for="address_popup" class="form-label"><span
                                                class="text-danger">*</span>Organization
                                            Name</label>
                                        <div class="input-group">
                                            <textarea name="Address" class="form-control" rows="7"
                                                [(ngModel)]="organizationName"></textarea>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="popup_state" class="form-label"><span
                                                class="text-danger">*</span>Contact
                                            Person
                                            Name</label>
                                        <div class="input-group">
                                            <input type="text" name="State" class="form-control" id="popup_state"
                                                [(ngModel)]="personName">
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <label class="form-label"><span class="text-danger">*</span>Phone
                                            Number</label>
                                        <div class="input-group" *ngFor="let obj of phoneNo; let i = index;">
                                            <input type="number" name="District" class="form-control"
                                                [(ngModel)]="obj.item"
                                                onkeypress="if(this.value.length >9) return false; if(event.which < 48 || event.which > 57 ) if(event.which != 8) if(event.keyCode != 9)  return false;">
                                            <button class="btn btn-outline-danger input-group-height"
                                                *ngIf="phoneNo.length > 1" (click)="remove(i, 0)">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        <a class="btn btn-link p-0 add_field mb-2" (click)="add(0)"
                                            *ngIf="phoneNo.length < 2">+ Add</a>
                                    </div>

                                    <div class="col-md-12">
                                        <label class="form-label">
                                            <!-- <span class="text-danger">*</span> -->
                                            Email Address</label>
                                        <div class="input-group" *ngFor="let obj of email; let i = index;">
                                            <input type="text" name="Zone" class="form-control" [(ngModel)]="obj.item">
                                            <button class="btn btn-outline-danger input-group-height"
                                                *ngIf="email.length > 1" (click)="remove(i, 1)">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        <a class="btn btn-link p-0 add_field mb-2" (click)="add(1)"
                                            *ngIf="email.length < 2">+ Add</a>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4 pt-2">
                                                <mat-checkbox style="padding-left: 12px;" class="example-margin"
                                                    [(ngModel)]="needMeeting" (change)="meetingNeed()">Need
                                                    Meeting
                                                </mat-checkbox>
                                                <!-- <mat-radio-button [value]="1" >Need Meeting</mat-radio-button> -->

                                            </div>
                                            <div class="col-md-5" *ngIf="meetingFlag">
                                                <div class="form-control">
                                                    <div class="input-group date" id="meeting-time">


                                                        <input class="form-check-input" style="margin-top: 4px;
                            margin-left: 12px;" type="datetime-local" [(ngModel)]="meetingTime" class="text-blue">



                                                        <!----------- Date Time Material-------------->

                                                        <!-- <mat-form-field>
                                                            <input matInput [ngxMatDatetimePicker]="picker"
                                                                placeholder="Choose a date" [(ngModel)]="meetingTime"
                                                                (change)="dateSelect()">

                                                            <mat-datepicker-toggle matSuffix [for]="$any(picker)">
                                                            </mat-datepicker-toggle>
                                                            <ngx-mat-datetime-picker #picker>
                                                                <ng-template>
                                                                    <span>OK</span>
                                                                </ng-template>
                                                            </ngx-mat-datetime-picker>
                                                        </mat-form-field> -->

                                                        <!----------- Date Time Material-------------->

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="col-md-4 pt-2">
                                            <mat-checkbox class="example-margin" style="padding-left: 12px;"
                                                (change)="recurring()" [(ngModel)]="recurringStatus">Recurring
                                            </mat-checkbox>
                                        </div>
                                    </div>
                                    <div class="col-md-12 pt-3" *ngIf="recurringFlag">
                                        <label for="status_type" class="form-label"><span
                                                class="text-danger">*</span>Recurring
                                            Type</label>
                                        <div class="input-group">
                                            <select class="form-select" aria-label="Default select example"
                                                id="status_type" (change)="selectedRecurring()"
                                                [(ngModel)]="selectedRecurringType">
                                                <option value="">Select an option</option>
                                                <option [value]="1">Daily from a particular date</option>
                                                <option [value]="2">Start date to end date</option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="col-md-12 pt-3" *ngIf="fromToenddateFlag">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="status_type" class="form-label"><span
                                                        class="text-danger">*</span>Start Date</label>
                                                <input type="date" class="form-control" id="expectedclose_date"
                                                    [(ngModel)]="startDate">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="status_type" class="form-label"><span
                                                        class="text-danger">*</span>End
                                                    Date</label>
                                                <input type="date" class="form-control" id="expectedclose_date"
                                                    [(ngModel)]="endDate">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6 pt-3" *ngIf="dailyDateFlag">
                                        <label for="status_type" class="form-label"><span
                                                class="text-danger">*</span>Select
                                            Date</label>
                                        <input type="date" class="form-control" id="expectedclose_date"
                                            [(ngModel)]="startDate">
                                    </div>


                                    <div class="row mt-5">
                                        <div class="col-md-12">
                                            <button class="btn btn-dark btn-lg me-2" type="button" (click)="saveprev()">
                                                Prev. Step <i class="fas fa-chevron-circle-left"></i></button>
                                            <button class="btn btn-warning btn-lg me-2" type="button"
                                                (click)="modalClose()">Close <i
                                                    class="fas fa-times-circle"></i></button>
                                            <button class="btn btn-success btn-lg" type="button" (click)="saveNext();">
                                                Next<i class="fas fa-chevron-circle-right"></i></button>
                                        </div>
                                    </div>

                                    <!-- </form> -->
                                </div>
                            </div>
                        </div>


                        <!--Description details-->
                        <div id="stepDtl_2" class="contactRgtForm hide">
                            <h3>Task Description</h3>
                            <div class="popupForm">
                                <form action="#" target="_blank">


                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="address_popup" class="form-label col-auto d-block"><span
                                                    class="text-danger">*</span>Description</label>
                                            <textarea name="Address" class="form-control" id="address_popup" rows="7"
                                                style="height:200px" [(ngModel)]="description"
                                                onkeypress="if(this.value.length > 500) return false;"></textarea>
                                        </div>
                                    </div>


                                    <div class="row mt-5">
                                        <div class="col-md-12">
                                            <button class="btn btn-dark btn-lg me-2" type="button" (click)="saveprev()">
                                                Prev. Step <i class="fas fa-chevron-circle-left"></i></button>
                                            <button class="btn btn-warning btn-lg me-2" type="button"
                                                (click)="modalClose()">Close <i
                                                    class="fas fa-times-circle"></i></button>
                                            <button class="btn btn-success btn-lg" type="button" (click)="saveNext();">
                                                Next
                                                <i class="fas fa-chevron-circle-right"></i></button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>

                        <!--Online existence details-->
                        <div id="stepDtl_3" class="contactRgtForm hide">
                            <h3>Visibility Permissions</h3>
                            <div class="popupForm">
                                <div class="row">
                                    <div class="col-md-12" style="margin-left:12px;">

                                        <mat-radio-group aria-label="Select an option"
                                            [(ngModel)]="visibilityPermission" (change)="visibilityPersionFun()">
                                            <mat-radio-button [value]="1">Everyone</mat-radio-button>
                                            <br><br>
                                            <mat-radio-button [value]="2">Only the record owner</mat-radio-button>
                                            <br><br>
                                            <!-- <mat-radio-button [value]="3">Select a team</mat-radio-button><br><br> -->

                                            <!-- <mat-radio-button [value]="4" *ngIf="VisiPermissionFlag">Select individual
                                                people
                                            </mat-radio-button> -->

                                            <mat-radio-button [value]="4">Select individual
                                                people
                                            </mat-radio-button>

                                            <br><br>
                                        </mat-radio-group>


                                    </div>
                                    <div class="col-md-12" *ngIf="visibilityPersionFlag">
                                        <div class="input-group">
                                            <select class="form-select" aria-label="Default select example"
                                                id="status_type" [(ngModel)]="accessId">
                                                <option value="">Select user</option>
                                                <option *ngFor="let item of assignUserList" [ngValue]="item.userId">
                                                    {{item.firstName}}&nbsp;{{item.lastName}}</option>
                                            </select>
                                        </div>
                                    </div>


                                </div>


                                <div class="row mt-5">
                                    <div class="col-md-12">
                                        <button class="btn btn-dark btn-lg me-2" type="button" (click)="saveprev()">
                                            Prev. Step <i class="fas fa-chevron-circle-left"></i></button>
                                        <button class="btn btn-warning btn-lg me-2" type="button"
                                            (click)="modalClose()">Close <i class="fas fa-times-circle"></i>
                                        </button>
                                        <button class="btn btn-success btn-lg" *ngIf="!modalTypeFlag" type="button"
                                            (click)="submit()">Submit <i
                                                class="fas fa-chevron-circle-right"></i></button>
                                        <button class="btn btn-success btn-lg" *ngIf="modalTypeFlag" type="button"
                                            (click)="update()">Update <i
                                                class="fas fa-chevron-circle-right"></i></button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>