input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

mat-radio-button{
  margin-left: 10px !important
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
	background-color: blue !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
	background-color:blue!important;  
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
	border-color:blue!important; 
}