<main class="content" *ngIf = "thirdPartyFlag">
    <div class="container-fluid p-0">


        <div class="row mb-2 mb-lg-4">
            <div class="col-md-12 d-lg-flex align-items-center main-hdng">
                <div class="col-md-6">
                    <h3>Integrations</h3>
                </div>
                <div class="col-md-6">
                    <div class="">
                        <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-end">
                                <li class="breadcrumb-item"><a href="#">Administration</a></li>
                                <li class="breadcrumb-item"><a href="#">Integrations</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Third Party Integrations</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mb-2 mb-lg-4">
            <div class="col-md-12 d-lg-flex align-items-center hdng-btm">
                <div class="col-md-12">
                    <ul class="mt-3 mt-lg-0 mb-0 tabstyle_nav">
                        <li class="list-inline-item active">
                            <a class="px-3 py-2 bg-white" (click) = "thirdParty()">Third Party
                                Integrations</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="px-3 py-2 bg-white" (click) = "webHooks()">Webhooks</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>



        <div class="row">
            <div class="col-md-12 ">

                <div class="bg-white shadow-lg py-4 px-4 rounded-3">
                    <div id="datatables-reponsive_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">

                        <div class="d-md-flex align-items-center mb-3">
                            <div class="col-auto d-block">
                                <h3>Third Party</h3>
                            </div>


                        </div>


                        <div class="table-responsive">
                            <table id="datatables-column-search-select-inputs" class="table table-striped dataTable"
                                style="width: 100%;" aria-describedby="datatables-column-search-select-inputs_info">
                                <thead class="thead-dark">
                                    <tr role="row">
                                        <th class="sorting align-middle">&nbsp;</th>
                                        <th class="sorting align-middle">Host Name</th>
                                        <th class="sorting align-middle">API Key</th>
                                        <th class="sorting align-middle">PEM File</th>
                                        <th class="sorting align-middle">&nbsp;</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr role="row" class="odd">
                                        <td class="align-middle">Zoom</td>
                                        <td class="align-middle">
                                            <input type="text" placeholder="Enter Host Name"
                                                class="form-control input-sm">
                                        </td>
                                        <td class="align-middle">
                                            <input type="text" placeholder="Enter API Key"
                                                class="form-control input-sm">
                                        </td>
                                        <td class="align-middle">
                                            <div class="table_browse_btn">
                                                <div class="input-button-wrap">
                                                    <label class="input-button" for="upload">Browse File</label>
                                                    <input id="upload" type="file">
                                                </div>
                                            </div>
                                        </td>
                                        <td width="30px" class="align-middle">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" id="moduleSwitch">
                                            </div>
                                        </td>
                                    </tr>


                                    <tr role="row" class="even">
                                        <td class="align-middle">Google Workspace</td>
                                        <td class="align-middle">
                                            <input type="text" placeholder="Enter Host Name"
                                                class="form-control input-sm">
                                        </td>
                                        <td class="align-middle">
                                            <input type="text" placeholder="Enter API Key"
                                                class="form-control input-sm">
                                        </td>
                                        <td class="align-middle">
                                            <div class="table_browse_btn">
                                                <div class="input-button-wrap">
                                                    <label class="input-button" for="upload">Browse File</label>
                                                    <input id="upload" type="file">
                                                </div>
                                            </div>
                                        </td>
                                        <td width="30px" class="align-middle">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" id="moduleSwitch">
                                            </div>
                                        </td>
                                    </tr>

                                    <tr role="row" class="odd">
                                        <td class="align-middle">Google Meet</td>
                                        <td class="align-middle">
                                            <input type="text" placeholder="Enter Host Name"
                                                class="form-control input-sm">
                                        </td>
                                        <td class="align-middle">
                                            <input type="text" placeholder="Enter API Key"
                                                class="form-control input-sm">
                                        </td>
                                        <td class="align-middle">
                                            <div class="table_browse_btn">
                                                <div class="input-button-wrap">
                                                    <label class="input-button" for="upload">Browse File</label>
                                                    <input id="upload" type="file">
                                                </div>
                                            </div>
                                        </td>
                                        <td width="30px" class="align-middle">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" id="moduleSwitch">
                                            </div>
                                        </td>
                                    </tr>


                                    <tr role="row" class="even">
                                        <td class="align-middle">Office 365</td>
                                        <td class="align-middle">
                                            <input type="text" placeholder="Enter Host Name"
                                                class="form-control input-sm">
                                        </td>
                                        <td class="align-middle">
                                            <input type="text" placeholder="Enter API Key"
                                                class="form-control input-sm">
                                        </td>
                                        <td class="align-middle">
                                            <div class="table_browse_btn">
                                                <div class="input-button-wrap">
                                                    <label class="input-button" for="upload">Browse File</label>
                                                    <input id="upload" type="file">
                                                </div>
                                            </div>
                                        </td>
                                        <td width="30px" class="align-middle">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" id="moduleSwitch">
                                            </div>
                                        </td>
                                    </tr>


                                    <tr role="row" class="odd">
                                        <td class="align-middle">HRMS</td>
                                        <td class="align-middle">
                                            <input type="text" placeholder="Enter Host Name"
                                                class="form-control input-sm">
                                        </td>
                                        <td class="align-middle">
                                            <input type="text" placeholder="Enter API Key"
                                                class="form-control input-sm">
                                        </td>
                                        <td class="align-middle">
                                            <div class="table_browse_btn">
                                                <div class="input-button-wrap">
                                                    <label class="input-button" for="upload">Browse File</label>
                                                    <input id="upload" type="file">
                                                </div>
                                            </div>
                                        </td>
                                        <td width="30px" class="align-middle">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" id="moduleSwitch">
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>


                        <div class="d-xl-flex align-items-center mt-3">
                            <div class="col-auto d-block">
                                <div class="text-start">
                                    <button class="btn btn-success btn-lg">Save <i class="fas fa-save"></i></button>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>
            </div>

        </div>
    </div>
</main>



<!---------- For Webhooks----- -->


<main class="content" *ngIf = "webhooksFlag">
    <div class="container-fluid p-0">


        <div class="row mb-2 mb-lg-4">
            <div class="col-md-12 d-lg-flex align-items-center main-hdng">
                <div class="col-md-6">
                    <h3>Integrations</h3>
                </div>
                <div class="col-md-6">
                    <div class="">
                        <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-end">
                                <li class="breadcrumb-item"><a href="#">Administration</a></li>
                                <li class="breadcrumb-item"><a href="#">Integrations</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Webhooks</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mb-2 mb-lg-4">
            <div class="col-md-12 d-lg-flex align-items-center hdng-btm">
                <div class="col-md-6">
                    <ul class="mt-3 mt-lg-0 mb-0 tabstyle_nav">
                        <li class="list-inline-item">
                            <a class="px-3 py-2 bg-white" (click) = "thirdParty()">Third Party
                                Integrations</a>
                        </li>
                        <li class="list-inline-item active">
                            <a class="px-3 py-2 bg-white" (click) = "webHooks()">Webhooks</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-6 text-end">
                    <ul class="list-inline ml-auto mt-3 mt-lg-0 mb-0">
                        <li class="list-inline-item">
                            <button class="btn btn-primary btn-lg">Add New <i class="fas fa-plus"></i></button>
                        </li>
                        <li class="list-inline-item active">
                            <button class="btn btn-success btn-lg">Save <i class="fas fa-save"></i></button>
                        </li>
                    </ul>
                </div>

            </div>
        </div>



        <div class="row">
            <div class="col-md-12 ">

                <div class="bg-white shadow-lg py-4 px-4 rounded-3">
                    <div id="datatables-reponsive_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">

                        <div class="d-md-flex align-items-center mb-3">
                            <div class="col-auto d-block">
                                <h3>Webhooks</h3>
                            </div>


                        </div>


                        <div class="table-responsive">
                            <table id="datatables-column-search-select-inputs" class="table table-striped dataTable"
                                style="width: 100%;" aria-describedby="datatables-column-search-select-inputs_info">
                                <thead class="thead-dark">
                                    <tr role="row">
                                        <th class="sorting align-middle">&nbsp;</th>
                                        <th class="sorting align-middle">Host Name</th>
                                        <th class="sorting align-middle">API Key</th>
                                        <th class="sorting align-middle">PEM File</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr role="row" class="odd">
                                        <td class="align-middle">Clients</td>
                                        <td class="align-middle">
                                            <input type="text" placeholder="Enter URL" class="form-control input-sm">
                                        </td>
                                        <td class="align-middle">
                                            <input type="text" placeholder="Enter API Key"
                                                class="form-control input-sm">
                                        </td>
                                        <td width="30px" class="align-middle">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" id="moduleSwitch">
                                            </div>
                                        </td>
                                    </tr>

                                    <tr role="row" class="even">
                                        <td class="align-middle">Tasks</td>
                                        <td class="align-middle">
                                            <input type="text" placeholder="Enter URL" class="form-control input-sm">
                                        </td>
                                        <td class="align-middle">
                                            <input type="text" placeholder="Enter API Key"
                                                class="form-control input-sm">
                                        </td>
                                        <td width="30px" class="align-middle">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" id="moduleSwitch">
                                            </div>
                                        </td>
                                    </tr>

                                    <tr role="row" class="odd">
                                        <td class="align-middle">Attendance</td>
                                        <td class="align-middle">
                                            <input type="text" placeholder="Enter URL" class="form-control input-sm">
                                        </td>
                                        <td class="align-middle">
                                            <input type="text" placeholder="Enter API Key"
                                                class="form-control input-sm">
                                        </td>
                                        <td width="30px" class="align-middle">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" id="moduleSwitch">
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                        <div class="d-xl-flex align-items-center mt-3">

                            <div class="col-auto d-block">

                                <div class="text-start">
                                    <button class="btn btn-success btn-lg">Save <i class="fas fa-save"></i></button>
                                </div>
                            </div>

                        </div>





                    </div>
                </div>
            </div>

        </div>
    </div>
</main>

<div id="settings" class="settings js-settings">
    <div onclick="settingsToggle()" class="settings-toggle">
        <div class="settings-toggle-option settings-toggle-option-text js-settings-toggle" title="Theme Builder">
            <div class="d-inline-block my-1"><img src="assets/images/fluent_paint-bucket.svg" alt="fluent_paint-bucket">
            </div>
            <div class="d-inline-block my-1"><img src="assets/images/fluent_settings.svg" alt="fluent_settings">
            </div>
        </div>
    </div>

    <div class="settings-panel">
        <div class="settings-content">
            <div class="settings-title d-flex align-items-center">
                <button type="button" class="btn-close float-right js-settings-toggle"
                    onclick="settingsToggleClose()"></button>

                <h4 class="mb-0 ms-2 d-inline-block">Settings</h4>
            </div>

            <div class="settings-body">

                <div class="alert alert-primary" role="alert">
                    <div class="alert-message">
                        <strong>Hey there!</strong> Set your own customized style below. Choose the ones that best
                        fits your needs.
                    </div>
                </div>

                <div class="mb-3">
                    <span class="d-block font-size-lg font-weight-bold">Color scheme</span>
                    <span class="d-block text-muted mb-2">The perfect color mode for your app.</span>

                    <div class="row g-0 text-center mx-n1 mb-2">
                        <div class="col">
                            <label class="mx-1 d-block mb-1">
                                <input class="settings-scheme-label" type="radio" name="theme" value="default">
                                <div class="settings-scheme">
                                    <div class="settings-scheme-theme settings-scheme-theme-default"></div>
                                </div>
                            </label>
                            Default
                        </div>
                        <div class="col">
                            <label class="mx-1 d-block mb-1">
                                <input class="settings-scheme-label" type="radio" name="theme" value="colored">
                                <div class="settings-scheme">
                                    <div class="settings-scheme-theme settings-scheme-theme-colored"></div>
                                </div>
                            </label>
                            Colored
                        </div>
                    </div>
                    <div class="row g-0 text-center mx-n1">
                        <div class="col">
                            <label class="mx-1 d-block mb-1">
                                <input class="settings-scheme-label" type="radio" name="theme" value="dark">
                                <div class="settings-scheme">
                                    <div class="settings-scheme-theme settings-scheme-theme-dark"></div>
                                </div>
                            </label>
                            Dark
                        </div>
                        <div class="col">
                            <label class="mx-1 d-block mb-1">
                                <input class="settings-scheme-label" type="radio" name="theme" value="light">
                                <div class="settings-scheme">
                                    <div class="settings-scheme-theme settings-scheme-theme-light"></div>
                                </div>
                            </label>
                            Light
                        </div>
                    </div>
                </div>

                <hr>

                <div class="mb-3">
                    <span class="d-block font-size-lg font-weight-bold">Sidebar position</span>
                    <span class="d-block text-muted mb-2">Toggle the position of the sidebar.</span>

                    <div>
                        <label>
                            <input class="settings-button-label" type="radio" name="sidebarPosition" value="left">
                            <div class="settings-button">
                                Left
                            </div>
                        </label>
                        <label>
                            <input class="settings-button-label" type="radio" name="sidebarPosition" value="right">
                            <div class="settings-button">
                                Right
                            </div>
                        </label>
                    </div>
                </div>

                <hr>

                <div class="mb-3">
                    <span class="d-block font-size-lg font-weight-bold">Sidebar behavior</span>
                    <span class="d-block text-muted mb-2">Change the behavior of the sidebar.</span>

                    <div>
                        <label>
                            <input class="settings-button-label" type="radio" name="sidebarBehavior" value="sticky">
                            <div class="settings-button">
                                Sticky
                            </div>
                        </label>
                        <label>
                            <input class="settings-button-label" type="radio" name="sidebarBehavior" value="fixed">
                            <div class="settings-button">
                                Fixed
                            </div>
                        </label>
                    </div>
                </div>


            </div>


        </div>
    </div>
</div>