<notifier-container></notifier-container>

<!----------------------- New CRM LOGIN-----------------------  -->

<div class="log_se" style="height: 100vh;">
  <div class="manin_wrap bg-white shadow-lg con_dv">

      <div class="main_div">



          <div class="man_log">

              <div class="man_log_in">
                  <div class="wlc_txt_img">
                      <div><img src="assets/images/logo2.png"></div>
                      <div><img src="assets/images/sit-img1.png"></div>
                      <div class="sml_imge"><img src="assets/images/logo-smal.png"></div>
                  </div>
                  <div class="wlc_logne">
                      <h3>Login</h3>
                      <div class="sfa_log">
                          <div class="log_scne">
                              <label>Your User ID</label>
                              <input type="text" class="form-control new" placeholder="Enter your User ID here" [(ngModel)]="email">
                          </div>
                          <div class="log_scne">
                              <label>Your Password</label>
                              <input type="password" class="form-control new" placeholder="**********" [(ngModel)]="password">
                          </div>
                          <div class="forgt_dv">
                              <button style="margin: 10px;">Forget Password</button>
                              <p>If you forgot your password click on the link above you will get your password
                                  reset link at your mail address</p>
                          </div>
                          <button class="btn logine" (click)="login()">Login</button>
                      </div>
                      <div class="btm_sc">
                          <a href="">Privacy Policy | </a>
                          <a href="">Cookie policy</a>
                      </div>
                  </div>
              </div>
          </div>



      </div>

  </div>

</div>