<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="bg-white shadow-lg py-3 px-3 rounded-3 dashboard_top_box">
            <div class="hdr d-flex align-items-center mb-2">
                <div class="col-auto d-block"><h3>New Customer</h3></div>
                <div class="col-auto d-block ms-auto">
                    <a class="dropdown-toggle no-dropdown-arrow" [matMenuTriggerFor]="customerMenu">
                        <img src="assets/images/hdr-menu-vertical.svg" alt="menu-vertical">
                    </a>
                    <mat-menu #customerMenu="matMenu" xPosition="before">
                        <div *ngFor="let obj of filterList;">
                            <a mat-menu-item class="dropdown-item"
                               (click)="onCallTypeChange(obj.id, 'newCustomer')">{{obj.name}}</a>
                            <div class="dropdown-divider"></div>
                        </div>
                    </mat-menu>
                </div>
            </div>
            <div class="col-auto d-block">
                <h2 class="text-success">{{totalNewCustomer}}</h2>
                <h4><img class="d-inline-block align-middle me-2" src="assets/images/sucess_arrow-up-circle.svg"
                         alt="sucess_arrow"> {{totalNewCustomerGrowth}} Last Week</h4>
            </div>
        </div>
    </div>


    <div class="col-lg-3 col-md-6">
        <div class="bg-white shadow-lg py-3 px-3 rounded-3 dashboard_top_box">
            <div class="hdr d-flex align-items-center mb-2">
                <div class="col-auto d-block"><h3>Total Business</h3></div>
                <div class="col-auto d-block ms-auto">
                    <a class="dropdown-toggle no-dropdown-arrow" [matMenuTriggerFor]="businessMenu">
                        <img src="assets/images/hdr-menu-vertical.svg" alt="menu-vertical">
                    </a>
                    <mat-menu #businessMenu="matMenu" xPosition="before">
                        <div *ngFor="let obj of filterList;">
                            <a mat-menu-item class="dropdown-item"
                               (click)="onCallTypeChange(obj.id, 'totalBusiness')">{{obj.name}}</a>
                            <div class="dropdown-divider"></div>
                        </div>
                    </mat-menu>
                </div>
            </div>
            <div class="col-auto d-block">
                <h2 class="text-danger">{{totalBusiness}}</h2>
                <h4><img class="d-inline-block align-middle me-2" src="assets/images/danger_arrow-down-circle.svg"
                         alt="danger_arrow"> {{totalBusinessGrowth}} Last Week</h4>
            </div>
        </div>
    </div>


    <div class="col-lg-3 col-md-6">
        <div class="bg-white shadow-lg py-3 px-3 rounded-3 dashboard_top_box">
            <div class="hdr d-flex align-items-center mb-2">
                <div class="col-auto d-block"><h3>Expenses</h3></div>
                <div class="col-auto d-block ms-auto">
                    <a class="dropdown-toggle no-dropdown-arrow" [matMenuTriggerFor]="expensesMenu">
                        <img src="assets/images/hdr-menu-vertical.svg" alt="menu-vertical">
                    </a>

                    <mat-menu #expensesMenu="matMenu" xPosition="before">
                        <div *ngFor="let obj of filterList;">
                            <a mat-menu-item class="dropdown-item"
                               (click)="onCallTypeChange(obj.id, 'expenses')">{{obj.name}}</a>
                            <div class="dropdown-divider"></div>
                        </div>
                    </mat-menu>
                </div>
            </div>
            <div class="col-auto d-block">
                <h2 class="text-warning">{{totalExpenses}}</h2>
                <h4><img class="d-inline-block align-middle me-2" src="assets/images/warning_arrow-up-circle.svg"
                         alt="warning_arrow"> {{totalExpensesGrowth}} Last Week</h4>
            </div>
        </div>
    </div>


    <div class="col-lg-3 col-md-6">
        <div class="bg-white shadow-lg py-3 px-3 rounded-3 dashboard_top_box">
            <div class="hdr d-flex align-items-center mb-2">
                <div class="col-auto d-block"><h3>Employee Strength</h3></div>
                <div class="col-auto d-block ms-auto">
                    <a class="dropdown-toggle no-dropdown-arrow" [matMenuTriggerFor]="employeeMenu">
                        <img src="assets/images/hdr-menu-vertical.svg" alt="menu-vertical">
                    </a>

                    <mat-menu #employeeMenu="matMenu" xPosition="before">
                        <div *ngFor="let obj of filterList;">
                            <a mat-menu-item class="dropdown-item"
                               (click)="onCallTypeChange(obj.id, 'employeeStrength')">{{obj.name}}</a>
                            <div class="dropdown-divider"></div>
                        </div>
                    </mat-menu>
                </div>
            </div>
            <div class="col-auto d-block">
                <h2 class="text-success">{{totalEmployeeStrength}}</h2>
                <h4><img class="d-inline-block align-middle me-2" src="assets/images/sucess_arrow-up-circle.svg"
                         alt="success_arrow"> {{totalEmployeeStrengthGrowth}} Last Week</h4>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-lg-4 col-sm-12 mb-3">
        <app-barchart
                [title]="'Opportunity by Sales Stage'"
                [subtitle]="'Sum of opportunity value'"
                [totalAmount]="opportunityByStageTotal"
                [indexAxis]="'Y'"
                [chartLabel]="'Opportunity Value'"
                [backgroundColor]="'#3f51b5'"
                [borderColor]="'#3f51b5'"
                [dataset]="opportunityByStageData"
                (dayViewChanged)="onCallTypeChange($event, 'opportunityByStage')">
        </app-barchart>
    </div>
    <div class="col-lg-4 col-sm-12  mb-3">
        <app-barchart
                [title]="'Lead Conversion Rate'"
                [subtitle]="''"
                [indexAxis]="'X'"
                [dataset]="leadConvRateData"
                [backgroundColor]="'#3f51b5'"
                [borderColor]="'#3f51b5'"
                [chartLabel]="'Conversion Days Count'"
                (dayViewChanged)="onCallTypeChange($event, 'leadConvRate')">
        </app-barchart>
    </div>
    <div class="col-lg-4 col-sm-12  mb-3">
        <app-doughnutchart
                [title]="'Opportunity Pipeline'"
                [subtitle]="'Sum of opportunity value'"
                [totalAmount]="opportunityPipelineTotal"
                [dataset]="opportunityPipelineData"
                (dayViewChanged)="onCallTypeChange($event, 'opportunityPipeline')">
        </app-doughnutchart>
    </div>
    <div class="col-lg-8 col-sm-12  mb-3">
        <app-linechart
                [title]="'Lead vs opportunity'"
                [subtitle]="'Sum of opportunity value'"
                [dataset]="opportunityAnalyticsData"
                [valueLabels]="opportunityAnalysisLabels"
                [isChartFilter]="false"
                (dayViewChanged)="onCallTypeChange($event, 'opportunityAnalytics')">
        </app-linechart>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="bg-white shadow-lg py-3 px-3 rounded-3 dashboard_body_box">

            <div class="dashboard_body d-flex align-items-center mb-2">
                <div class="col-auto d-block"><h3>Recent Opportunities</h3></div>
                <!--<div class="col-auto d-block ms-auto">
                    <a class="dropdown-toggle no-dropdown-arrow" href="#" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <img src="assets/images/hdr-menu-vertical.svg" alt="menu-vertical"></a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="#">Refresh Card</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Share Card</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Edit Chart Column</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Clone This Card</a>
                    </div>
                </div>-->
            </div>
            <div class="card">
                <div class="dashboard_record d-flex align-items-center mb-4">
                    <div class="col-auto d-block">
                        <span class="record_icon d-block p-3">
                            <img src="assets/images/dashboard_plus.svg" alt="dashboard_plus">
                        </span>
                    </div>
                    <div class="col d-block ms-4">
                        <h3>Opportunities not moving for past 30 days</h3>
                        <h4>{{pastOpportunityGrowth}} increased</h4>
                    </div>
                    <div class="col-auto d-block ms-auto">
                        <span class="order_txt">{{pastOpportunity}}</span>
                    </div>
                </div>

                <div class="dashboard_record d-flex align-items-center mb-4">
                    <div class="col-auto d-block">
                        <span class="record_icon d-block p-3">
                            <img src="assets/images/dashboard_bi_box.svg" alt="dashboard_bi_box">
                        </span>
                    </div>
                    <div class="col-auto d-block ms-4">
                        <h3>Won Opportunity</h3>
                        <h4>{{wonOpportunityGrowth}} of total</h4>
                    </div>
                    <div class="col-auto d-block ms-auto">
                        <span class="order_txt">{{wonOpportunity}}</span>
                    </div>
                </div>

                <div class="dashboard_record d-flex align-items-center ">
                    <div class="col-auto d-block">
                        <span class="record_icon d-block p-3">
                            <img src="assets/images/dashboard_cancel-line.svg" alt="dashboard_cancel">
                        </span>
                    </div>
                    <div class="col-auto d-block ms-4">
                        <h3>Lost opportunity</h3>
                        <h4>{{lostOpportunityGrowth}} increased</h4>
                    </div>
                    <div class="col-auto d-block ms-auto">
                        <span class="order_txt">{{lostOpportunity}}</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
