	<div class="modal-content modal addContactModal">
		<div class="modal-header">
			<h3 class="modal-title" *ngIf = "!userUpdateFlag">Add New Employee</h3>
			<h3 class="modal-title" *ngIf = "userUpdateFlag">Update Employee</h3>
			<button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close create-user"
				(click)="modalClose()"></button>
		</div>
		<div class="modal-body">
			<div class="form-body">
				<div class="form-group">
					<div class="row">
						
                            <!-- <div class="col-md-7 d-flex justify-content-between pt-2">
                                <label for="allow-user" class="form-label">
                                    <span class="text-danger">*</span>Allow this employee as user
                                </label>
                                <div class="form-check form-switch allow-checkbox pb-2">
                                    <input class="form-check-input" type="checkbox" id="moduleSwitch"
                                        [(ngModel)]="allowEmployee" (change)="allowEmployeeUser()">
                                </div>
                            </div><br> -->

                        <!-- <div class="row" *ngIf="allowEmployeeFlag">
                            <div class="col-md-6">
                                <label for="roleName" class="form-label">
                                    <span class="text-danger">*</span>Role
                                </label>
                                <div class="input-group">
                                    <select class="form-select" aria-label="Default select example" id="status_type"
                                        [(ngModel)]="role">
                                        <option value="">Select an option</option>
                                        <option *ngFor = "let item of roleList" [value] = "item.roleId">{{item.roleName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="password" class="form-label"><span class="text-danger">*</span>Password</label>
                                <div class="input-group">
                                    <input type="password" name="pass" class="form-control" [(ngModel)]="password">
                                </div>
                            </div>
                        </div> -->
						<div class="col-md-6 pt-2">
							<label for="role_title" class="form-label">
								<span class="text-danger">*</span>First Name
							</label>
							<div class="input-group">
								<input type="text" name="fname" class="form-control" id="user_fname"
									[(ngModel)]="fName">
							</div>
						</div>
						<div class="col-md-6 pt-2">
							<label for="role_title" class="form-label">
								<span class="text-danger">*</span>Last Name
							</label>
							<div class="input-group">
								<input type="text" name="lname" class="form-control" id="user_lname"
									[(ngModel)]="lName">
							</div>
						</div>
						<div class="col-md-6">
							<label for="gender" class="form-label">
								<span class="text-danger">*</span>Gender
							</label>
							<div class="input-group">
								<select class="form-select" aria-label="Default select example" id="status_type"
									[(ngModel)]="gender">
									<option value="">Select an option</option>
									<option value="M">Male</option>
									<option value="F">Female</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<label for="role_title" class="form-label">
								<span class="text-danger">*</span>Date of Birth
							</label>
							<div class="input-group">
								<input type="date" name="dob" class="form-control" id="user_dob"
									[(ngModel)]="dob" [max] = validateDOB()>
							</div>
						</div>
						<div class="col-md-12">
							<label for="role_title" class="form-label">
								<span class="text-danger">*</span>Date of Joining
							</label>
							<div class="input-group">
								<input type="date" name="dob" class="form-control" id="user_dob"
									[(ngModel)]="joinDate" [max] = "validateDOB()">
							</div>
						</div>

						<div class="col-md-12">
							<label for="phone" class="form-label">
								<span class="text-danger">*</span>Phone Number
							</label>
							<div *ngFor="let obj of phone;let i =index;">
								<div class="input-group">
									<input type="text" name="phone" class="form-control" [(ngModel)]="obj.item" onkeypress="if(this.value.length >9) return false; if(event.which < 48 || event.which > 57 ) if(event.which != 8) if(event.keyCode != 9)  return false;">
									<button class="btn btn-outline-danger input-group-height" *ngIf="phone.length >1 "
										(click)="removePhone(i)">
										<i class="fa fa-trash" aria-hidden="true"></i>
									</button>
								</div>
								<div class="btn btn-link p-0 add_field mb-2" *ngIf="phone.length < 2"
									(click)="addPhone()">+ Add
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<label for="email" class="form-label">
								<span class="text-danger"></span>Email
							</label>
							<div class="input-group">
								<input type="text" name="email" class="form-control" [(ngModel)]="email">
							</div>
						</div>
						<div class="col-md-12">
							<label for="designation" class="form-label">
								<span class="text-danger">*</span>Designation
							</label>
							<div class="input-group">
								<select class="form-select" aria-label="Default select example" id="designation_type"
									[(ngModel)]="designation">
									<option value="">Select an option</option>
									<option *ngFor="let item of designationList" [value]="item.designationId">
										{{item.designationName}}</option>
								</select>
							</div>
						</div>
						<div class="col-md-12">
							<label for="address" class="form-label">
								<span class="text-danger">*</span>Address
							</label>
							<div class="input-group">
								<textarea class="form-control" aria-label="Default select example" id="status_type"
									[(ngModel)]="address">
								</textarea>
							</div>
						</div>
						<!-- <div class="col-md-6">
							<label for="reportingperson" class="form-label">
								<span class="text-danger">*</span>Reporting Person
							</label>
							<div class="input-group">
								<select class="form-select" aria-label="Default select example" id="status_type"
									[(ngModel)]="reportingPerson">
									<option value="">Select an option</option>
								</select>
							</div>
						</div> -->
						<div class="col-md-6">
							<label for="country" class="form-label">
								<span class="text-danger">*</span>Country
							</label>
							<div class="input-group">
								<select class="form-select" aria-label="Default select example" id="status_type"
									[(ngModel)]="country" (change)="getStatesByCountryId()">
									<option value="">Select an option</option>
									<option *ngFor="let item of countryList" [value]="item.countryId">
										{{item.countryName}}</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<label for="state" class="form-label">
								<span class="text-danger">*</span>State
							</label>
							<div class="input-group">
								<select class="form-select" aria-label="Default select example" id="status_type"
									[(ngModel)]="state" (change)="getCityByStateId()">
									<option value="">Select an option</option>
									<option *ngFor="let item of stateList" [value]="item.stateId">{{item.stateName}}
									</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<label for="city" class="form-label">
								<span class="text-danger">*</span>District/City
							</label>
							<div class="input-group">
								<select class="form-select" aria-label="Default select example" id="status_type"
									[(ngModel)]="city" (change)="getZoneByCityId()">
									<option value="">Select an option</option>
									<option *ngFor="let item of cityList" [value]="item.cityId">{{item.cityName}}
									</option>
								</select>
							</div>
						</div>
						<!-- <div class="col-md-6">
							<label for="zone" class="form-label">
								<span class="text-danger">*</span>Zone
							</label>
							<div class="input-group">
								<select class="form-select" aria-label="Default select example" id="status_type"
									[(ngModel)]="zone">
									<option value="">Select an option</option>
									<option *ngFor="let item of zoneList" [value]="item.zoneId">{{item.zoneName}}
									</option>
								</select>
							</div>
						</div> -->
						<!-- <div class="col-md-6">
							<label for="role_title" class="form-label">
								<span class="text-danger">*</span>Geo Location
							</label>
							<div class="input-group">
								<input type="text" name="geo" class="form-control" id="user_geo"
									[(ngModel)]="geoloc">
							</div>
						</div>
						<div class="col-md-6">
							<label for="role_title" class="form-label">
								<span class="text-danger">*</span>Lattitude
							</label>
							<div class="input-group">
								<input type="text" name="lat" class="form-control" id="user_lattitude"
									[(ngModel)]="lattitude" onkeypress="if(event.which < 48 || event.which > 57 ) if(event.which != 8) if(event.which !=46) if(event.keyCode != 9)  return false;">
							</div>
						</div>
						<div class="col-md-6">
							<label for="role_title" class="form-label">
								<span class="text-danger">*</span>Longitude
							</label>
							<div class="input-group">
								<input type="text" name="long" class="form-control" id="user_longitude"
									[(ngModel)]="longitude" onkeypress="if(event.which < 48 || event.which > 57 ) if(event.which !=46) if(event.which != 8) if(event.keyCode != 9)  return false;">
							</div>
						</div> -->
				

						<div class="col-md-12">
							<label for="role_title" class="form-label">Remarks
							</label>
							<div class="input-group">
								<textarea name="remark" class="form-control" id="user_remark"
									[(ngModel)]="remarks" onkeypress="if(this.value.length >500) return false;"></textarea>
							</div>
						</div>
						
					</div>
				</div>
				<div class="col-md-12 mb-4">
					<div class="d-block mb-4"><span class="text-danger">*</span> Profile Image</div>
					<div class="d-inline-block align-middle me-4">
						<img src="assets/images/placeholder.png" alt="placeholder" *ngIf="!fileUploadStatus">
						<img [src]=imageSrc alt="placeholder" height="100" width="100" *ngIf="fileUploadStatus">

					</div>
					
					<div class="d-inline-block align-middle position-relative image-box upl_opn_dv">
						<span>{{orgFileName}}</span>
						<div class="input-button-wrap d-flex w-100 file-div pt-3">
							<label class="input-button" for="upload">Upload File</label>
							<input id="upload" type="file" (change)="uploadFile()" accept=".png,.jpg,.jpeg">
						</div>
					</div>
					<small class="text-primary d-block mt-3">Upload File Below
						100mb.<br>
						Supported Format : Jpeg, jpg, png</small>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-md-12" *ngIf = "!userUpdateFlag">
							<button type="button" class="btn btn-primary" (click)="createNewUser()">Create</button>
						</div>
						<div class="col-md-12" *ngIf = "userUpdateFlag">
							<button type="button" class="btn btn-primary" (click)="updateUser()">Update</button>
						</div>
					</div><br>
				</div>
			</div>
		</div>
	</div>
