<notifier-container></notifier-container>
<main class="content">
    <div class="container-fluid p-0">
        <div class="row mb-2 mb-lg-4">
            <div class="col-md-12 d-lg-flex align-items-center main-hdng">
                <div class="col-md-6">
                    <h3>Field Visits</h3>
                </div>
                <div class="col-md-6">
                    <div class="">
                        <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
                            <!-- <ol class="breadcrumb justify-content-end">
                          <li class="breadcrumb-item active" aria-current="page">Opportunity</li>
                       </ol> -->
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2 mb-lg-4">
            <div class="col-md-12 d-lg-flex align-items-center hdng-btm">
                <div class="col-md-6">
                    <!-- <a class="btn btn-dark btn-lg me-3" href="opportunity-edit-page-layout.html">Edit Page Layout <i class="fas fa-pen"></i></a> -->
                    <form class="d-none d-sm-inline-block">
                        <div class="input-group input-group-navbar">
                            <input type="text" class="form-control" placeholder="Keyword i Search" aria-label="Search"
                                (keyup)="globalSearch($event)">
                            <button class="btn" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-search align-middle">
                                    <circle cx="11" cy="11" r="8"></circle>
                                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                </svg>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 text-end mt-n1">
                    <ul class="list-inline ml-auto mt-3 mt-lg-0 mb-0">
                        <!-- <li class="list-inline-item">
                       <select class="form-select border-1" aria-label="Opportunity">
                          <option value="Recently Viewed">Recently Viewed</option>
                          <option value="Items I'm Following">Items I'm Following</option>
                          <option value="All">All</option>
                          <option value="All Closed">All Closed</option>
                          <option value="All Open">All Open</option>
                       </select>
                    </li> -->

                        <li class="list-inline-item">
                            <!-- <button class="btn btn-info btn-lg" data-bs-target="#syncModal" data-bs-toggle="modal" data-bs-dismiss="modal">Sync <i class="fas fa-sync-alt"></i></button> -->
                        </li>


                        <!-- <li class="list-inline-item">
                       <button class="btn btn-primary btn-lg" (click)="addApportunity()" disabled>Add New <i class="fas fa-plus"></i></button>
                    </li> -->

                        <li class="list-inline-item">
                            <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
                                <button id="switchList" type="button"
                                    class="btn btn-outline-dark btn-xs switchActiveList" data-bs-toggle="tooltip"
                                    data-bs-placement="bottom" title="List View" (click)="listView()">
                                    <img src="assets/images/list-view.svg" alt="list-view">
                                </button>
                                <button id="switchGrid" type="button" class="btn btn-outline-dark btn-xs"
                                    (click)="KanbanView()">
                                    <img src="assets/images/grid-view.svg" alt="list-view" data-bs-toggle="tooltip"
                                        data-bs-placement="bottom" title="Kanban View">
                                </button>
                            </div>
                        </li>
                        <!-- <li class="list-inline-item icon-border me-0">
                       <a class="px-0 border-0 d-inline-block align-middle dropdown-toggle no-dropdown-arrow" href="javascript:void(0)" data-bs-toggle="dropdown" aria-expanded="false">
                       <img src="assets/images/hdr-menu-vertical.svg" alt="menu-vertical" data-bs-toggle="tooltip" data-bs-placement="bottom" title="More"></a>
                       <div class="dropdown-menu dropdown-menu-end">
                          <a class="dropdown-item" href="javascript:void(0)">Edit this Opportunity</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="javascript:void(0)">Change Opportunity image</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="javascript:void(0)">Delete</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="javascript:void(0)">Email this Opportunity</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="javascript:void(0)">Clone</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="javascript:void(0)">Follow this Opportunity</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="javascript:void(0)">Convert this Opportunity</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="javascript:void(0)">Add activity</a>
                       </div>
                    </li> -->

                        <!-- <li class="list-inline-item icon-border me-0">
                      <a class="d-inline-block align-middle" mat-button [matMenuTriggerFor]="menu">
                          <img src="assets/images/hdr-menu-vertical.svg" alt="trash"></a>
                      <mat-menu #menu="matMenu">
                          <button mat-menu-item>Edit this Opportunity</button>
                          <button mat-menu-item>Change Opportunity image</button>
                          <button mat-menu-item>Delete</button>
                          <button mat-menu-item>Email this Opportunity</button>
                          <button mat-menu-item>Clone</button>
                          <button mat-menu-item>Follow this Opportunity</button>
                          <button mat-menu-item>Convert this Opportunity</button>
                          <button mat-menu-item>Add activity</button>
                      </mat-menu>
                  </li> -->
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 ">
                <div class="table_listkanban">
                    <!--list view-->
                    <div id="listview">
                        <div class="bg-white shadow-lg py-4 px-4 rounded-3">
                            <div id="datatables-reponsive_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                                <div class="d-md-flex align-items-center mb-3">
                                    <div class="col-auto d-block">
                                        <h3>Field Visits List</h3>
                                    </div>
                                    <div class="col-auto d-block ms-auto">
                                        <div class="text-center">
                                            <div class="dataTables_length" id="datatables-reponsive_length">
                                                <label>
                                                    Records per page
                                                    <select name="datatables-reponsive_length"
                                                        aria-controls="datatables-reponsive"
                                                        class="form-select form-select-sm"
                                                        (change)="changepagelimit($event)" [(ngModel)]="selectedVal">
                                                        <option *ngFor="let item of pageList" [value]=item.value>
                                                            {{item.name}}
                                                        </option>
                                                    </select>
                                                    {{offset + 1}} - {{offset + limit}}
                                                </label>
                                                <label>
                                                    <button type="button" class="px-1 d-inline-block align-middle no-bg"
                                                        [disabled]="isPrevious" (click)="previous()">
                                                        <img src="assets/images/chevron-left.svg"
                                                            alt="chevron-left"></button>
                                                    <button type="button" class="px-1 d-inline-block align-middle no-bg"
                                                        [disabled]="isdisable" (click)="next()">
                                                        <img src="assets/images/chevron-right.svg"
                                                            alt="chevron-right"></button>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn-group btn-group-sm ms-auto  btn-download-group">
                                        <!-- <button type="button" class="btn btn-md bg-white px-4"
                                            (click)="downloadData(2)">CSV</button>
                                        <button type="button" class="btn bg-white px-4">PDF</button>
                                        <button type="button" class="btn bg-white px-4"
                                            (click)="downloadData(1)">Excel</button> -->
                                        <!-- <button type="button" class="btn bg-white px-4"  data-bs-target="#bulkuploadModal" data-bs-toggle="modal" data-bs-dismiss="modal">Upload</button> -->
                                        <button type="button" class="ps-2 dropdown-toggle no-dropdown-arrow"
                                            data-bs-toggle="dropdown" aria-expanded="false" *ngIf="!kanbanViewFlag">
                                            <img src="assets/images/filtering.svg" alt="filtering"
                                                data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                title="More"></button>
                                        <div class="dropdown-menu dropdown-menu-end addDropdownhead">

                                            <ng-container *ngFor="let th of tableHeader ; let i=index">
                                                <a class="dropdown-item d-md-flex align-items-center"
                                                    href="javascript:void(0)">
                                                    <span class="col-auto d-block">{{th.title}}</span>
                                                    <div class="form-check form-switch col-auto d-block ms-auto">
                                                        <input class="form-check-input" type="checkbox" id="switch1"
                                                            [checked]="th.isView" (click)="changeTableView($event, i)">
                                                    </div>
                                                </a>
                                                <ng-container *ngIf="i < tableHeader.length-1">
                                                    <div class="dropdown-divider"></div>
                                                </ng-container>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive" *ngIf="!kanbanViewFlag">
                                    <table id="datatables-column-search-select-inputs"
                                        class="table table-striped dataTable" style="width: 100%;"
                                        aria-describedby="datatables-column-search-select-inputs_info">
                                        <thead class="thead-dark">
                                            <tr role="row">
                                                <ng-container *ngFor="let th of tableHeader">
                                                    <th class=" align-middle" *ngIf="th.isView">{{th.title}}
                                                    </th>
                                                </ng-container>
                                                <!-- <th width="40px">Seq. No.</th>
                                     <th class="sorting align-middle">Opportunity Name</th>
                                     <th class="sorting align-middle">Expected Value</th>
                                     <th class="sorting align-middle">Opportunity Stage</th>
                                     <th class="sorting align-middle">Contact Person</th>
                                     <th class="sorting align-middle">Phone Number</th>
                                     <th class="sorting align-middle">Organization</th>
                                     <th class="sorting align-middle">Opportunity Status</th> -->
                                                <th class=" align-middle">Action</th>
                                                <!-- <th class="sorting align-middle">&nbsp;</th> -->
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <ng-container *ngFor="let th of tableHeader; let t = index" >

                                                <!-- <th class="align-middle">
                                                    <input type="checkbox" id="customCheck1" >
                                                </th> -->
                                                <!-- <th></th> -->

                                                <!-- <ng-container *ngFor="let th of tableHeader; let t = index">
                                                    <th *ngIf="th.title === 'Sl No.' && th.isView"></th>
                                                    <th class="align-middle" *ngIf="th.title === 'Employee Name' && th.isView">
                                                        <input type="text" placeholder="Search" class="form-control input-sm"
                                                            (keyup)="searchByEmpName($event)">
                                                    </th> -->

                                                <th *ngIf="th.title === 'Seq. No.' && th.isView"></th>
											    <th class="align-middle" *ngIf="th.title === 'Visit To' && th.isView">
                                                <input type="text" placeholder="Search"
                                                        class="form-control input-sm" (keyup)="searchByOppName($event)">
                                                </th>

                                                <!-- <th class="align-middle" *ngIf="th.title === 'Visit Type' && th.isView">
                                                    <input type="text" placeholder="Type" class="form-control input-sm"
                                                        (keyup)="searchByType($event)">
                                                </th> -->
                                                
                                                <th class="align-middle" *ngIf="th.title === 'Phone Number' && th.isView">
                                                    <input type="text" placeholder="Search" class="form-control input-sm"
                                                        (keyup)="searchByPhone($event)">
                                                </th>
                                                <th class="align-middle" *ngIf="th.title === 'Visited By' && th.isView">
                                                    <input type="text" placeholder="Search" class="form-control input-sm"
                                                        (keyup)="searchByVisit($event)">
                                                </th>
                                                
                                                <th class="align-middle" *ngIf="th.title === 'Visit Type' && th.isView">
                                                    <select class="form-select" (change)="searchByVisitType($event)" [(ngModel)]="filterVisitType">
                                                        <option value="">All</option>
                                                        <option *ngFor="let data of filterVisitTypeArr" [value]="data.contactTypeId">
                                                            {{data.contactTypeName}}</option>
    
                                                    </select>
                                                </th>

                                                <th class="align-middle" *ngIf="th.title === 'Visit Date' && th.isView">
                                                 <input type="date" placeholder="Visit Date" class="form-control input-sm" [(ngModel)]="choseDate"
                                                    (change)="searchByDate()">
                                                 </th>

                                          
                                                </ng-container>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr *ngIf="allOpportunityArray.length == 0">
                                                <td colspan="9" class="text-center">No Data Found</td>
                                            </tr>
                                            <tr role="row" *ngFor="let data of allOpportunityArray;let i = index;"
                                                [ngClass]="(i+1)%2 != 0 ? 'odd':'even'" style="cursor: pointer;"
                                                >

                                                <ng-container *ngFor="let th of tableHeader; let t = index" >

                                                    <td class="align-middle"
                                                        *ngIf="th.title === 'Seq. No.' && th.isView">
                                                        {{offset
                                                        + (i+1)}}</td>

                                                    <td class="align-middle"
                                                        *ngIf="th.title === 'Visit To' && th.isView" (click)="userDetails(data.id)">
                                                        {{data.visitToName}}</td>

                                                    <td class="align-middle"
                                                        *ngIf="th.title === 'Visit Type' && th.isView">
                                                        {{data.contactTypeName}}</td>

                                                    <td class="align-middle"
                                                        *ngIf="th.title === 'Phone Number' && th.isView">
                                                        {{data.phone}}</td>

                                                    <td class="align-middle"
                                                        *ngIf="th.title === 'Visited By' && th.isView">
                                                        {{data.visitedBy}}</td>

                                                    <td class="align-middle"
                                                        *ngIf="th.title === 'Visit Date' && th.isView">
                                                        {{data.actualDate | date:'dd-MM-yyyy'}}</td>

                                                    <td class="align-middle"
                                                        *ngIf="th.title === 'Visit Status' && th.isView">
                                                        {{data.visitStatusName}}</td>

                                                    <td class="align-middle"
                                                        *ngIf="th.title === 'Convertion Status' && th.isView">
                                                        {{getConvertionStatusForHTML(data.isConvertion)}}</td>

                                                    <td class="align-middle"
                                                        *ngIf="th.title == 'Approval Status' && th.isView">
                                                        <!-- <span *ngIf data.CRMapprovedStatus="0"></span> -->
                                                        {{getStatusForHTML(data.CRMapprovedStatus)}}
                                                    </td>

                                                    <!-- <td class="align-middle" *ngIf = "data.opportunityTypeStatus == '1'">Warm</td>
                                      <td class="align-middle" *ngIf = "data.opportunityTypeStatus == '2'">Cold</td>
                                      <td class="align-middle" *ngIf = "data.opportunityTypeStatus == '3'">Hot</td> -->
                                                </ng-container>









                                                <!-- <td class="align-middle">{{i+1 + offset}}</td>
                                     <td class="align-middle" (click)="goToDetailsPage(data.id)">
                                        <a>{{data.opportunityName}}</a>
                                     </td>
                                     <td class="align-middle">{{data.expectedRevenue}}</td>
                                     <td class="align-middle"> -->
                                                <!-- <div class="progress bg-secondary"> -->
                                                <!-- <div class="progress-bar bg-success" role="progressbar" style="width: {{data.parcentage}}%" aria-valuenow="{{data.parcentage}}" aria-valuemin="0" aria-valuemax="100"></div> -->
                                                <!-- </div> -->
                                                <!-- <span>{{data.opportunityStagePercent}}%</span>
                                        <mat-progress-bar mode="determinate" value="{{data.opportunityStagePercent}}">
                                        </mat-progress-bar>
                                     </td>
                                     <td class="align-middle">{{data.firstName}} {{data.lastName}}</td>
                                     <td class="align-middle">{{data.phoneNumber}}</td>
                                     <td class="align-middle">{{data.organizationName}}</td>
                                     <td class="align-middle">{{data.typeStatusName}}</td> -->
                                                <!-- <td class="align-middle" *ngIf = "data.opportunityTypeStatus == '1'">Warm</td>
                                      <td class="align-middle" *ngIf = "data.opportunityTypeStatus == '2'">Cold</td>
                                      <td class="align-middle" *ngIf = "data.opportunityTypeStatus == '3'">Hot</td> -->
                                                <td class="align-middle">

                                                    <!--<a class="d-inline-block align-middle">
                                           <img src="assets/images/create.svg" alt="create"></a>
 
                                        <a class="d-inline-block align-middle">
                                           <img src="assets/images/trash.svg" alt="trash"></a> -->

                                                    <!-- <a class="d-inline-block align-middle dropdown-toggle no-dropdown-arrow" href="javascript:void(0)" data-bs-toggle="dropdown" aria-expanded="false">
                                         <img src="assets/images/menu-vertical.svg" alt="trash"></a> -->


                                                    <!-- <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="javascript:void(0)">Edit this Opportunity</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="javascript:void(0)">Change Opportunity image</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="javascript:void(0)">Change record owner</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="javascript:void(0)">Change to Opportunity</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="javascript:void(0)">Export details</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="javascript:void(0)">Add new task for this Opportunity</a>
                                         </div> -->

                                                    <a class="d-inline-block align-middle" mat-button
                                                        [matMenuTriggerFor]="menu">
                                                        <img src="assets/images/menu-vertical.svg" alt="trash"></a>
                                                    <mat-menu #menu="matMenu">
                                                        <button mat-menu-item
                                                            (click)="openStatusUpdateModal(data)">Update
                                                        </button>
                                                        <!-- <button mat-menu-item>Change Opportunity image</button> -->
                                                        <!-- <button mat-menu-item>Change record owner</button> -->
                                                        <!-- <button mat-menu-item>Change to Opportunity</button> -->
                                                        <!-- <button mat-menu-item>Export details</button> -->
                                                        <!-- <button mat-menu-item (click)="goToDetailsPage(data.id)">Convert
                                                            this
                                                            opportunity</button> -->
                                                    </mat-menu>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <!-- -------------------- Boxview---------------- -->

                                <div class="grid_viw_dv" *ngIf="kanbanViewFlag">
                                    <div class="grid_viw_dv_inr bg-white shadow-lg p-3 rounded-3"
                                        *ngFor="let data of allOpportunityArray">
                                        <div class="col-auto grid_viw_mor_opn">
                                            <a class="d-inline-block align-middle" mat-button
                                                [matMenuTriggerFor]="menu">
                                                <img src="assets/images/menu-vertical.svg" alt="trash"></a>
                                            <mat-menu #menu="matMenu">
                                                <button mat-menu-item (click)="openStatusUpdateModal(data)">Update
                                                </button>
                                            </mat-menu>

                                        </div>
                                        <span
                                            *ngIf="data.contactTypeName != null && data.contactTypeName !=''">{{data.contactTypeName}}</span>
                                        <span
                                            *ngIf="data.contactTypeName == null || data.contactTypeName == ''">----</span>
                                        <strong
                                            *ngIf="data.visitToName != '' && data.visitToName != null">{{data.visitToName}}</strong>
                                        <strong *ngIf="data.visitToName == null || data.visitToName == ''">----</strong>

                                        <p *ngIf="data.phone != null && data.phone !=''"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                                fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                                            </svg> {{data.phone}}</p>

                                        <p *ngIf="data.phone == null || data.phone == ''"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                                fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                                            </svg> ----</p>
                                        <span *ngIf="data.visitedBy != '' && data.visitedBy != null">Visited By :
                                            {{data.visitedBy}}</span>
                                        <span *ngIf="data.visitedBy == null || data.visitedBy == ''">----</span>

                                        <span
                                            *ngIf="data.visitStatusName != '' && data.visitStatusName != null">{{data.visitStatusName}}</span>
                                        <span
                                            *ngIf="data.visitStatusName == null || data.visitStatusName == ''">----</span>
                                        <span>{{getConvertionStatusForHTML(data.isConvertion)}}</span>
                                        <span>{{getStatusForHTML(data.CRMapprovedStatus)}}</span>
                                    </div>
                                </div>
                                <div class="d-xl-flex align-items-center mt-3">
                                    <div class="col-auto d-block">
                                        <div class="text-center">
                                            <div class="dataTables_length">
                                                <label>Records per
                                                    page <select name="datatables-reponsive_length"
                                                        aria-controls="datatables-reponsive"
                                                        class="form-select form-select-sm"
                                                        (change)="changepagelimit($event)" [(ngModel)]="selectedVal">
                                                        <option *ngFor="let item of pageList" [value]=item.value>
                                                            {{item.name}}
                                                        </option>
                                                    </select>
                                                    {{offset + 1}} - {{offset + limit}}
                                                </label>
                                                <label>
                                                    <button type="button" class="px-1 d-inline-block align-middle no-bg"
                                                        [disabled]="isPrevious" (click)="previous()">
                                                        <img src="assets/images/chevron-left.svg"
                                                            alt="chevron-left"></button>
                                                    <button type="button" class="px-1 d-inline-block align-middle no-bg"
                                                        [disabled]="isdisable" (click)="next()">
                                                        <img src="assets/images/chevron-right.svg"
                                                            alt="chevron-right"></button>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<ng-template #statusUpdateModal>
    <div class="modal-content">
        <div class="modal-header">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-10">
                        <h3 class="modal-title d-inline-block align-middle me-2">Status Update
                        </h3>
                    </div>
                    <div class="col-sm-2 d-flex justify-content-end"><button type="button" data-bs-dismiss="modal"
                            aria-label="Close" class="btn-close" (click)="closeModal()"></button></div>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <label for="status_type" class="form-label">Approval Status</label>
                        <div class="input-group">
                            <select class="form-select" aria-label="Default select example" id="status_type"
                                [(ngModel)]="selectedStatus">
                                <option value="">Select an options
                                </option>
                                <option *ngFor="let obj of allStatusList" [value]="obj.id">
                                    {{obj.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 pt-2">
                        <label for="remarks"><span class="text-danger"></span>Remarks</label>
                        <div class="input-group">
                            <textarea name="remarks" class="form-control" [(ngModel)]="statusRemarks" rows="4"
                                style="height: 100px;"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <button type="button" class="btn btn-secondary btn-lg me-2"
                            (click)="closeModal()">Cancel</button>
                    </div>
                    <div class="col-sm-6 text-center">
                        <button type="button" class="btn btn-danger btn-lg me-2"
                            (click)="updateApprovalStatus()">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #downloadFile>
    <div class="modal-content">
        <div class="modal-header">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-10">
                        <h4 class="modal-title d-inline-block align-middle me-2" style="font-size: smaller;">Are you
                            want to
                            sure download file
                        </h4>
                    </div>
                    <div class="col-sm-2 d-flex justify-content-end">
                        <button type="button" (click)="closeModal()" class="btn-close"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <button type="button" class="btn btn-secondary btn-lg me-2" (click)="closeModal()">No</button>
                    </div>
                    <div class="col-sm-6 text-center">
                        <button type="button" class="btn btn-danger btn-lg me-2" (click)="fileDownload()">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>