<div class="modal-content modal addContactModal">
    <div class="modal-header">
        <h3 class="modal-title" *ngIf="!isCRM">Sorry!!! you are not a CRM user</h3>
        <h3 class="modal-title" *ngIf="!customerUpdateFlag && isCRM">Add Customer</h3>
        <h3 class="modal-title" *ngIf="customerUpdateFlag">Update Customer</h3>
        <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close create-user"
            (click)="modalClose()"></button>
    </div>
    <div class="modal-body">
        <div class="form-body">
            <div class="form-group">

                <!-- <div class="row">
                    <div class="col-md-12 d-flex justify-content-center pt-2">
                        <label for="allow-user" class="form-label">
                            <span class="text-danger">*</span>Is this company has CRM access?
                        </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="form-check form-switch allow-checkbox pb-2">
                            <input class="form-check-input" type="checkbox" id="moduleSwitch" [(ngModel)]="crmAccess"
                                (change)="isCrmAccess()">
                        </div>
                    </div><br>
                </div> -->


                <!-- <div class="row" *ngIf ="!isDisabled"> -->
                <div class="row" *ngIf="isCRM">
                    <div class="form-heading mt-3">
                        <h4><b>Customer Details</b></h4>
                    </div>

                    <div class="col-md-6 pt-2">
                        <label for="customerType"><span class="text-danger">*</span>Customer Type</label>
                        <select class="form-select" [(ngModel)]="customerType">
                            <option value="">Select an option</option>
                            <option *ngFor="let item of customerTypeList" [value]="item.contactTypeId">
                                {{item.contactTypeName}}</option>
                        </select>
                    </div>

                    <div class="col-md-6 pt-2" *ngIf="!customerUpdateFlag">
                        <label for="customer_type"><span class="text-danger">*</span>Customer Source Type</label>
                        <div class="input-group">
                            <select class="form-select" (change)="contactTypeFun()" [(ngModel)]="contactType">
                                <option value="">Select an option</option>
                                <option [value]="0">New</option>
                                <option [value]="1">Existing</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 pt-2" *ngIf="contactTypeExistingFlag">
                        <label for="customer_type"><span class="text-danger">*</span>Existing Contact List</label>
                        <div class="input-group">
                            <!-- <select class="form-select" (change)="existingContactTypeFun()" [(ngModel)]="contactPerson">
                                <option value="">Select an option</option>
                                <option *ngFor="let item of exsistingCustomerName" [value]="item.contactId">
                                    {{item.contactName}}</option>
                            </select> -->
                            <div class="ng-autocomplete">
                                <ng-autocomplete [data]="allExistingUser" [searchKeyword]="keyword"
                                 placeholder="Search from  Existing Contacts"
                                  (keyup)="nameSearch($event)"
                                    (change)="existingContactList()" [(ngModel)]="contactName"
                                    (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)'
                                    (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                                    [notFoundTemplate]="notFoundTemplate">
                                </ng-autocomplete>

                                <ng-template #itemTemplate let-item>
                                    <a [innerHTML]="item.name"></a>
                                </ng-template>

                                <ng-template #notFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 pt-2">
                        <label for="businessname"><span class="text-danger"></span>Customer Business Name</label>
                        <div class="input-group">
                            <input type="text" name="bussiness_Name" class="form-control"
                                [(ngModel)]="custBusinessName">
                        </div>
                    </div>
                    <div class="col-md-6 pt-2">
                        <label for="erpCode"><span class="text-danger"></span>ERP Code</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="ERPCode" [(ngModel)]="erpCode">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="role_title" class="form-label">
                            <span class="text-danger">*</span>First Name
                        </label>
                        <div class="input-group">
                            <input type="text" name="fname" class="form-control" id="user_fname" [(ngModel)]="fName">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="role_title" class="form-label">
                            <span class="text-danger">*</span>Last Name
                        </label>
                        <div class="input-group">
                            <input type="text" name="lname" class="form-control" id="user_lname" [(ngModel)]="lName">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="gender" class="form-label">
                            <span class="text-danger"></span>Gender
                        </label>
                        <div class="input-group">
                            <select class="form-select" aria-label="Default select example" id="status_type"
                                [(ngModel)]="gender">
                                <option value="">Select an option</option>
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="role_title" class="form-label">
                            <span class="text-danger"></span>Date of Birth
                        </label>
                        <div class="input-group">
                            <input type="date" name="dob" class="form-control" id="user_dob" [(ngModel)]="dob"
                                [max]="validateDob()">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="designation" class="form-label">
                            <span class="text-danger"></span>Title
                        </label>
                        <div class="input-group">
                            <div class="input-group">
                                <input type="text" name="title" class="form-control" [(ngModel)]="title">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="visitDate"><span class="text-danger">*</span>Visit Date</label>
                        <div class="input-group">
                            <input type="date" name="visitDate" class="form-control" [(ngModel)]="visitDate">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="customer_description"><span class="text-danger">*</span>Customer Description</label>
                        <div class="input-group">
                            <textarea name="customer_description" class="form-control"
                                onkeypress="if(value.length >500) return false;" [(ngModel)]="customerDesc"></textarea>
                        </div>
                    </div>
                    <div class="form-heading mt-3">
                        <h4><b>Contact Details</b></h4>
                    </div>
                    <div class="col-md-6">
                        <label for="phone" class="form-label">
                            <span class="text-danger">*</span>Phone Number
                        </label>
                        <div *ngFor="let obj of phone;let i =index;">
                            <div class="input-group">
                                <input type="text" name="phone" class="form-control" [(ngModel)]="obj.item"
                                    onkeypress="if(this.value.length >9) return false; if(event.which < 48 || event.which > 57 ) if(event.which != 8) if(event.keyCode != 9)  return false;">
                                <button class="btn btn-outline-danger input-group-height" *ngIf="phone.length >1 "
                                    (click)="removePhone(i)">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="btn btn-link p-0 add_field mb-2" *ngIf="phone.length < 2" (click)="addPhone()">+
                                Add
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="email" class="form-label">
                            <span class="text-danger"></span>Email
                        </label>
                        <div *ngFor="let obj of email;let i =index;">
                            <div class="input-group">
                                <input type="text" name="email" class="form-control" [(ngModel)]="obj.item">
                                <button class="btn btn-outline-danger input-group-height" *ngIf="email.length >1 "
                                    (click)="removeEmail(i)">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="btn btn-link p-0 add_field mb-2" *ngIf="email.length < 2" (click)="addEmail()">+
                                Add
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="address" class="form-label">
                            <span class="text-danger">*</span>Address
                        </label>
                        <div class="input-group">
                            <textarea class="form-control" aria-label="Default select example" id="address"
                                [(ngModel)]="address">
                            </textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="residentialAddress" class="form-label">
                            <span class="text-danger"></span>Residential Address
                        </label>
                        <div class="input-group">
                            <textarea class="form-control" aria-label="Default select example" id="residentialAddress"
                                [(ngModel)]="residentAddress">
                            </textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="country" class="form-label">
                            <span class="text-danger">*</span>Country
                        </label>
                        <div class="input-group">
                            <select class="form-select" aria-label="Default select example" id="status_type"
                                [(ngModel)]="country" (change)="getStatesByCountryId()">
                                <option value="">Select an option</option>
                                <option *ngFor="let item of countryList" [value]="item.countryId">
                                    {{item.countryName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="state" class="form-label">
                            <span class="text-danger">*</span>State
                        </label>
                        <div class="input-group">
                            <select class="form-select" aria-label="Default select example" id="status_type"
                                [(ngModel)]="state" (change)="getCityByStateId()">
                                <option value="">Select an option</option>
                                <option *ngFor="let item of stateList" [value]="item.stateId">{{item.stateName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="city" class="form-label">
                            <span class="text-danger">*</span>District/City
                        </label>
                        <div class="input-group">
                            <select class="form-select" aria-label="Default select example" id="status_type"
                                [(ngModel)]="city" (change)="getZoneByCityId()">
                                <option value="">Select an option</option>
                                <option *ngFor="let item of cityList" [value]="item.cityId">{{item.cityName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="zone" class="form-label">
                            <span class="text-danger">*</span>Zone
                        </label>
                        <div class="input-group">
                            <select class="form-select" aria-label="Default select example" id="status_type"
                                [(ngModel)]="zone">
                                <option value="">Select an option</option>
                                <option *ngFor="let item of zoneList" [value]="item.zoneId">{{item.zoneName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="landmark" class="form-label">
                            <span class="text-danger"></span>Landmark
                        </label>
                        <div class="input-group">
                            <input type="text" name="landmark" class="form-control" id="user_landmark"
                                [(ngModel)]="landmark">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="role_title" class="form-label">
                            <span class="text-danger"></span>Geo Location
                        </label>
                        <div class="input-group">
                            <input type="text" name="geo" class="form-control" id="user_geo" [(ngModel)]="geoLoc">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="role_title" class="form-label">
                            <span class="text-danger"></span>Lattitude
                        </label>
                        <div class="input-group">
                            <input type="text" name="lat" class="form-control" id="user_lattitude"
                                [(ngModel)]="lattitude"
                                onkeypress="if(event.which < 48 || event.which > 57 ) if(event.which != 8) if(event.which !=46) if(event.keyCode != 9)  return false;">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="role_title" class="form-label">
                            <span class="text-danger"></span>Longitude
                        </label>
                        <div class="input-group">
                            <input type="text" name="long" class="form-control" id="user_longitude"
                                [(ngModel)]="longitude"
                                onkeypress="if(event.which < 48 || event.which > 57 ) if(event.which !=46) if(event.which != 8) if(event.keyCode != 9)  return false;">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="pincode" class="form-label">
                            <span class="text-danger">*</span>Pin Code
                        </label>
                        <div class="input-group">
                            <input type="text" name="pincode" class="form-control" id="user_pincode"
                                [(ngModel)]="pincode"
                                onkeypress="if(this.value.length >5) return false; if(event.which < 48 || event.which > 57 ) if(event.which != 8) if(event.keyCode != 9)  return false;">
                        </div>
                    </div>

                    <!-- <div class="col-md-6">
                        <label for="status_type" class="form-label d-block"><span class="text-danger">*</span>ERP
                            Document Submitted</label>
                        <mat-radio-group aria-label="Select an option" [(ngModel)]="erpDocSubmit">
                            <mat-radio-button style="margin-left: 10px" [value]="1">Yes
                            </mat-radio-button>&nbsp;&nbsp;&nbsp;
                            <mat-radio-button [value]="0">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="col-md-6">
                        <label for="status_type" class="form-label d-block"><span class="text-danger">*</span>ERP
                            Registration Done</label>
                        <mat-radio-group aria-label="Select an option" [(ngModel)]="erpRegDone"
                            (change)="erpRegDoneFun()">
                            <mat-radio-button style="margin-left: 10px" [value]="1">Yes
                            </mat-radio-button>&nbsp;&nbsp;&nbsp;
                            <mat-radio-button [value]="0">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <br><br>
                    <div class="row pt-4" *ngIf="erpFlag">
                        <div class="col-md-6">
                            <label for="user_regDate"><span class="text-danger">*</span>ERP Registration Date</label>
                            <input type="date" name="erpReg_date" class="form-control" id="erpreg_date"
                                [(ngModel)]="erpRegDate">
                        </div>
                        <div class="col-md-6">
                            <label for="reg-by"><span class="text-danger">*</span>ERP Registration By</label>
                            <select class="form-select" [(ngModel)]="erpRegBy">
                                <option value="">Select an option</option>
                                <option *ngFor="let item of userList" [ngValue]="item.userId">{{item.firstName}}
                                    {{item.lastName}}</option>
                            </select>
                        </div>

                        <div class="col-md-12">
                            <label for="role_remarks" class="form-label"><span class="text-danger"></span>ERP Remarks
                            </label>
                            <div class="input-group">
                                <textarea name="erp_remarks" class="form-control" id="user_remark"
                                    [(ngModel)]="erpRemarks"
                                    onkeypress="if(value.length >250) return false;"></textarea>
                            </div>
                        </div>
                    </div><br> -->

                    <div class="col-md-6"></div>
                    <div class="form-heading mt-3">
                        <h4><b>Business Details</b></h4>
                    </div>
                    <div class="col-md-6">
                        <label for="yearofestd"><span class="text-danger"></span>Year Of Established</label>
                        <div class="input-group">
                            <input type="date" name="yearofestd" class="form-control" [(ngModel)]="yearOfEstd">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="godownloc"><span class="text-danger"></span>Godown Location</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="godownloc" [(ngModel)]="godownLoc">
                        </div>
                    </div>
                    <!-- <div class="col-md-6">
                        <label for="stockarea"><span class="text-danger"></span>Stockyard Area(sqrmtr)</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="stockarea" [(ngModel)]="stockArea">
                        </div>
                    </div> -->
                    <div class="col-md-6">
                        <label for="godowncap"><span class="text-danger"></span>Godown Capacity(Mt.)</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="godowncap" [(ngModel)]="godownCapacity">
                        </div>
                    </div>

                    <!-- <div class="col-md-6">
                        <label for="partycode"><span class="text-danger"></span>Party Code</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="partycode" [(ngModel)]="partCode">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="partycreditlmt"><span class="text-danger"></span>Party Credit Limit</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="partycreditlimit" [(ngModel)]="partCrLimit">
                        </div>
                    </div> -->


                    <div class="col-md-6">
                        <label for="advanced"><span class="text-danger"></span>Advanced Limit</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="advanced" [(ngModel)]="advanced">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="appliedcreditlimit"><span class="text-danger"></span>Applied Credit Limit</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="appliedcreditlimit"
                                [(ngModel)]="appliedCrLimit">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="primaryitem"><span class="text-danger"></span>Primary Item</label>
                        <div class="input-group">
                            <!-- <input type="text" class="form-control" name="primayitem" [(ngModel)] = "primaryItem"> -->
                            <select class="form-select" name="primayitem" [(ngModel)]="primaryItem">
                                <option value="">Select an option</option>
                                <option *ngFor="let item of productList" [ngValue]="item.productId">{{item.productName}}
                                </option>
                            </select>
                        </div>
                    </div>


                    <!-- <div class="col-md-6">
                        <label for="role_title" class="form-label">Customer Remarks
                        </label>
                        <div class="input-group">
                            <textarea name="description" class="form-control" id="user_remark"
                                [(ngModel)]="customerRemark"
                                onkeypress="if(value.length >500) return false;"></textarea>
                        </div>
                    </div> -->
                    <div class="col-md-6">
                        <label for="firmStatus"><span class="text-danger"></span>Firms Status</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="firmsStatus" [(ngModel)]="firmsStatus">
                        </div>
                    </div>

                </div>
            </div>
            <!-- <div class="col-md-12 mb-4" *ngIf = "!isDisabled"> -->
            <div class="row" *ngIf="isCRM">

                <div class="form-heading mt-3">
                    <h4><b>Customer Document</b></h4>
                </div>

                <div class="col-md-7 mb-4">
                    <div class="d-block mb-4"><span class="text-danger"></span> Profile Image</div>
                    <div class="d-inline-block align-middle me-4">
                        <img src="assets/images/placeholder.png" alt="placeholder" *ngIf="!fileUploadStatus">
                        <img [src]=imageSrc alt="placeholder" height="50" width="50" *ngIf="fileUploadStatus">

                    </div>
                    <div class="d-inline-block align-middle position-relative image-box upl_opn_dv">
                        <span>{{imgOrgFile}}</span>
                        <div class="input-button-wrap d-flex w-100 file-div">
                            <label class="input-button" for="upload" id="profileId">Upload Image</label>
                            <input id="upload" type="file" (change)="uploadFile()" accept=".png,.jpg,.jpeg">

                        </div>

                    </div>
                    <small class="text-primary d-block mt-3">
                        Supported Format : Jpeg, jpg, png</small>
                </div>
                <div class="col-md-5 mb-4">
                    <div class="d-block mb-4"><span class="text-danger"></span> Trade Licence</div>

                    <div class="d-inline-block align-middle position-relative">
                        <span>{{tradeOrgFileName}}</span>
                        <div class="input-button-wrap d-flex w-100 file-div">
                            <label class="input-button" for="uploadTrade">Upload File</label>
                            <input id="uploadTrade" type="file" (change)="uploadTradeLicence()"
                                accept=".png,.jpg,.jpeg,.pdf,.xlsx,.xls">

                        </div>

                    </div>
                    <small class="text-primary d-block mt-3">
                        Supported Format : Jpeg, jpg, png, pdf,xlsx,xls</small>
                </div>

                <div class="col-md-7 mb-4">
                    <div class="d-block mb-4"><span class="text-danger"></span> GST Certificate</div>

                    <div class="d-inline-block align-middle position-relative">
                        <span>{{gstOrgDoc}}</span>
                        <div class="input-button-wrap d-flex w-100 file-div">
                            <label class="input-button" for="uploadGSTDoc">Upload File</label>
                            <input id="uploadGSTDoc" type="file" (change)="uploadGSTDoc()"
                                accept=".png,.jpg,.jpeg,.pdf,.xlsx,.xls">

                        </div>

                    </div>
                    <small class="text-primary d-block mt-3">
                        Supported Format : Jpeg, jpg, png, pdf, xlsx, xls</small>
                </div>
                <div class="col-md-5 mb-4">
                    <div class="d-block mb-4"><span class="text-danger"></span>Pan Card</div>

                    <div class="d-inline-block align-middle position-relative">
                        <span>{{panOrgDoc}}</span>
                        <div class="input-button-wrap d-flex w-100 file-div">
                            <label class="input-button" for="uploadPanDoc">Upload File</label>
                            <input id="uploadPanDoc" type="file" (change)="uploadPanDoc()"
                                accept=".png,.jpg,.jpeg,.pdf,.xlsx,.xls">

                        </div>

                    </div>
                    <small class="text-primary d-block mt-3">
                        Supported Format : Jpeg, jpg, png, pdf, xlsx, xls</small>
                </div>
                <div class="col-md-7 mb-4">
                    <div class="d-block mb-4"><span class="text-danger"></span> Aadhar Card</div>

                    <div class="d-inline-block align-middle position-relative">
                        <span>{{aadharOrgDoc}}</span>
                        <div class="input-button-wrap d-flex w-100 file-div">
                            <label class="input-button" for="uploadAadharDoc">Upload File</label>
                            <input id="uploadAadharDoc" type="file" (change)="uploadAadharDoc()"
                                accept=".png,.jpg,.jpeg,.pdf,.xlsx,.xls">

                        </div>

                    </div>
                    <small class="text-primary d-block mt-3">
                        Supported Format : Jpeg, jpg, png, pdf, xlsx, xls</small>
                </div>
                <div class="col-md-5 mb-4">
                    <div class="d-block mb-4"><span class="text-danger"></span> Cancle Cheque</div>

                    <div class="d-inline-block align-middle position-relative">
                        <span>{{cancleChequeOrgDoc}}</span>
                        <div class="input-button-wrap d-flex w-100 file-div">
                            <label class="input-button" for="uploadCancleChequeDoc">Upload File</label>
                            <input id="uploadCancleChequeDoc" type="file" (change)="uploadCancleChequeDoc()"
                                accept=".png,.jpg,.jpeg,.pdf,.xlsx,.xls">

                        </div>

                    </div>
                    <small class="text-primary d-block mt-3">
                        Supported Format : Jpeg, jpg, png, pdf, xlsx, xls</small>
                </div>
            </div>

            <div class="form-group" *ngIf="isCRM">
                <div class="row">
                    <div class="col-md-12" *ngIf="!customerUpdateFlag">
                        <button type="button" class="btn btn-success" (click)="addCustomer()">Create</button>
                    </div><br><br>
                    <div class="col-md-12" *ngIf="customerUpdateFlag">
                        <button type="button" class="btn btn-success" (click)="updateCustomer()">Update</button>
                    </div>
                </div><br>
            </div>
        </div>
    </div>
</div>

<ng-template #addRole>

    <div class="modal-body">
        <div class="form-body">
            <div class="form-group">


                <div class="row" *ngIf="isCRM">
                    <div class="form-heading mt-3">
                        <h4><b>Existing Filter</b></h4>
                    </div>

                    <div class="col-md-6 pt-2">
                        <label for="customerType"><span class="text-danger">*</span>Customer Type</label>
                        <select class="form-select" [(ngModel)]="customerType">
                            <option value="">Select an option</option>
                            <option *ngFor="let item of customerTypeList" [value]="item.contactTypeId">
                                {{item.contactTypeName}}</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="role_title" class="form-label">
                            <span class="text-danger">*</span>First Name
                        </label>
                        <div class="input-group">
                            <input type="text" name="fname" class="form-control" id="user_fname"
                                [(ngModel)]="FirstName">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="role_title" class="form-label">
                            <span class="text-danger">*</span>Last Name
                        </label>
                        <div class="input-group">
                            <input type="text" name="lname" class="form-control" id="user_lname" [(ngModel)]="LastName">
                        </div>
                    </div>



                    <div class="col-md-6">
                        <label for="country" class="form-label">
                            <span class="text-danger">*</span>Country
                        </label>
                        <div class="input-group">
                            <select class="form-select" aria-label="Default select example" id="status_type"
                                [(ngModel)]="country" (change)="getStatesByCountryId()">
                                <option value="">Select an option</option>
                                <option *ngFor="let item of countryList" [value]="item.countryId">
                                    {{item.countryName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="state" class="form-label">
                            <span class="text-danger">*</span>State
                        </label>
                        <div class="input-group">
                            <select class="form-select" aria-label="Default select example" id="status_type"
                                [(ngModel)]="state" (change)="getCityByStateId()">
                                <option value="">Select an option</option>
                                <option *ngFor="let item of stateList" [value]="item.stateId">{{item.stateName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="city" class="form-label">
                            <span class="text-danger">*</span>District/City
                        </label>
                        <div class="input-group">
                            <select class="form-select" aria-label="Default select example" id="status_type"
                                [(ngModel)]="city" (change)="getZoneByCityId()">
                                <option value="">Select an option</option>
                                <option *ngFor="let item of cityList" [value]="item.cityId">{{item.cityName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="zone" class="form-label">
                            <span class="text-danger">*</span>Zone
                        </label>
                        <div class="input-group">
                            <select class="form-select" aria-label="Default select example" id="status_type"
                                [(ngModel)]="zone">
                                <option value="">Select an option</option>
                                <option *ngFor="let item of zoneList" [value]="item.zoneId">{{item.zoneName}}
                                </option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>
            <div class="form-group" *ngIf="isCRM">
                <div class="row">
                    <div class="col-md-12" *ngIf="!customerUpdateFlag">
                        <button type="button" class="btn btn-success" (click)="addExsistingCustomer()">Submit</button>
                    </div><br><br>
                    <div class="col-md-12" *ngIf="customerUpdateFlag">
                        <button type="button" class="btn btn-success" (click)="updateCustomer()">Update</button>
                    </div>
                </div><br>
            </div>
        </div>
    </div>

</ng-template>