<main class="content">
    <div class="container-fluid p-0">


        <div class="row mb-2 mb-lg-4">
            <div class="col-md-12 d-lg-flex align-items-center main-hdng">
                <div class="col-md-6">
                    <h3>Employee Details</h3>
                </div>
                <div class="col-md-6">
                    <div class="">
                        <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-end">
                                <li class="breadcrumb-item"><a href="">Administration</a></li>
                                <li class="breadcrumb-item"><a href="">User</a></li>
                                <li class="breadcrumb-item active" aria-current="page">User Details</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2 mb-lg-4">
            <div class="col-md-12 d-lg-flex align-items-center hdng-btm">
                <div class="col-md-6">
                    <a class="btn btn-primary btn-lg me-3" routerLink="/pages/administration-user">Back To List <i
                            class="fas fa-chevron-left"></i></a>
                </div>
                <div class="col-md-6 text-end mt-n1">
                    <ul class="list-inline ml-auto mt-3 mt-lg-0 mb-0">
                        <li class="list-inline-item">
                            <button class="btn btn-primary btn-lg" (click)="addNew()"
                                *ngIf="permissionData.addPem == 1">Add New<i class="fas fa-plus"></i></button>
                        </li>

                        <!-- <li class="list-inline-item me-1 icon-border">
                            <a class="btn btn-outline-dark rounded-3 btn-xs" href="#" data-bs-toggle="tooltip"
                                data-bs-placement="bottom" title="Print">
                                <img src="assets/images/printer.svg" alt="printer"></a>
                        </li> -->

                        <li class="list-inline-item me-1 icon-border">
                            <a class="btn btn-outline-dark rounded-3 btn-xs" data-bs-toggle="tooltip"
                                data-bs-placement="bottom" title="Edit" *ngIf="permissionData.editPem == 1">
                                <img src="assets/images/pen.svg" alt="pen" (click)="edit()"></a>
                        </li>

                        <!-- <li class="list-inline-item me-1 icon-border">
                            <a class="btn btn-outline-dark rounded-3 btn-xs" href="#" data-bs-toggle="tooltip"
                                data-bs-placement="bottom" title="Schedule">
                                <img src="assets/images/calendar-days.svg" alt="calendar"></a>
                        </li> -->

                        <!-- <li class="list-inline-item me-1 icon-border">
                            <a class="btn btn-outline-dark rounded-3 btn-xs" href="#" data-bs-toggle="tooltip"
                                data-bs-placement="bottom" title="portrait">
                                <img src="assets/images/iphone-portrait.svg" alt="iphone"></a>
                        </li> -->

                        <!-- <li class="list-inline-item me-1 icon-border">
                            <a class="btn btn-outline-dark rounded-3 btn-xs" href="#" data-bs-toggle="tooltip"
                                data-bs-placement="bottom" title="Email">
                                <img src="assets/images/mail.svg" alt="mail"></a>
                        </li> -->

                        <!-- <li class="list-inline-item icon-border me-0">
                            <a class="mat-menu-trigger d-inline-block align-middle"
                                href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="assets/images/hdr-menu-vertical.svg" alt="menu-vertical"
                                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="More"></a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="#">Edit this contact</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Change contact image</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Change record owner</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Change to lead</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Export details</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Add new task for this contact</a>
                            </div>
                        </li> -->




                    </ul>
                </div>
            </div>
        </div>




        <div class="row" *ngFor="let item of userDetails">
            <div class="col-md-12">
                <div class="bg-white shadow-lg py-3 px-3 rounded-3 mb-3 profile-details">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <div class="d-inline-block align-middle me-3 details_img">
                                <img [src]="profileImgPath" alt="profile-img" height="50" width="70">
                            </div>
                            <div class="d-inline-block align-middle">
                                <h3>{{item.userName}}</h3>
                                <h5 *ngIf="item.userType == '0'">Relationship : Super Admin</h5>
                                <h5 *ngIf="item.userType == '1'">Relationship : Admin</h5>
                                <h5 *ngIf="item.userType == '2'">Relationship : Employee</h5>
                                <h5>Record ID : SMB04712</h5>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-inline-block align-middle">
                                <img src="assets/images/profile_iphone-portrait.svg" alt="iphone-portrait">
                            </div>
                            <div class="d-inline-block align-middle">
                                <h6 class="ph_txt">Phone number</h6>
                                <h6 class="ph_no">{{item.phone}}</h6>
                            </div>
                        </div>
                        <div class="col-md-2 d-md-flex">
                            <div class="d-inline-block align-middle details_img">
                                <img src="assets/images/profile_mail.svg" alt="profile_mail">
                            </div>
                            <div class="d-inline-block align-middle">
                                <h6 class="ph_txt">Email address</h6>
                                <h6 class="ph_no">{{item.email}}</h6>
                            </div>
                        </div>
                       
                        <div class="col-md-3">
                            <div class="text-end mt-n5">
                                <h5 class="profile-status ">Status :
                                    <ng-container  *ngIf="permissionData.editPem == 0">
                                        <span class="text-success pe-2" *ngIf="item.isActive ==1">Active</span>
                                        <span class="text-success pe-2" *ngIf="item.isActive ==0">Inactive</span>
                                    </ng-container>
                                    
                                    <ng-container  *ngIf="permissionData.editPem == 1">
                                        <a class="dropdown-toggle" mat-button [matMenuTriggerFor]="activemenu"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="text-success pe-2" *ngIf="item.isActive ==1">Active</span>
                                            <span class="text-success pe-2" *ngIf="item.isActive ==0">Inactive</span>
                                        </a>
                                        <mat-menu #activemenu="matMenu">
                                            <button mat-menu-item (click)="statusChange(1)">Active</button>
                                            <button mat-menu-item (click)="statusChange(0)">Inactive</button>
                                        </mat-menu>
                                    </ng-container>
                                </h5>

                            </div>
                        </div>

                        
                    </div>
                </div>

            </div>

        </div>


        <div class="row">
            <div class="col-md-6">


                <div class="bg-white shadow-lg py-3 px-3 rounded-3 profile-details-info">
                    <div class="hdr d-md-flex align-items-center mb-3">
                        <div class="col-auto d-block">
                            <h3>Detail informations</h3>
                        </div>
                    </div>




                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne">Personal</button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="details-info-inner">
                                        <table class="table table-sm table-borderless my-2">
                                            <tbody *ngFor="let item of userDetails">
                                                <tr>
                                                    <th>Name :</th>
                                                    <td>{{item.userName}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Phone Number :</th>
                                                    <td>{{item.phone}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Email Address :</th>
                                                    <td>{{item.email}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Date Of Birth :</th>
                                                    <td>{{item.dob | date:'dd:MM:yyyy'}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Sex :</th>
                                                    <td *ngIf="item.gender == 'M'">Male</td>
                                                    <td *ngIf="item.gender == 'F'">Female</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">Address</button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="details-info-inner">
                                        <table class="table table-sm table-borderless my-2">
                                            <tbody *ngFor="let item of userDetails">
                                                <tr>
                                                    <th>Full Address :</th>
                                                    <td>{{item.address}}</td>
                                                </tr>
                                                <tr>
                                                    <th>State Name :</th>
                                                    <td>{{item.stateName}}</td>
                                                </tr>
                                                <tr>
                                                    <th>District Name :</th>
                                                    <td>{{item.cityName}}</td>
                                                </tr>
                                                <!-- <tr>
                                                    <th>Zone :</th>
                                                    <td>{{item.zoneName}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Geo location :</th>
                                                    <td>{{item.geoLocation}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Lat. Long. :</th>
                                                    <td>{{item.lattitude}},{{item.longitude}}</td>
                                                </tr> -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">Official</button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="details-info-inner">
                                        <table class="table table-sm table-borderless my-2">
                                            <tbody *ngFor="let item of userDetails">
                                                <tr>
                                                    <th>Joining Date :</th>
                                                    <td>{{item.dateOfJoining | date:'dd:MM:yyyy'}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Designation :</th>
                                                    <td>{{item.designationName}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Role :</th>
                                                    <td>{{item.roleName}}</td>
                                                </tr>
                                                <!-- <tr>
                                                    <th>Reporting :</th>
                                                    <td>{{item.}}</td>
                                                </tr> -->
                                                <!-- <tr>
                                                    <th>Employee Code :</th>
                                                    <td>SMB04712</td>
                                                </tr> -->
                                                <!-- <tr>
                                                    <th>Product :</th>
                                                    <td>Product Name goes here</td>
                                                </tr> -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false"
                                    aria-controls="collapseFour">Remarks</button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="details-info-inner">
                                        <table class="table table-sm table-borderless my-2">
                                            <tbody *ngFor="let item of userDetails">
                                                <tr>
                                                    <td>{{item.remark}}</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>


                </div>
            </div>
            <div class="col-md-6">

                <div class="bg-white shadow-lg py-3 px-3 rounded-3 profile-details-info">
                    <div class="hdr d-md-flex align-items-center mb-3 lead-hdr">
                        <div class="col-auto d-block">
                            <h3>Assigned Task</h3>
                        </div>
                        <div class="col-auto d-block ms-auto">
                            <ul class="nav nav-pills " id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" [ngClass]="activityType == 'past' ? 'active' : '' "
                                        id="pills-activitypast-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-activity-past" type="button" role="tab"
                                        aria-controls="pills-activity-past" aria-selected="true"
                                        (click)="pastActivity()">Past</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" [ngClass]="activityType == 'up' ? 'active' : '' "
                                        id="pills-activityupcoming-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-activity-upcoming" type="button" role="tab"
                                        aria-controls="pills-activity-upcoming" aria-selected="false"
                                        (click)="upcommingActivity()">Upcoming</button>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="lead-details-info-inner">

                        <div class="tab-content" id="pills-activity-tabContent">
                            <div class="tab-pane fade show active" id="pills-activity-past" role="tabpanel"
                                aria-labelledby="pills-activitypast-tab">

                                <table id="datatables-column-search-select-inputs" class="table table-striped dataTable"
                                    style="width: 100%;" aria-describedby="datatables-column-search-select-inputs_info">
                                    <thead class="thead-dark">
                                        <tr role="row">
                                            <th class=" align-middle">Type</th>
                                            <th class=" align-middle">Date Due</th>
                                            <th class=" align-middle">Assigned to</th>
                                            <!-- <th>&nbsp;</th> -->
                                            <th width="26px">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th class="align-middle"><input type="text" placeholder="Search"
                                                    class="form-control input-sm"
                                                    (keyup)="searchByTaskCategoryType($event)"></th>
                                            <!-- <th class="align-middle"><input type="text" placeholder="Search"
                                                    class="form-control input-sm" (keyup)="searchByDateType($event)">
                                            </th> -->
                                            <th></th>

                                            <th class="align-middle"><input type="text" placeholder="Search"
                                                    class="form-control input-sm" (keyup)="searchByAssignTo($event)">
                                            </th>
                                            <!-- <th class="align-middle"><select class="form-select" (change) ="searchByAssignTo($event)">
                                                    <option value="">Select user</option>
                                                    <option  *ngFor = "let item of userNames" [value]="item.userId">{{item.username}}</option>
                                                </select>
                                            </th> -->
                                            <!-- <th width="70px">&nbsp;</th> -->
                                            <th>&nbsp;</th>


                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr role="row" class="" [ngClass]="(i+1)%2!=0 ? 'odd':'even'"
                                            *ngFor="let item of activityList;let i = index;">
                                            <td class="align-middle">{{item.activityName}}</td>
                                            <td class="align-middle">{{item.dueDate | date:'dd-MM-yyyy'}}</td>
                                            <td class="align-middle">{{item.assigntoName}}</td>

                                            <!-- <td class="align-middle">
                                                <input type="checkbox" id="customCheck1">
                                            </td> -->

                                            <td class="align-middle">
                                                <!-- <a class="d-inline-block align-middle dropdown-toggle no-dropdown-arrow"
                                                    href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <img src="assets/images/menu-vertical.svg" alt="menu"></a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a class="dropdown-item" href="#">View details</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#">Cancel this task</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#">Add new task</a>
                                                </div> -->
                                                <a class="d-inline-block align-middle" mat-button
                                                    [matMenuTriggerFor]="menu" *ngIf="permissionData.editPem == 1">
                                                    <img src="assets/images/menu-vertical.svg" alt="trash"></a>
                                                <mat-menu #menu="matMenu">
                                                    <!-- <button mat-menu-item>View details</button> -->
                                                    <button mat-menu-item (click)="cancleTask(item.activityId)">Cancel
                                                        this task</button>
                                                    <button mat-menu-item (click)="remarksModal(item.activityId)">Mark
                                                        as completed</button>

                                                </mat-menu>
                                            </td>
                                        </tr>
                                        <!-- <tr role="row" class="even">
                                            <td class="align-middle">Phone</td>
                                            <td class="align-middle">17.03.2022</td>
                                            <td class="align-middle">Contact</td>
                                            <td class="align-middle"><input type="checkbox" id="customCheck1"></td>
                                            <td width="40px" class="align-middle">
                                                <a class="d-inline-block align-middle" href="#">
                                                    <img src="assets/images/menu-vertical.svg" alt="menu"></a>
                                            </td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td class="align-middle">Phone</td>
                                            <td class="align-middle">17.03.2022</td>
                                            <td class="align-middle">Opportunity</td>
                                            <td class="align-middle"><input type="checkbox" id="customCheck1"></td>
                                            <td width="40px" class="align-middle">
                                                <a class="d-inline-block align-middle" href="#">
                                                    <img src="assets/images/menu-vertical.svg" alt="menu"></a>
                                            </td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td class="align-middle">Task</td>
                                            <td class="align-middle">17.03.2022</td>
                                            <td class="align-middle">Contact</td>
                                            <td class="align-middle"><input type="checkbox" id="customCheck1"></td>
                                            <td width="40px" class="align-middle">
                                                <a class="d-inline-block align-middle" href="#">
                                                    <img src="assets/images/menu-vertical.svg" alt="menu"></a>
                                            </td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td class="align-middle">Email</td>
                                            <td class="align-middle">17.03.2022</td>
                                            <td class="align-middle">Organization</td>
                                            <td class="align-middle"><input type="checkbox" id="customCheck1"></td>
                                            <td width="40px" class="align-middle">
                                                <a class="d-inline-block align-middle" href="#">
                                                    <img src="assets/images/menu-vertical.svg" alt="menu"></a>
                                            </td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td class="align-middle">Email</td>
                                            <td class="align-middle">17.03.2022</td>
                                            <td class="align-middle">Opportunity</td>
                                            <td class="align-middle"><input type="checkbox" id="customCheck1"></td>
                                            <td width="40px" class="align-middle">
                                                <a class="d-inline-block align-middle" href="#">
                                                    <img src="assets/images/menu-vertical.svg" alt="menu"></a>
                                            </td>
                                        </tr> -->
                                    </tbody>
                                </table><br>
                                <div class="text-center">

                                    <button type="button" class="px-1 d-inline-block align-middle"
                                        [disabled]="isPrevious" (click)="previous()">
                                        <img src="assets/images/chevron-left.svg" alt="chevron-left"></button>
                                    <button type="button" class="px-1 d-inline-block align-middle"
                                        [disabled]="isdisable" (click)="next()">
                                        <img src="assets/images/chevron-right.svg" alt="chevron-right"></button>
                                </div>

                            </div>

                            <div class="tab-pane fade" id="pills-activity-upcoming" role="tabpanel"
                                aria-labelledby="pills-activityupcoming-tab">
                                <table id="datatables-column-search-select-inputs" class="table table-striped dataTable"
                                    style="width: 100%;" aria-describedby="datatables-column-search-select-inputs_info">
                                    <thead class="thead-dark">
                                        <tr role="row">
                                            <th class=" align-middle">Type</th>
                                            <th class=" align-middle">Date Due</th>
                                            <th class=" align-middle">Assigned to</th>
                                            <th width="26px">&nbsp;</th>
                                            <!-- <th width="40px">&nbsp;</th> -->
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th class="align-middle"><input type="text" placeholder="Search"
                                                    class="form-control input-sm"
                                                    (keyup)="searchByTaskCategoryType($event)"></th>
                                            <th class="align-middle"><input type="text" placeholder="Search"
                                                    class="form-control input-sm" (keyup)="searchByDateType($event)">
                                            </th>

                                            <th class="align-middle"><input type="text" placeholder="Search"
                                                    class="form-control input-sm" (keyup)="searchByAssignTo($event)">
                                            </th>
                                            <!-- <th class="align-middle"><select class="form-select" (change) ="searchByAssignTo($event)">
                                                    <option value="">Select user</option>
                                                    <option  *ngFor = "let item of userNames" [value]="item.userId">{{item.username}}</option>
                                                </select>
                                            </th> -->
                                            <!-- <th width="70px">&nbsp;</th> -->
                                            <th>&nbsp;</th>


                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr role="row" class="" [ngClass]="(i+1)%2 !=0 ? 'odd':'even'"
                                            *ngFor="let item of activityList;let i = index;">
                                            <td class="align-middle">{{item.activityName}}</td>
                                            <td class="align-middle">{{item.dueDate | date:'dd-MM-yyyy'}}</td>
                                            <td class="align-middle">{{item.assigntoName}}</td>
                                            <!-- <td class="align-middle">
                                                <input type="checkbox" id="customCheck1">
                                            </td> -->
                                            <td width="40px" class="align-middle">
                                                <!-- <a class="d-inline-block align-middle dropdown-toggle no-dropdown-arrow"
                                                    href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <img src="assets/images/menu-vertical.svg" alt="menu"></a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a class="dropdown-item" href="#">View details</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#">Cancel this task</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="#">Add new task</a>
                                                </div> -->

                                                <a class="d-inline-block align-middle" mat-button
                                                    [matMenuTriggerFor]="menu"  *ngIf="permissionData.editPem == 1">
                                                    <img src="assets/images/menu-vertical.svg" alt="trash"></a>
                                                <mat-menu #menu="matMenu">
                                                    <!-- <button mat-menu-item>View details</button> -->
                                                    <button mat-menu-item (click)="cancleTask(item.activityId)">Cancel
                                                        this task </button>
                                                    <button mat-menu-item (click)="remarksModal(item.activityId)">Mark
                                                        as completed</button>

                                                </mat-menu>
                                            </td>
                                        </tr>
                                        <!-- <tr role="row" class="even">
                                            <td class="align-middle">Phone</td>
                                            <td class="align-middle">17.03.2022</td>
                                            <td class="align-middle">Contact</td>
                                            <td class="align-middle"><input type="checkbox" id="customCheck1"></td>
                                            <td width="40px" class="align-middle">
                                                <a class="d-inline-block align-middle" href="#">
                                                    <img src="assets/images/menu-vertical.svg" alt="menu"></a>
                                            </td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td class="align-middle">Phone</td>
                                            <td class="align-middle">17.03.2022</td>
                                            <td class="align-middle">Opportunity</td>
                                            <td class="align-middle"><input type="checkbox" id="customCheck1"></td>
                                            <td width="40px" class="align-middle">
                                                <a class="d-inline-block align-middle" href="#">
                                                    <img src="assets/images/menu-vertical.svg" alt="menu"></a>
                                            </td>
                                        </tr>
                                        <tr role="row" class="even">
                                            <td class="align-middle">Task</td>
                                            <td class="align-middle">17.03.2022</td>
                                            <td class="align-middle">Contact</td>
                                            <td class="align-middle"><input type="checkbox" id="customCheck1"></td>
                                            <td width="40px" class="align-middle">
                                                <a class="d-inline-block align-middle" href="#">
                                                    <img src="assets/images/menu-vertical.svg" alt="menu"></a>
                                            </td>
                                        </tr> -->


                                    </tbody>
                                </table><br>
                                <div class="text-center">

                                    <button type="button" class="px-1 d-inline-block align-middle"
                                        [disabled]="isPrevious" (click)="previous()">
                                        <img src="assets/images/chevron-left.svg" alt="chevron-left"></button>
                                    <button type="button" class="px-1 d-inline-block align-middle"
                                        [disabled]="isdisable" (click)="next()">
                                        <img src="assets/images/chevron-right.svg" alt="chevron-right"></button>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4 text-start">
                            <button class="btn btn-warning btn-sm" (click)="addTaskPopUp()"
                                *ngIf="permissionData.addPem == 1">Add Task <i class="fas fa-plus"></i></button>
                        </div>
                    </div>
                </div>


            </div>
        </div>


    </div>
</main>

<ng-template #addActivity>
    <div class="modal-content">
        <div class="modal-header">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-10">
                        <h3 class="modal-title d-inline-block align-middle me-2">Create New Activity</h3>
                        <div class="d-inline-block align-middle">
                        </div>
                    </div>
                    <div class="col-sm-2 d-flex justify-content-end">
                        <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close"
                            (click)="closeModal()"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12" style="margin-top: 18px;">
                        <label for="status_type" class="form-label"><span class="text-danger">*</span>Task
                            Type</label>
                        <div class="input-group">
                            <select class="form-select" aria-label="Default select example" [(ngModel)]="taskType">
                                <option value="">Select an option</option>
                                <option *ngFor="let obj of taskCategoryList" [value]="obj.categoryId">
                                    {{obj.categoryName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label"><span class="text-danger">*</span>Due Date</label>
                        <div class="input-group">
                            <input type="date" name="duedate" class="form-control" [(ngModel)]="dueDate">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label"><span class="text-danger">*</span>Description</label>
                        <div class="input-group">
                            <input type="text" name="description" class="form-control" [(ngModel)]="description"
                                onkeypress="if(this.value.length >100) return false;">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="status_type" class="form-label"><span class="text-danger">*</span>Assign To</label>
                        <div class="input-group">
                            <select class="form-select" aria-label="Default select example" id="status_type"
                                [(ngModel)]="assignTouserId">
                                <option value="">Select an option</option>
                                <option *ngFor="let data of userNames" [ngValue]="data.userId">{{data.firstName}}
                                    {{data.lastName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-bottom: 35px;">
                        <button class="btn btn-success btn-lg btn-block" style="float: right;"
                            (click)="addUserTask()">Add Task
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #remarksmodal>
    <div class="modal-content">
        <div class="modal-header">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-10 text-center">
                        <h3 class="modal-title d-inline-block align-middle me-2 text-center">Remarks
                        </h3>
                    </div>
                    <div class="col-sm-2 d-flex justify-content-end">
                        <button type="button" (click)="closeModal()" class="btn-close"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <textarea #testercomment matInput placeholder="Enter your remarks"
                            onkeypress="if(this.value.length >50) return false;"></textarea>
                    </mat-form-field>

                    <div class="col-sm-6 text-center">
                        <button type="button" class="btn btn-secondary btn-lg me-2"
                            (click)="closeModal()">Cancel</button>
                    </div>
                    <div class="col-sm-6 text-center">
                        <button type="button" class="btn btn-danger btn-lg me-2"
                            (click)="submitRemarks(testercomment.value)">Submit</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</ng-template>