<main class="content">
    <div class="container-fluid p-0">


        <div class="row mb-2 mb-lg-4">
            <div class="col-md-12 d-lg-flex align-items-center main-hdng">
                <div class="col-md-6">
                    <h3>Workflow Rules</h3>
                </div>
                <div class="col-md-6">
                    <div class="">
                        <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-end">
                                <li class="breadcrumb-item"><a href="#">Administration</a></li>
                                <li class="breadcrumb-item"><a href="administration-work-flow-rules.html">Workflow
                                        Rules</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Details</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2 mb-lg-4">
            <div class="col-md-12 d-lg-flex align-items-center hdng-btm">
                <div class="col-md-8">
                    <small class="text-dark lh-sm">Workflow rules allow you to perform certain automatic actions on
                        specific records based on filter criteria. Workflow automations can send emails, update fields,
                        create records and much more.</small>
                </div>
                <div class="col-md-4 text-end mt-n1">
                    <ul class="list-inline ml-auto mt-3 mt-lg-0 mb-0">
                        <li class="list-inline-item">
                            <a class="btn btn-dark btn-lg" routerLink = "/pages/work-flow-rules">Back To List <i
                                    class="fas fa-chevron-circle-left"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn btn-primary btn-lg" routerLink = "/pages/work-flow-rules-create">Create
                                Rule <i class="fas fa-edit"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>




        <div class="row">
            <div class="col-md-12 ">

                <div class="bg-white shadow-lg py-4 px-4 rounded-3 workflow_details">
                    <!-- <form action="#" method="post"> -->
                        <ol>
                            <li>
                                <div class="workflowDetailsBox mb-4">
                                    <div class="workflowDetailsBox_hdr d-flex align-items-center mb-4">
                                        <div class="col-auto me-auto">
                                            <h3 class="d-inline-block">Basic Information</h3>
                                        </div>
                                        <div class="col-auto ms-auto"><a href="#"><img
                                                    src="assets/images/workflow_settings.svg"
                                                    alt="workflow_settings"></a></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-5"><label for="workflowname" class="form-label">
                                                Workflow Name<span class="text-dark">*</span></label></div>
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <input type="text" name="workflowname" class="form-control"
                                                    id="workflowname"
                                                    placeholder="Send Email to user when Notifyowner is True">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-5"><label for="targetmodule" class="form-label">Target
                                                Module</label></div>
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <input type="text" name="workflowname" class="form-control"
                                                    id="targetmodule" placeholder="Contacts">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-5"><label for="targetmodule"
                                                class="form-label">Status</label></div>
                                        <div class="col-md-7">
                                            <div class="form-check d-inline-block align-middle me-3">
                                                <input class="form-check-input" type="radio" name="status" id="active"
                                                    checked>
                                                <label class="form-check-label" for="active">Active</label>
                                            </div>
                                            <div class="form-check d-inline-block align-middle">
                                                <input class="form-check-input" type="radio" name="status"
                                                    id="inactive">
                                                <label class="form-check-label" for="inactive">InActive</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-5"><label for="targetmodule"
                                                class="form-label">Description<span class="text-dark">*</span></label>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="input-group">
                                                <textarea name="Address" class="form-control" id="description" rows="7"
                                                    style="height:80px"
                                                    placeholder="Send Email to user when Notifyowner is True"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </li>


                            <li>
                                <div class="workflowDetailsBox mb-4">
                                    <div class="workflowDetailsBox_hdr d-flex align-items-center mb-4">
                                        <div class="col-auto me-auto">
                                            <h3 class="d-inline-block">Workflow Trigger</h3>
                                        </div>
                                        <div class="col-auto ms-auto"><a href="#"><img
                                                    src="assets/images/workflow_settings.svg"
                                                    alt="workflow_settings"></a></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-5"><label for="targetmodule" class="form-label">Trigger
                                                Workflow On</label></div>
                                        <div class="col-md-7">
                                            <div class="form-check d-block mb-2">
                                                <input class="form-check-input" type="radio" name="triggerworkflow"
                                                    id="contactcreation" checked>
                                                <label class="form-check-label" for="contactcreation">Contact
                                                    creation</label>
                                            </div>
                                            <div class="form-check d-block mb-2">
                                                <input class="form-check-input" type="radio" name="triggerworkflow"
                                                    id="contactupdated">
                                                <label class="form-check-label" for="contactupdated">Contact updated
                                                    (Includes Creation)</label>
                                            </div>
                                            <div class="form-check d-block mb-2">
                                                <input class="form-check-input" type="radio" name="triggerworkflow"
                                                    id="timeinterval">
                                                <label class="form-check-label" for="timeinterval">Time Interval</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </li>

                            <li>
                                <div class="workflowDetailsBox mb-4">
                                    <div class="workflowDetailsBox_hdr d-flex align-items-center mb-4">
                                        <div class="col-auto me-auto">
                                            <h3 class="d-inline-block">Entry Criteria</h3>
                                        </div>
                                        <div class="col-auto ms-auto"><a href="#"><img
                                                    src="assets/images/workflow_settings.svg"
                                                    alt="workflow_settings"></a></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-5"><label for="conditions" class="form-label">All Conditions
                                                (All conditions must be met)</label></div>
                                        <div class="col-md-7">
                                            <div class="row align-items-start">
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <select class="form-select" aria-label="Default select example"
                                                            id="conditions">
                                                            <option selected="Salutation">Salutation</option>
                                                            <option value="First Name">First Name</option>
                                                            <option value="Last Name">Last Name</option>
                                                            <option value="Primary Email">Primary Email</option>
                                                            <option value="Office Phone">Office Phone</option>
                                                            <option value="Mobile Phone">Mobile Phone</option>
                                                            <option value="Home Phone">Home Phone</option>
                                                            <option value="Date of Birth">Date of Birth</option>
                                                            <option value="Fax">Fax</option>
                                                            <option value="Organization Name">Organization Name</option>
                                                            <option value="Title">Title</option>
                                                            <option value="Department">Department</option>
                                                            <option value="Reports To">Reports To</option>
                                                            <option value="Lead Source">Lead Source</option>
                                                            <option value="Secondary Email">Secondary Email</option>
                                                            <option value="Assigned To">Assigned To</option>
                                                            <option value="Do Not Call">Do Not Call</option>
                                                        </select>
                                                    </div>
                                                    <a class="btn btn-xs btn-warning mt-n4" href="#">Add Condition <i
                                                            class="fas fa-plus"></i></a>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <select class="form-select" aria-label="Default select example"
                                                            id="conditions">
                                                            <option selected="has changed">has changed</option>
                                                            <option value="is">is</option>
                                                            <option value="is not">is not</option>
                                                            <option value="is empty">is empty</option>
                                                            <option value="is not empty">is not empty</option>
                                                            <option value="is online">is online</option>
                                                            <option value="is offline">is offline</option>
                                                            <option value="is busy">is busy</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 d-flex align-items-center">
                                                    <div class="input-group">
                                                        <input type="text" name="workflowname" class="form-control"
                                                            id="conditions" placeholder="Raw Text">
                                                    </div>
                                                    <div class="d-inline-block align-middle ms-4 mt-n3">
                                                        <img src="assets/images/workflow_trash.svg" alt="workflow_trash">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>



                                    <div class="row mt-3">
                                        <div class="col-md-5"><label for="conditions" class="form-label">Any Conditions
                                                (At least one of the
                                                conditions must be met)</label></div>
                                        <div class="col-md-7">
                                            <div class="row align-items-start">
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <select class="form-select" aria-label="Default select example"
                                                            id="conditions">
                                                            <option selected="Salutation">Salutation</option>
                                                            <option value="First Name">First Name</option>
                                                            <option value="Last Name">Last Name</option>
                                                            <option value="Primary Email">Primary Email</option>
                                                            <option value="Office Phone">Office Phone</option>
                                                            <option value="Mobile Phone">Mobile Phone</option>
                                                            <option value="Home Phone">Home Phone</option>
                                                            <option value="Date of Birth">Date of Birth</option>
                                                            <option value="Fax">Fax</option>
                                                            <option value="Organization Name">Organization Name</option>
                                                            <option value="Title">Title</option>
                                                            <option value="Department">Department</option>
                                                            <option value="Reports To">Reports To</option>
                                                            <option value="Lead Source">Lead Source</option>
                                                            <option value="Secondary Email">Secondary Email</option>
                                                            <option value="Assigned To">Assigned To</option>
                                                            <option value="Do Not Call">Do Not Call</option>
                                                        </select>
                                                    </div>
                                                    <a class="btn btn-xs btn-warning mt-n4" href="#">Add Condition <i
                                                            class="fas fa-plus"></i></a>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <select class="form-select" aria-label="Default select example"
                                                            id="conditions">
                                                            <option selected="has changed">has changed</option>
                                                            <option value="is">is</option>
                                                            <option value="is not">is not</option>
                                                            <option value="is empty">is empty</option>
                                                            <option value="is not empty">is not empty</option>
                                                            <option value="is online">is online</option>
                                                            <option value="is offline">is offline</option>
                                                            <option value="is busy">is busy</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 d-flex align-items-center">
                                                    <div class="input-group">
                                                        <input type="text" name="workflowname" class="form-control"
                                                            id="conditions" placeholder="Raw Text">
                                                    </div>
                                                    <div class="d-inline-block align-middle ms-4 mt-n3">
                                                        <img src="assets/images/workflow_trash.svg" alt="workflow_trash">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </li>


                            <li>
                                <div class="workflowDetailsBox">
                                    <div class="workflowDetailsBox_hdr d-flex align-items-center mb-4">
                                        <div class="col-auto me-auto">
                                            <h3 class="d-inline-block">Action</h3>
                                        </div>
                                        <div class="col-auto ms-auto"><a href="#"><img
                                                    src="assets/images/workflow_settings.svg"
                                                    alt="workflow_settings"></a></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="table-responsive dataTables_wrapper">
                                                <table id="datatables-column-search-select-inputs"
                                                    class="table table-striped dataTable" style="width: 100%;"
                                                    aria-describedby="datatables-column-search-select-inputs_info">
                                                    <thead class="thead-dark">
                                                        <tr role="row">
                                                            <th class="sorting align-middle">Action Type</th>
                                                            <th class="sorting align-middle">Action Title</th>
                                                            <th class="sorting align-middle">Status</th>
                                                            <th width="30px" class="sorting align-middle">&nbsp;</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr role="row" class="odd">
                                                            <td class="align-middle">Email</td>
                                                            <td class="align-middle">Contact has been created</td>
                                                            <td class="align-middle">
                                                                <div class="form-check form-switch">
                                                                    <input class="form-check-input" type="checkbox"
                                                                        id="moduleSwitch">
                                                                </div>
                                                            </td>
                                                            <td class="align-middle">
                                                                <a href="#"><img src="assets/images/workflow_create.svg"
                                                                        alt="workflow_create"></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <a class="btn btn-xs btn-warning mt-4" href="#">Add Action <i
                                                    class="fas fa-plus"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </li>

                        </ol>
                    <!-- </form> -->
                </div>
            </div>

        </div>
    </div>
</main>


<div id="settings" class="settings js-settings">
    <div onclick="settingsToggle()" class="settings-toggle">
        <div class="settings-toggle-option settings-toggle-option-text js-settings-toggle" title="Theme Builder">
            <div class="d-inline-block my-1"><img src="assets/images/fluent_paint-bucket.svg" alt="fluent_paint-bucket">
            </div>
            <div class="d-inline-block my-1"><img src="assets/images/fluent_settings.svg" alt="fluent_settings">
            </div>
        </div>
    </div>

    <div class="settings-panel">
        <div class="settings-content">
            <div class="settings-title d-flex align-items-center">
                <button type="button" class="btn-close float-right js-settings-toggle"
                    onclick="settingsToggleClose()"></button>

                <h4 class="mb-0 ms-2 d-inline-block">Settings</h4>
            </div>

            <div class="settings-body">

                <div class="alert alert-primary" role="alert">
                    <div class="alert-message">
                        <strong>Hey there!</strong> Set your own customized style below. Choose the ones that best
                        fits your needs.
                    </div>
                </div>

                <div class="mb-3">
                    <span class="d-block font-size-lg font-weight-bold">Color scheme</span>
                    <span class="d-block text-muted mb-2">The perfect color mode for your app.</span>

                    <div class="row g-0 text-center mx-n1 mb-2">
                        <div class="col">
                            <label class="mx-1 d-block mb-1">
                                <input class="settings-scheme-label" type="radio" name="theme" value="default">
                                <div class="settings-scheme">
                                    <div class="settings-scheme-theme settings-scheme-theme-default"></div>
                                </div>
                            </label>
                            Default
                        </div>
                        <div class="col">
                            <label class="mx-1 d-block mb-1">
                                <input class="settings-scheme-label" type="radio" name="theme" value="colored">
                                <div class="settings-scheme">
                                    <div class="settings-scheme-theme settings-scheme-theme-colored"></div>
                                </div>
                            </label>
                            Colored
                        </div>
                    </div>
                    <div class="row g-0 text-center mx-n1">
                        <div class="col">
                            <label class="mx-1 d-block mb-1">
                                <input class="settings-scheme-label" type="radio" name="theme" value="dark">
                                <div class="settings-scheme">
                                    <div class="settings-scheme-theme settings-scheme-theme-dark"></div>
                                </div>
                            </label>
                            Dark
                        </div>
                        <div class="col">
                            <label class="mx-1 d-block mb-1">
                                <input class="settings-scheme-label" type="radio" name="theme" value="light">
                                <div class="settings-scheme">
                                    <div class="settings-scheme-theme settings-scheme-theme-light"></div>
                                </div>
                            </label>
                            Light
                        </div>
                    </div>
                </div>

                <hr>

                <div class="mb-3">
                    <span class="d-block font-size-lg font-weight-bold">Sidebar position</span>
                    <span class="d-block text-muted mb-2">Toggle the position of the sidebar.</span>

                    <div>
                        <label>
                            <input class="settings-button-label" type="radio" name="sidebarPosition" value="left">
                            <div class="settings-button">
                                Left
                            </div>
                        </label>
                        <label>
                            <input class="settings-button-label" type="radio" name="sidebarPosition" value="right">
                            <div class="settings-button">
                                Right
                            </div>
                        </label>
                    </div>
                </div>

                <hr>

                <div class="mb-3">
                    <span class="d-block font-size-lg font-weight-bold">Sidebar behavior</span>
                    <span class="d-block text-muted mb-2">Change the behavior of the sidebar.</span>

                    <div>
                        <label>
                            <input class="settings-button-label" type="radio" name="sidebarBehavior" value="sticky">
                            <div class="settings-button">
                                Sticky
                            </div>
                        </label>
                        <label>
                            <input class="settings-button-label" type="radio" name="sidebarBehavior" value="fixed">
                            <div class="settings-button">
                                Fixed
                            </div>
                        </label>
                    </div>
                </div>


            </div>


        </div>
    </div>
</div>