<main class="content">
    <div class="container-fluid p-0">
        <div class="row mb-2 mb-lg-4">
            <div class="col-md-12 d-lg-flex align-items-center main-hdng">
                <div class="col-md-6">
                    <h3>Calendar</h3>
                </div>
                <div class="col-md-6">
                    <div class="">
                        <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
                            <!-- <ol class="breadcrumb justify-content-end">
                                <li class="breadcrumb-item"><a href="">Administration</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Calendar</li>
                            </ol> -->
                        </nav>
                    </div>
                </div>
            </div>
        </div>



        <div class="row mb-2 mb-lg-4">
            <div class="d-lg-flex align-items-center hdng-btm">

                <div class="col-md-12 text-end mt-n1">
                    <ul class="list-inline ml-auto mt-3 mt-lg-0 mb-0">
                        <li class="list-inline-item">
                            <button class="btn btn-primary btn-lg" type="button" data-bs-target="#calenderEventModal"
                                data-bs-toggle="modal" data-bs-dismiss="modal" (click) = "addEvent()">Add Event <i
                                    class="fas fa-plus"></i></button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="bg-white shadow-lg py-3 px-3 rounded-3 calender_left_box h-100">
                    <div class="col-auto d-block">
                        <h3>Show on calendar</h3>
                    </div>
                    <div class="d-flex align-items-center mt-3">
                        <div class="col-auto d-block">
                            <div class="form-check date">
                                <input class="form-check-input me-2" type="checkbox" value="" id="show_event">
                                <label class="form-check-label" for="show_event">Show Event</label>
                            </div>
                        </div>
                        <div class="col-auto d-block ms-auto">
                            <span class="bg-primary small_box"></span>
                        </div>
                    </div>

                    <div class="d-flex align-items-center mt-3">
                        <div class="col-auto d-block">
                            <div class="form-check date">
                                <input class="form-check-input me-2" type="checkbox" value="" id="show_task">
                                <label class="form-check-label" for="show_task">Show Task</label>
                            </div>
                        </div>
                        <div class="col-auto d-block ms-auto">
                            <span class="bg-warning small_box"></span>
                        </div>
                    </div>

                    <div class="d-flex align-items-center mt-3">
                        <div class="col-auto d-block">
                            <div class="form-check date">
                                <input class="form-check-input me-2" type="checkbox" value="" id="milestones">
                                <label class="form-check-label" for="milestones">My Milestones</label>
                            </div>
                        </div>
                        <div class="col-auto d-block ms-auto">
                            <span class="bg-success small_box"></span>
                        </div>
                    </div>


                    <div class="col-auto d-block mt-5 mb-4">
                        <h3>Event chart</h3>
                    </div>


                    <div class="calender_event mb-4">
                        <div class="col-auto d-block">
                            <h4>Event name goes here</h4>
                            <p>20.04.2023</p>
                            <a class="btn btn-xs btn-warning" href="#">Details <i class="fas fa-info-circle"></i></a>
                        </div>
                    </div>

                    <div class="calender_event mb-4">
                        <div class="col-auto d-block">
                            <h4>Event name goes here</h4>
                            <p>20.04.2023</p>
                            <a class="btn btn-xs btn-warning" href="#">Details <i class="fas fa-info-circle"></i></a>
                        </div>
                    </div>

                    <div class="calender_event">
                        <div class="col-auto d-block">
                            <h4>Event name goes here</h4>
                            <p>20.04.2023</p>
                            <a class="btn btn-xs btn-warning" href="#">Details <i class="fas fa-info-circle"></i></a>
                        </div>
                    </div>



                </div>
            </div>

            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="bg-white shadow-lg py-4 px-4 rounded-3">
                    <div class="d-xl-flex align-items-center mb-3">
                        <div class="col-auto d-block">
                            <h3>Calendar</h3>
                        </div>
                    </div>

                    <div class="calender_box">
                        <div id="calendar">
                            <app-calender-view></app-calender-view>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</main>

<!-- <div id="settings" class="settings js-settings">
    <div onclick="settingsToggle()" class="settings-toggle">
        <div class="settings-toggle-option settings-toggle-option-text js-settings-toggle" title="Theme Builder">
            <div class="d-inline-block my-1"><img src="assets/images/fluent_paint-bucket.svg"
                    alt="fluent_paint-bucket"></div>
            <div class="d-inline-block my-1"><img src="assets/images/fluent_settings.svg" alt="fluent_settings">
            </div>
        </div>
    </div>

    <div class="settings-panel">
        <div class="settings-content">
            <div class="settings-title d-flex align-items-center">
                <button type="button" class="btn-close float-right js-settings-toggle"
                    onclick="settingsToggleClose()"></button>

                <h4 class="mb-0 ms-2 d-inline-block">Settings</h4>
            </div>

            <div class="settings-body">

                <div class="alert alert-primary" role="alert">
                    <div class="alert-message">
                        <strong>Hey there!</strong> Set your own customized style below. Choose the ones that best fits
                        your needs.
                    </div>
                </div>

                <div class="mb-3">
                    <span class="d-block font-size-lg font-weight-bold">Color scheme</span>
                    <span class="d-block text-muted mb-2">The perfect color mode for your app.</span>

                    <div class="row g-0 text-center mx-n1 mb-2">
                        <div class="col">
                            <label class="mx-1 d-block mb-1">
                                <input class="settings-scheme-label" type="radio" name="theme" value="default">
                                <div class="settings-scheme">
                                    <div class="settings-scheme-theme settings-scheme-theme-default"></div>
                                </div>
                            </label>
                            Default
                        </div>
                        <div class="col">
                            <label class="mx-1 d-block mb-1">
                                <input class="settings-scheme-label" type="radio" name="theme" value="colored">
                                <div class="settings-scheme">
                                    <div class="settings-scheme-theme settings-scheme-theme-colored"></div>
                                </div>
                            </label>
                            Colored
                        </div>
                    </div>
                    <div class="row g-0 text-center mx-n1">
                        <div class="col">
                            <label class="mx-1 d-block mb-1">
                                <input class="settings-scheme-label" type="radio" name="theme" value="dark">
                                <div class="settings-scheme">
                                    <div class="settings-scheme-theme settings-scheme-theme-dark"></div>
                                </div>
                            </label>
                            Dark
                        </div>
                        <div class="col">
                            <label class="mx-1 d-block mb-1">
                                <input class="settings-scheme-label" type="radio" name="theme" value="light">
                                <div class="settings-scheme">
                                    <div class="settings-scheme-theme settings-scheme-theme-light"></div>
                                </div>
                            </label>
                            Light
                        </div>
                    </div>
                </div>

                <hr>

                <div class="mb-3">
                    <span class="d-block font-size-lg font-weight-bold">Sidebar position</span>
                    <span class="d-block text-muted mb-2">Toggle the position of the sidebar.</span>

                    <div>
                        <label>
                            <input class="settings-button-label" type="radio" name="sidebarPosition" value="left">
                            <div class="settings-button">
                                Left
                            </div>
                        </label>
                        <label>
                            <input class="settings-button-label" type="radio" name="sidebarPosition" value="right">
                            <div class="settings-button">
                                Right
                            </div>
                        </label>
                    </div>
                </div>

                <hr>

                <div class="mb-3">
                    <span class="d-block font-size-lg font-weight-bold">Sidebar behavior</span>
                    <span class="d-block text-muted mb-2">Change the behavior of the sidebar.</span>

                    <div>
                        <label>
                            <input class="settings-button-label" type="radio" name="sidebarBehavior" value="sticky">
                            <div class="settings-button">
                                Sticky
                            </div>
                        </label>
                        <label>
                            <input class="settings-button-label" type="radio" name="sidebarBehavior" value="fixed">
                            <div class="settings-button">
                                Fixed
                            </div>
                        </label>
                    </div>
                </div>


            </div>


        </div>
    </div>
</div> -->

<ng-template #calendarEvent>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-10">
                            <h3>Add New Event</h3>
                        </div>
                        <div class="col-2 d-flex justify-content-end"><button type="button" data-bs-dismiss="modal"
                                aria-label="Close" class="btn-close" (click) = "closeModal()"></button></div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div id="scheduleModal-scroll">
                    <div class="container-fluid">
                        <form action="#" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="event_name" class="form-label"><span class="text-danger">*</span> Event
                                        Name</label>
                                    <div class="input-group">
                                        <input type="text" name="event" class="form-control" id="event_name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="start_date" class="form-label"><span class="text-danger">*</span> Event
                                        Start Date</label>
                                    <div class="input-group date" id="datepicker">
                                        <input type="date" class="form-control" id="start_date"
                                            placeholder="Choose date">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="end_date" class="form-label"><span class="text-danger">*</span> Event
                                        End Date</label>
                                    <div class="input-group date" id="datepicker">
                                        <input type="date" class="form-control" id="end_date" placeholder="Choose date">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-check date d-inline-block align-middle">
                                    <input class="form-check-input" type="checkbox" value="" id="repeat_yearly">
                                    <label class="form-check-label" for="repeat_yearly">Repeat Yearly</label>
                                </div>
                            </div>
                            <div class="col-md-12 d-flex justify-content-end mt-5">
                                <button class="btn btn-dark btn-lg me-2" type="button">Cancel <i
                                        class="fas fa-times-circle"></i></button>
                                <button class="btn btn-primary btn-lg" type="button">Create <i
                                        class="fas fa-pen"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>