<main class="content">
    <div class="container-fluid p-0">


        <div class="row mb-2 mb-lg-4">
            <div class="col-md-12 d-lg-flex align-items-center main-hdng">
                <div class="col-md-6">
                    <h3>Task Details</h3>
                </div>
                <div class="col-md-6">
                    <div class="">
                        <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-end">
                                <li class="breadcrumb-item active"><a>Task</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Task name details</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2 mb-lg-4">
            <div class="col-md-12 d-lg-flex align-items-center hdng-btm">
                <div class="col-md-6">
                    <a class="btn btn-primary btn-lg me-3" routerLink="/pages/tasklist">Back To List <i
                            class="fas fa-chevron-left"></i></a>
                </div>
                <div class="col-md-6 text-end mt-n1">
                    <ul class="list-inline ml-auto mt-3 mt-lg-0 mb-0">
                        <li class="list-inline-item">
                            <button class="btn btn-primary btn-lg" data-bs-target="#addContactModal"
                                data-bs-toggle="modal" data-bs-dismiss="modal" (click)="addnew()"
                                *ngIf="permissionData.addPem == 1">Add New <i
                                    class="fas fa-plus"></i></button>
                        </li>
                        <!-- <li class="list-inline-item me-1 icon-border">
                            <button disabled class="btn btn-outline-dark rounded-3 btn-xs" data-bs-toggle="tooltip"
                                data-bs-placement="bottom" title="Print">
                                <img src="assets/images/printer.svg" alt="printer"></button>
                        </li> -->


                        <li class="list-inline-item me-1 icon-border">
                            <a class="btn btn-outline-dark rounded-3 btn-xs" data-bs-toggle="tooltip"
                                data-bs-placement="bottom" title="Edit"  *ngIf="permissionData.editPem == 1">
                                <img src="assets/images/pen.svg" alt="pen" (click)="edit()"></a>
                        </li>

                        <!-- <li class="list-inline-item me-1 icon-border">
                            <button disabled class="btn btn-outline-dark rounded-3 btn-xs" data-bs-toggle="tooltip"
                                data-bs-placement="bottom" title="Schedule">
                                <img src="assets/images/calendar-days.svg" alt="calendar"></button>
                        </li> -->

                        <!-- <li class="list-inline-item me-1 icon-border">
                            <button disabled class="btn btn-outline-dark rounded-3 btn-xs" data-bs-toggle="tooltip"
                                data-bs-placement="bottom" title="portrait">
                                <img src="assets/images/iphone-portrait.svg" alt="iphone"></button>
                        </li> -->

                        <!-- <li class="list-inline-item me-1 icon-border">
                            <button disabled class="btn btn-outline-dark rounded-3 btn-xs" data-bs-toggle="tooltip"
                                data-bs-placement="bottom" title="Email">
                                <img src="assets/images/mail.svg" alt="mail"></button>
                        </li> -->

                        <!-- <li class="list-inline-item icon-border me-0">
                            <button disabled class="mat-menu-trigger d-inline-block align-middle"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="assets/images/hdr-menu-vertical.svg" alt="menu-vertical"
                                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="More"></button>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item">Edit this Task</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item">Change Task image</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item">Delete</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item">Email this Task</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item">Clone</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item">Follow this Task</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item">Convert this Task</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item">Add activity</a>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>




        <div class="row">
            <div class="col-md-12">
                <div class="bg-white shadow-lg py-3 px-3 rounded-top-lg profile-details">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <div class="d-inline-block align-middle me-3">
                                <img src="assets/images/park_browser.png" alt="profile-img">
                            </div>
                            <div class="d-inline-block align-middle" *ngFor="let item of taskDetails">
                                <h3 class="mb-1">{{item.taskName}}</h3>
                                 <h5>Task type : {{item.taskType}}</h5>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="d-md-flex align-items-center">
                                <div class="col-auto d-block md-3 me-6">
                                     <div class="d-inline-block align-middle details_img">
                                        <img src="assets/images/opportunity-profile2.png" alt="profile_calendar">
                                    </div>
                                    <div class="d-inline-block align-middle">
                                        <h6 class="ph_txt">Assigned to</h6>
                                        <h6 class="ph_no"  *ngFor="let item of taskDetails">{{item.firstName}} {{item.lastName}}</h6>
                                    </div>
                                </div>

                                <div class="col-auto d-block md-3 me-6">
                                    <div class="d-inline-block align-middle">
                                        <img src="assets/images/profile_calendar-day.svg" alt="profile_calendar">
                                    </div>
                                    <div class="d-inline-block align-middle">
                                        <h6 class="ph_txt">Due Date</h6>
                                        <h6 class="ph_no" *ngFor="let item of taskDetails">{{item.dueDate}}</h6>
                                    </div>
                                </div>


                                <div class="col-auto d-block ms-auto">
                                    <div class="text-end mt-n4">
                                        <h5 class="profile-status ">Priority status :

                                            <ng-container  *ngIf="permissionData.editPem == 0">
                                            
                                        <span class="text-success pe-2" *ngFor="let item of taskDetails">{{item.priorityName}}</span>
                                        </ng-container>
                                        <ng-container  *ngIf="permissionData.editPem == 1">
                                            <a class="dropdown-toggle" mat-button [matMenuTriggerFor]="activemenu"
                                            data-bs-toggle="dropdown" aria-expanded="false"></a>
                                          <mat-menu  #activemenu="matMenu">

                                                    <button (click)="changePriority(item.priorityId)" *ngFor="let item of priorityList" mat-menu-item>{{item.priorityName}}</button>

                                                </mat-menu>
                                            </ng-container>
                                        </h5>

                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>

                <div
                    class="bg-white shadow-lg py-3 px-3 rounded-bottom-lg mb-4 profile-details border-top border-dark  position-relative" *ngFor="let item of taskDetails">
                    <div class="row align-items-center mt-3">
                        <div class="col-md-3">
                            <div class="row align-items-center">
                                <span class="related_badge">Related to</span>
                                <div class="col-md-2">
                                    <img src="assets/images/organization-profile.png" alt="profile-img">
                                </div>
                                <div class="col-md-10">
                                    <h6 class="ph_txt">Organization name</h6>
                                    <h6 class="ph_no">{{item.organizationName}}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="d-md-flex align-items-center">
                                <div class="col-auto d-block mx-xl-3 mx-lg-2">
                                    <!-- <div class="d-inline-block align-middle">
                                        <img src="assets/images/opportunity-profile1.png" alt="profile-img">
                                    </div> -->
                                    <div class="d-inline-block align-middle">
                                        <h6 class="ph_txt">Contact person</h6>
                                        <h6 class="ph_no">{{item.contactPerson}}</h6>
                                    </div>
                                </div>
                                <div class="col-auto d-block mx-xl-3 mx-lg-2">
                                    <div class="d-inline-block align-middle">
                                        <img src="assets/images/profile_iphone-portrait.svg" alt="iphone-portrait">
                                    </div>
                                    <div class="d-inline-block align-middle">
                                        <h6 class="ph_txt">Phone number</h6>
                                        <h6 class="ph_no">{{item.contactPersonPhone}}</h6>
                                    </div>
                                </div>
                                <div class="col-auto d-block mx-xl-3 mx-lg-2">
                                    <div class="d-inline-block align-middle">
                                        <img src="assets/images/profile_mail.svg" alt="profile_mail">
                                    </div>
                                    <div class="d-inline-block align-middle">
                                        <h6 class="ph_txt">Email address</h6>
                                        <h6 class="ph_no">{{item.contactPersonEmail}}</h6>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>


                <div class="mb-3 profile-navigation" *ngFor="let item of taskDetails">
                    <div class="d-sm-flex align-items-center mb-3">
                        <div class="col-auto me-4">
                            <h4>Task Stage: <span class="text-success">{{item.stageName}}</span></h4>
                        </div>
                        <div class="col-auto">
                            <!-- <a class="btn btn-secondary btn-xs me-1">Change</a> -->
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="bg-white shadow-lg py-3 px-3 rounded-3 profile-details-info">
                    <div class="hdr d-xl-flex align-items-center mb-3">
                        <div class="col-auto d-block">
                            <h3>Detail informations</h3>
                        </div>
                    </div>

                     <div class="accordion" id="accordionExamplebuisness">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingbuisnessOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapsebuisnessOne" aria-expanded="true"
                                    aria-controls="collapsebuisnessOne">Details</button>
                            </h2>
                            <div id="collapsebuisnessOne" class="accordion-collapse collapse show"
                                aria-labelledby="headingbuisnessOne" data-bs-parent="#accordionExamplebuisness">
                                <div class="accordion-body">
                                    <div class="details-info-inner">
                                        <table class="table table-sm table-borderless my-2">
                                            <tbody *ngFor="let item of taskDetails">
                                            <tr>
                                                <th>Record ID :</th>
                                                <td>{{item.recordNo}}</td>
                                            </tr>
                                            <tr>
                                                <th>Task name :</th>
                                                <td>{{item.taskName}}</td>
                                            </tr>
                                            <tr>
                                                <th>Assigned to :</th>
                                                <td>{{item.firstName}} {{item.lastName}}</td>
                                            </tr>
                                            <tr>
                                                <th>Due date :</th>
                                                <td>{{item.dueDate}}</td>
                                            </tr>
                                            <tr>
                                                <th>Priority status :</th>
                                                <td>{{item.priorityName}}</td>
                                            </tr>
                                            <tr>
                                                <th>Task stage :</th>
                                                <td>{{item.stageName}}</td>
                                            </tr>
                                            <tr>
                                                <th>Task type :</th>
                                                <td>{{item.taskType}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingbuisnessTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapsebuisnessTwo" aria-expanded="false"
                                    aria-controls="collapsebuisnessTwo">Additional Information</button>
                            </h2>
                            <div id="collapsebuisnessTwo" class="accordion-collapse collapse"
                                aria-labelledby="headingbuisnessTwo" data-bs-parent="#accordionExamplebuisness">
                                <div class="accordion-body">
                                    <div class="details-info-inner">
                                        <table class="table table-sm table-borderless my-2">
                                            <tbody *ngFor="let item of taskDetails">
                                            <tr>
                                                <th width="150px">Organization name :</th>
                                                <td>{{item.organizationName}}</td>
                                            </tr>
                                            <tr>
                                                <th>Contact person :</th>
                                                <td>{{item.contactPerson}}</td>
                                            </tr>
                                            <tr>
                                                <th>Phone number :</th>
                                                <td>{{item.contactPersonPhone}}</td>
                                            </tr>
                                            <tr>
                                                <th>Email ID :</th>
                                                <td>{{item.contactPersonEmail}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingbuisnessThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapsebuisnessThree" aria-expanded="false"
                                    aria-controls="collapsebuisnessThree">Description</button>
                            </h2>
                            <div id="collapsebuisnessThree" class="accordion-collapse collapse"
                                aria-labelledby="headingbuisnessThree" data-bs-parent="#accordionExamplebuisness">
                                <div class="accordion-body">
                                    <div class="details-info-inner">
                                        <table class="table table-sm table-borderless my-2">
                                            <tbody>
                                                <tr *ngFor="let item of taskDetails">
                                                    <td>{{item.taskDescription}}</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!--<mat-accordion>
                        <mat-expansion-panel [expanded]= true (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Details
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="details-info-inner">
                                <table class="table table-sm table-borderless my-2">
                                    <tbody *ngFor="let item of taskDetails">
                                        <tr>
                                            <th>Record ID :</th>
                                            <td>{{item.recordNo}}</td>
                                        </tr>
                                        <tr>
                                            <th>Task name :</th>
                                            <td>{{item.taskName}}</td>
                                        </tr>
                                        <tr>
                                            <th>Assigned to :</th>
                                            <td>{{item.firstName}}{{item.lastName}}</td>
                                        </tr>
                                        <tr>
                                            <th>Due date :</th>
                                            <td>{{item.dueDate}}</td>
                                        </tr>
                                        <tr>
                                            <th>Priority status :</th>
                                            <td>{{item.priorityName}}</td>
                                        </tr>
                                        <tr>
                                            <th>Task stage :</th>
                                            <td>{{item.stageName}}</td>
                                            &lt;!&ndash; <a class="ms-5 btn btn-secondary btn-xs me-1">Change</a> &ndash;&gt;
                                        </tr>
                                        &lt;!&ndash; <tr>
                                            <th>Task type :</th>
                                            <td>Email</td>
                                        </tr> &ndash;&gt;
                                    </tbody>
                                </table>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <br>
                    <mat-accordion>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Additional Information
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="details-info-inner">
                                <table class="table table-sm table-borderless my-2">
                                    <tbody *ngFor="let item of taskDetails">
                                        <tr>
                                            <th>Organization name :</th>
                                            <td>{{item.organizationName}}</td>
                                        </tr>
                                        <tr>
                                            <th>Contact person :</th>
                                            <td>{{item.contactPerson}}</td>
                                        </tr>
                                        <tr>
                                            <th>Phone number :</th>
                                            <td>{{item.contactPersonPhone}}</td>
                                        </tr>
                                        <tr>
                                            <th>Email ID :</th>
                                            <td>{{item.contactPersonEmail}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <br>
                    <mat-accordion>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Description
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="details-info-inner">
                                <table class="table table-sm table-borderless my-2">
                                    <tbody>
                                        <tr>
                                            <td>Interested for products view</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>-->


                </div>


            </div>
            <div class="col-md-6">
                <div class="bg-white shadow-lg py-3 px-3 rounded-3 profile-details-info mb-3">
                    <div class="hdr d-xl-flex align-items-center mb-3">
                        <div class="col-auto d-block">
                            <h3>Task Ownership</h3>
                        </div>
                    </div>
                    <div class="lead-details-info-inner pad-sm-table">
                        <table class="table table-sm table-borderless my-2">
                            <tbody *ngFor="let item of taskDetails">
                                <tr>
                                    <th>Creted by :</th>
                                    <td>{{item.createdBy}}</td>
                                </tr>
                                <tr>
                                    <th>Date created :</th>
                                    <td>{{item.createdAt | date:'dd-MM-yyyy'}}</td>
                                </tr>
                                <tr>
                                    <th>Assigned user :</th>
                                    <td>{{item.firstName}} {{item.lastName}}</td>
                                </tr>
                                <tr>
                                    <th>Due date :</th>
                                    <td>{{item.dueDate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>
</main>