<main class="content">
    <div class="container-fluid p-0">


        <div class="row mb-2 mb-lg-4">
            <div class="col-md-12 d-lg-flex align-items-center main-hdng">
                <div class="col-md-6">
                    <h3>Contacts</h3>
                </div>
                <div class="col-md-6">
                    <div class="">
                        <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
                            <!-- <ol class="breadcrumb justify-content-end">
                                <li class="breadcrumb-item active" aria-current="page">Contacts</li>
                            </ol> -->
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-2 mb-lg-4 d-flex align-items-center hdng-btm">
            <div class="col-md-12 d-lg-flex align-items-center hdng-btm">
                <div class="col-md-6">
                    <!-- <a class="btn btn-dark btn-lg me-3">Edit Page Layout <i class="fas fa-pen"></i></a> -->
                    <div class="d-none d-sm-inline-block">
                        <div class="input-group input-group-navbar">
                            <input type="text" class="form-control" placeholder="Keyword Search" aria-label="Search"
                                (keyup)="globalSearch($event)">
                            <button class="btn" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-search align-middle">
                                    <circle cx="11" cy="11" r="8"></circle>
                                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-end mt-n1">
                    <ul class="list-inline ml-auto mt-3 mt-lg-0 mb-0">
                        <!-- <li class="list-inline-item">
                            <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
                                <button id="switchFrst" onclick="toggleBtnSales()" type="button"
                                    class="btn btn-outline-darker btn-lg">Sales <i
                                        class="fas fa-cart-arrow-down"></i></button>
                                <button id="switchScnd" onclick="toggleBtnExternal()" type="button"
                                    class="btn btn-outline-darker btn-lg switchActiveScnd">External <i
                                        class="fas fa-external-link-alt"></i></button>
                            </div>
                        </li> -->
                        <li class="list-inline-item">
                            <!-- <button class="btn btn-info btn-lg">Sync <i class="fas fa-sync-alt"></i></button> -->
                        </li>
                        <li class="list-inline-item">
                            <button class="btn btn-primary btn-lg" data-bs-target="#addContactModal"
                                data-bs-toggle="modal" data-bs-dismiss="modal" (click)="addNew()"
                                *ngIf="permissionData.addPem == 1">Add New <i class="fas fa-plus"></i></button>
                        </li>
                        <li class="list-inline-item">
                            <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
                                <button id="switchList" type="button"
                                    class="btn btn-outline-dark btn-xs switchActiveList" data-bs-toggle="tooltip"
                                    data-bs-placement="bottom" title="List View" (click)="listView()">
                                    <img src="assets/images/list-view.svg" alt="list-view">
                                </button>
                                <button id="switchGrid" type="button" class="btn btn-outline-dark btn-xs"
                                    (click)="KanbanView()">
                                    <img src="assets/images/grid-view.svg" alt="list-view" data-bs-toggle="tooltip"
                                        data-bs-placement="bottom" title="Kanban View">
                                </button>
                            </div>
                        </li>
                        <!-- <li class="list-inline-item icon-border me-0">
                            <a class="px-0 border-0 d-inline-block align-middle dropdown-toggle no-dropdown-arrow"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="assets/images/hdr-menu-vertical.svg" alt="menu-vertical"
                                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="More"></a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item">Edit this contact</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item">Change contact image</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item">Change record owner</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item">Change to lead</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item">Export details</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item">Add new task for this contact</a>
                            </div>
                        </li> -->

                        <!-- <li class="list-inline-item icon-border me-0">
                            <a class="d-inline-block align-middle" mat-button [matMenuTriggerFor]="menu">
                                <img src="assets/images/menu-vertical.svg" alt="trash"></a>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>Edit this contact</button>
                                <button mat-menu-item>Change contact image</button>
                                <button mat-menu-item>Delete organization</button>
                                <button mat-menu-item>Change record owner</button>
                                <button mat-menu-item>Change to lead</button>
                                <button mat-menu-item>Export details</button>
                                <button mat-menu-item>Add new task for this contact</button>
                            </mat-menu>
                        </li> -->
                    </ul>
                </div>

            </div>
        </div>




        <div class="row">
            <div class="col-md-12 ">

                <div class="bg-white shadow-lg py-4 px-4 rounded-3">
                    <div id="datatables-reponsive_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                        <div class="d-md-flex align-items-center mb-3">
                            <div class="col-auto d-block">
                                <h3>Contact list</h3>
                            </div>
                            <div class="col-auto d-block ms-auto">
                                <div class="text-center">
                                    <div class="dataTables_length" id="datatables-reponsive_length1">
                                        <label>Records per
                                            page <select name="datatables-reponsive_length"
                                                aria-controls="datatables-reponsive" class="form-select form-select-sm"
                                                (change)="changepagelimit($event)" [(ngModel)]="selectedVal">
                                                <option *ngFor="let item of pageList" [value]=item.value>
                                                    {{item.name}}
                                                </option>
                                            </select>
                                            {{offset + 1}} - {{offset + limit}}
                                        </label>
                                        <label>
                                            <button type="button" class="px-1 d-inline-block align-middle no-bg"
                                                [disabled]="isPrevious" (click)="previous()">
                                                <img src="assets/images/chevron-left.svg" alt="chevron-left"></button>
                                            <button type="button" class="px-1 d-inline-block align-middle no-bg"
                                                [disabled]="isdisable" (click)="next()">
                                                <img src="assets/images/chevron-right.svg" alt="chevron-right"></button>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group btn-group-sm ms-auto  btn-download-group">
                                <button type="button" class="btn btn-md bg-white px-4"
                                    (click)="downloadData(1)">CSV</button>
                                <button type="button" class="btn bg-white px-4">PDF</button>
                                <button type="button" class="btn bg-white px-4" (click)="downloadData(2)">Excel</button>
                                <button type="button" class="btn bg-white px-4" (click)="multipleUpload()">Upload
                                    Data</button>
                                <button type="button" class="ps-2 dropdown-toggle no-dropdown-arrow"
                                    data-bs-toggle="dropdown" aria-expanded="false" *ngIf="!kanbanViewFlag">
                                    <img src="assets/images/filtering.svg" alt="filtering" data-bs-toggle="tooltip"
                                        data-bs-placement="bottom" title="More"></button>



                                <div class="dropdown-menu dropdown-menu-end addDropdownhead">

                                    <ng-container *ngFor="let th of tableHeader ; let i=index">
                                        <a class="dropdown-item d-md-flex align-items-center" href="javascript:void(0)">
                                            <span class="col-auto d-block">{{th.title}}</span>
                                            <div class="form-check form-switch col-auto d-block ms-auto">
                                                <input class="form-check-input" type="checkbox" id="switch1"
                                                    [checked]="th.isView" (click)="changeTableView($event, i)">
                                            </div>
                                        </a>
                                        <ng-container *ngIf="i < tableHeader.length-1">
                                            <div class="dropdown-divider"></div>
                                        </ng-container>
                                    </ng-container>


                                    <!-- <a class="dropdown-item d-md-flex align-items-center">
                                        <span class="col-auto d-block">Name</span>
                                        <div class="form-check form-switch col-auto d-block ms-auto">
                                            <input class="form-check-input" type="checkbox" id="switch1">
                                        </div>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item d-md-flex align-items-center">
                                        <span class="col-auto d-block">Relationship Type</span>
                                        <div class="form-check form-switch col-auto d-block ms-auto">
                                            <input class="form-check-input" type="checkbox" id="switch2">
                                        </div>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item d-md-flex align-items-center">
                                        <span class="col-auto d-block">Phone</span>
                                        <div class="form-check form-switch col-auto d-block ms-auto">
                                            <input class="form-check-input" type="checkbox" id="switch3">
                                        </div>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item d-md-flex align-items-center">
                                        <span class="col-auto d-block">Email ID</span>
                                        <div class="form-check form-switch col-auto d-block ms-auto">
                                            <input class="form-check-input" type="checkbox" id="switch4">
                                        </div>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item d-md-flex align-items-center">
                                        <span class="col-auto d-block">Contact type</span>
                                        <div class="form-check form-switch col-auto d-block ms-auto">
                                            <input class="form-check-input" type="checkbox" id="switch5">
                                        </div>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item d-md-flex align-items-center">
                                        <span class="col-auto d-block">Status</span>
                                        <div class="form-check form-switch col-auto d-block ms-auto">
                                            <input class="form-check-input" type="checkbox" id="switch6">
                                        </div>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item d-md-flex align-items-center">
                                        <span class="col-auto d-block">State</span>
                                        <div class="form-check form-switch col-auto d-block ms-auto">
                                            <input class="form-check-input" type="checkbox" id="switch7">
                                        </div>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item d-md-flex align-items-center">
                                        <span class="col-auto d-block">District</span>
                                        <div class="form-check form-switch col-auto d-block ms-auto">
                                            <input class="form-check-input" type="checkbox" id="switch8">
                                        </div>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item d-md-flex align-items-center">
                                        <span class="col-auto d-block">Organization</span>
                                        <div class="form-check form-switch col-auto d-block ms-auto">
                                            <input class="form-check-input" type="checkbox" id="switch9">
                                        </div>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item d-md-flex align-items-center">
                                        <span class="col-auto d-block">Title</span>
                                        <div class="form-check form-switch col-auto d-block ms-auto">
                                            <input class="form-check-input" type="checkbox" id="switch10">
                                        </div>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item d-md-flex align-items-center">
                                        <span class="col-auto d-block">Invoice</span>
                                        <div class="form-check form-switch col-auto d-block ms-auto">
                                            <input class="form-check-input" type="checkbox" id="switch11">
                                        </div>
                                    </a> -->
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive enquery_div" *ngIf="!kanbanViewFlag">
                            <table id="datatables-column-search-select-inputs" class="table table-striped dataTable"
                                style="width: 100%;" aria-describedby="datatables-column-search-select-inputs_info">
                                <thead class="thead-dark">
                                    <tr role="row">
                                        <ng-container *ngFor="let th of tableHeader">
                                            <th class=" align-middle" *ngIf="th.isView">{{th.title}}
                                            </th>
                                        </ng-container>

                                        <!-- <th width="40px">Seq. No.</th>
                                        <th class="sorting align-middle">Name</th> -->
                                        <!-- <th class="sorting align-middle">Relationship Type</th> -->
                                        <!-- <th class="sorting align-middle">Phone</th>
                                        <th class="sorting align-middle">Email ID</th>
                                        <th class="sorting align-middle">Contact Type</th>
                                        <th class="sorting align-middle">Status</th> -->
                                        <th width="70px" class=" align-middle">Action</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <!-- <th class="align-middle"><input type="checkbox" id="customCheck1"></th> -->
                                        <th></th>
                                        <th class="align-middle"><input type="text" placeholder="Search"
                                                class="form-control input-sm" (keyup)="nameSearch($event)"></th>
                                        <th class="align-middle"><input type="text" placeholder="Search"
                                                class="form-control input-sm" (keyup)="phoneSearch($event)"></th>
                                        <th class="align-middle"><input type="text" placeholder="Search"
                                                class="form-control input-sm" (keyup)="emailSearch($event)"></th>

                                        <!-- <th class="align-middle"><select class="form-select">
                                                <option value="All">All</option>
                                                <option value="Distributor">Distributor</option>
                                                <option value="Dealer">Dealer</option>
                                                <option value="Sub Dealer">Sub Dealer</option>
                                                <option value="Engineer">Engineer</option>
                                            </select>
                                        </th> -->

                                        <!-- <th class="align-middle"><input type="text" placeholder="Search"
                                                class="form-control input-sm"></th>
                                        <th class="align-middle"><input type="text" placeholder="Search"
                                                class="form-control input-sm"></th> -->

                                        <th class="align-middle">
                                            <select class="form-select" (change)="searchByContactType($event)">
                                                <option [value]="0">All</option>
                                                <option *ngFor="let data of contactsTypeList;"
                                                    [value]="data.contactTypeId">{{data.contactTypeName}}</option>
                                            </select>
                                        </th>
                                        <th class="align-middle">
                                            <select class="form-select" (change)="searchStatus($event)">
                                                <option value="">All</option>
                                                <option [value]="1">Active</option>
                                                <option [value]="0">Inactive</option>
                                            </select>
                                        </th>
                                        <th>&nbsp;</th>



                                    </tr>
                                </tfoot>
                                <tbody>

                                    <tr role="row" class="" *ngFor="let item of contactsList;let i = index;"
                                        [ngClass]="(i+1) % 2 != 0 ? 'odd':'even'">

                                        <ng-container *ngFor="let th of tableHeader; let t = index">
                                            <td class="align-middle" *ngIf="th.title === 'Seq. No.' && th.isView">{{i+1
                                                +
                                                offset}}</td>
                                            <td class="align-middle" *ngIf="th.title === 'Name' && th.isView"
                                                (click)="routeDetailsPage(item.contactId)" style="cursor: pointer;">
                                                {{item.contactName}}</td>
                                            <td class="align-middle" *ngIf="th.title === 'Phone' && th.isView">
                                                {{item.phoneNumber}}</td>
                                            <td class="align-middle" *ngIf="th.title === 'Email ID' && th.isView">
                                                {{item.email}}</td>
                                            <td class="align-middle" *ngIf="th.title === 'Contact Type' && th.isView">
                                                {{item.contactTypeName}}</td>
                                            <td class="align-middle text-danger"
                                                *ngIf="th.title === 'Status' && th.isView && item.status==1">
                                                Active</td>
                                            <td class="align-middle text-danger"
                                                *ngIf="th.title === 'Status' && th.isView && item.status==0">
                                                Inactive</td>
                                        </ng-container>










                                        <!-- <tr role="row" class="odd"> -->
                                        <!-- <td class="align-middle">{{i+1 + offset}}</td>
                                        <td class="align-middle"><a
                                                (click)="routeDetailsPage(item.contactId)">{{item.contactName}}
                                            </a></td> -->
                                        <!-- <td class="align-middle">Distributor</td> -->
                                        <!-- <td class="align-middle">{{item.phoneNumber}}</td>
                                        <td class="align-middle">{{item.email}}</td>
                                        <td class="align-middle">{{item.contactTypeName}}</td> -->
                                        <!-- <td class="align-middle text-danger" *ngIf="item.status==1">Active</td>
                                        <td class="align-middle text-danger" *ngIf="item.status==0">Inactive</td> -->


                                        <td width="70px" class="align-middle">

                                            <a class="d-inline-block align-middle" (click)="edit(item)"
                                                *ngIf="permissionData.editPem == 1">
                                                <img src="assets/images/create.svg" alt="create"></a>


                                            <a class="d-inline-block align-middle" (click)="remove(item.contactId)">
                                                <img src="assets/images/trash.svg" alt="trash"
                                                    *ngIf="permissionData.deletePem == 1"></a>

                                            <a class="d-inline-block align-middle" mat-button
                                                [matMenuTriggerFor]="menu">
                                                <img src="assets/images/menu-vertical.svg" alt="trash"
                                                    *ngIf="permissionData.editPem == 1"></a>


                                            <mat-menu #menu="matMenu">
                                                <button mat-menu-item (click)="edit(item)">Edit this contact</button>
                                                <button mat-menu-item (click)="edit(item)">Change contact image</button>
                                                <button mat-menu-item (click)="edit(item)">Change record owner</button>
                                                <button mat-menu-item (click)="routeDetailsPage(item.contactId)">Add new
                                                    task for this contact</button>
                                            </mat-menu>

                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                        <!-- --------------------- Boxview-------------- -->

                        <div class="grid_viw_dv" *ngIf="kanbanViewFlag">
                            <div class="grid_viw_dv_inr bg-white shadow-lg p-3 rounded-3"
                                *ngFor="let data of contactsList">
                                <div class="col-auto grid_viw_mor_opn">
                                    <a class="d-inline-block align-middle" mat-button [matMenuTriggerFor]="menu">
                                        <img src="assets/images/menu-vertical.svg" alt="trash"></a>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="edit(data)">Edit this Contact
                                        </button>
                                        <button mat-menu-item (click)="edit(data)">Change contact image</button>
                                        <button mat-menu-item (click)="edit(data)">Change record owner</button>
                                        <button mat-menu-item (click)="routeDetailsPage(data.contactId)">Add new task
                                            for this contact</button>

                                    </mat-menu>

                                </div>
                                <span
                                    *ngIf="data.contactTypeName != null && data.contactTypeName !=''">{{data.contactTypeName}}</span>
                                <span *ngIf="data.contactTypeName == null || data.contactTypeName == ''">----</span>
                                <strong
                                    *ngIf="data.contactName != '' && data.contactName != null">{{data.contactName}}</strong>
                                <strong *ngIf="data.contactName == null || data.contactName == ''">----</strong>

                                <p *ngIf="data.phoneNumber != null && data.phoneNumber !=''"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                                        class="bi bi-telephone-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                                    </svg> {{data.phoneNumber}}</p>

                                <p *ngIf="data.phoneNumber == null || data.phoneNumber == ''"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                                        class="bi bi-telephone-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                                    </svg> ----</p>
                                <span *ngIf="data.status==1">Active</span>
                                <span *ngIf="data.status==0">Inactive</span>
                            </div>
                        </div>

                        <div class="d-xl-flex align-items-center mt-3">

                            <div class="col-auto d-block">

                                <div class="text-center">
                                    <div class="dataTables_length" id="datatables-reponsive_length">
                                        <label>Records per
                                            page <select name="datatables-reponsive_length"
                                                aria-controls="datatables-reponsive" class="form-select form-select-sm"
                                                (change)="changepagelimit($event)" [(ngModel)]="selectedVal">
                                                <option *ngFor="let item of pageList" [value]=item.value>
                                                    {{item.name}}
                                                </option>
                                            </select>
                                            {{offset + 1}} - {{offset + limit}}
                                        </label>
                                        <label>
                                            <button type="button" class="px-1 d-inline-block align-middle no-bg"
                                                [disabled]="isPrevious" (click)="previous()">
                                                <img src="assets/images/chevron-left.svg" alt="chevron-left"></button>
                                            <button type="button" class="px-1 d-inline-block align-middle no-bg"
                                                [disabled]="isdisable" (click)="next()">
                                                <img src="assets/images/chevron-right.svg" alt="chevron-right"></button>
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
<!--Container Main end-->

<ng-template #deletemodal>
    <div class="modal-content">
        <div class="modal-header">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-10">
                        <h4 class="modal-title d-inline-block align-middle me-2">Are you want to sure delete contacts
                        </h4>
                    </div>
                    <div class="col-sm-2 d-flex justify-content-end">
                        <button type="button" (click)="closeModal()" class="btn-close"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <button type="button" class="btn btn-secondary btn-lg me-2" (click)="closeModal()">No</button>
                    </div>
                    <div class="col-sm-6 text-center">
                        <button type="button" class="btn btn-danger btn-lg me-2" (click)="delete()">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #bulkUpload>
    <div class="modal-content">
        <div class="modal-header">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-10">
                        <h3>Bulk Upload Records From File</h3>
                    </div>
                    <div class="col-2 d-flex justify-content-end"><button type="button" data-bs-dismiss="modal"
                            aria-label="Close" class="btn-close" (click)="closeModal()"></button></div>
                </div>
            </div>
        </div>

        <div class="modal-body">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="d-block text-center">
                            <div class="input-button-wrap">
                                <label class="input-button" for="upload">Upload File</label><br><br>
                                <input id="upload" type="file" (change)="uploadFile()" accept=".xls,.xlsx"
                                    style="text-align:right">
                                <span>{{orgBulkFileName}}</span>
                            </div>
                        </div>
                        <div class="d-block p-3 mb-4 mt-3 text-center" (click)="sampleDownload()">
                            <a class="text-primary d-flex justify-content-center align-items-center">
                                <img src="assets/images/bulk-download.svg" alt="download" class="me-3">Download
                                Sample File</a>
                        </div>
                        <div class="d-block">
                            <p style="text-align: center;">You can import records through an .xls, .xlsx
                                file.</p>
                        </div>
                    </div>

                    <div class="col-12 d-flex justify-content-end mt-3">
                        <button class="btn btn-primary me-2" type="button" (click)="closeModal()">Cancel <i
                                class="far fa-times-circle"></i></button>
                        <button class="btn btn-dark" type="button" (click)="bulkInsert()">Next <i
                                class="fas fa-chevron-circle-right"></i></button>

                    </div>
                </div>
            </div>
        </div>

    </div>
</ng-template>

<ng-template #downloadFile>
    <div class="modal-content">
        <div class="modal-header">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-10">
                        <h4 class="modal-title d-inline-block align-middle me-2" style="font-size: smaller;">Are you
                            want to sure download file
                        </h4>
                    </div>
                    <div class="col-sm-2 d-flex justify-content-end">
                        <button type="button" (click)="closeModal()" class="btn-close"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <button type="button" class="btn btn-secondary btn-lg me-2" (click)="closeModal()">No</button>
                    </div>
                    <div class="col-sm-6 text-center">
                        <button type="button" class="btn btn-danger btn-lg me-2" (click)="fileDownload()">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>