<!--Container Main start-->
<main class="content">
	<div class="container-fluid p-0">


		<div class="row mb-2 mb-lg-4">
			<div class="col-md-12 d-lg-flex align-items-center main-hdng">
				<div class="col-md-6">
					<h3>Hierarchy Setup</h3>
				</div>
				<div class="col-md-6">
					<div class="">
						<nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
							<ol class="breadcrumb justify-content-end">
								<li class="breadcrumb-item"><a href="#">Administration</a></li>
								<li class="breadcrumb-item active" aria-current="page">Hierarchy Setup</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>






		<div class="row">
			<div class="col-md-12 ">

				<div class="bg-white shadow-lg py-4 px-4 rounded-3">
					<div id="datatables-reponsive_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">

						<div class="d-md-flex align-items-center mb-3">
							<div class="col-auto d-block">
								<h3>Role &amp; Parent Role</h3>
							</div>

							<div class="btn-group btn-group-sm ms-auto  btn-download-group">

								<button id="tree_view_img" type="button" onclick="treeView()">
									<img src="assets/images/table_hierarchy.svg" alt="table_hierarchy"
										data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tree View"></button>

								<button type="button" class="ps-2 active" id="list_view_img" type="button"
									onclick="listView()">
									<img src="assets/images/hirachy_uicons_list.svg" alt="filtering"
										data-bs-toggle="tooltip" data-bs-placement="bottom" title="List View"></button>
							</div>
						</div>

						<div id="list_view_outer">
							<div class="table-responsive">
								<table id="datatables-column-search-select-inputs" class="table table-striped dataTable"
									style="width: 100%;" aria-describedby="datatables-column-search-select-inputs_info">
									<thead class="thead-dark">
										<tr role="row">
											<th width="40px">&nbsp;</th>
											<th width="50%" class="sorting align-middle">Role Name</th>
											<th class="sorting align-middle">Parent Role Name</th>
											<th width="30px" class="align-middle">&nbsp;</th>
										</tr>
									</thead>

									<tbody>
										<tr role="row" class="odd">
											<th class="align-middle"><input type="checkbox" id="customCheck1"></th>
											<td class="align-middle">Admin</td>
											<td class="align-middle">
												<select class="form-select sm-select">
													<option value="Admin">Admin</option>
													<option value="CRM">CRM</option>
													<option value="Sub Dealer">Director</option>
												</select>
											</td>


											<td width="30px" class="align-middle">



												<a class="d-inline-block align-middle" mat-button
													[matMenuTriggerFor]="menu">
													<img src="assets/images/menu-vertical.svg" title="More"></a>

												<mat-menu #menu="matMenu">
													<!-- <button mat-menu-item>View details</button> -->
													<button mat-menu-item>Role name
													</button>
													<hr>
													<button mat-menu-item>
														Parent Role Name
													</button>
												</mat-menu>

											</td>


										</tr>

										<tr role="row" class="even">
											<th class="align-middle"><input type="checkbox" id="customCheck1"></th>
											<td class="align-middle">CRM</td>
											<td class="align-middle">
												<select class="form-select sm-select">
													<option value="Admin">Admin</option>
													<option value="CRM">CRM</option>
													<option value="Sub Dealer">Director</option>
												</select>
											</td>
											<td width="30px" class="align-middle">
												<a class="d-inline-block align-middle dropdown-toggle no-dropdown-arrow"
													href="#" data-bs-toggle="dropdown" aria-expanded="false">
													<img src="assets/images/menu-vertical.svg" alt="trash"></a>
											</td>
										</tr>

										<tr role="row" class="odd">
											<th class="align-middle"><input type="checkbox" id="customCheck1"></th>
											<td class="align-middle">Director</td>
											<td class="align-middle">
												<select class="form-select sm-select">
													<option value="Admin">Admin</option>
													<option value="CRM">CRM</option>
													<option value="Sub Dealer">Director</option>
												</select>
											</td>
											<td width="30px" class="align-middle">
												<a class="d-inline-block align-middle dropdown-toggle no-dropdown-arrow"
													href="#" data-bs-toggle="dropdown" aria-expanded="false">
													<img src="assets/images/menu-vertical.svg" alt="trash"></a>
											</td>
										</tr>

										<tr role="row" class="even">
											<th class="align-middle"><input type="checkbox" id="customCheck1"></th>
											<td class="align-middle">MMS Telecaller</td>
											<td class="align-middle">
												<select class="form-select sm-select">
													<option value="Admin">Admin</option>
													<option value="CRM">CRM</option>
													<option value="Sub Dealer">Director</option>
												</select>
											</td>
											<td width="30px" class="align-middle">
												<a class="d-inline-block align-middle dropdown-toggle no-dropdown-arrow"
													href="#" data-bs-toggle="dropdown" aria-expanded="false">
													<img src="assets/images/menu-vertical.svg" alt="trash"></a>
											</td>
										</tr>

										<tr role="row" class="odd">
											<th class="align-middle"><input type="checkbox" id="customCheck1"></th>
											<td class="align-middle">CRM Telecaller</td>
											<td class="align-middle">
												<select class="form-select sm-select">
													<option value="Admin">Admin</option>
													<option value="CRM">CRM</option>
													<option value="Sub Dealer">Director</option>
												</select>
											</td>
											<td width="30px" class="align-middle">
												<a class="d-inline-block align-middle dropdown-toggle no-dropdown-arrow"
													href="#" data-bs-toggle="dropdown" aria-expanded="false">
													<img src="assets/images/menu-vertical.svg" alt="trash"></a>
											</td>
										</tr>

										<tr role="row" class="even">
											<th class="align-middle"><input type="checkbox" id="customCheck1"></th>
											<td class="align-middle">Back Office</td>
											<td class="align-middle">
												<select class="form-select sm-select">
													<option value="Admin">Admin</option>
													<option value="CRM">CRM</option>
													<option value="Sub Dealer">Director</option>
												</select>
											</td>
											<td width="30px" class="align-middle">
												<a class="d-inline-block align-middle dropdown-toggle no-dropdown-arrow"
													href="#" data-bs-toggle="dropdown" aria-expanded="false">
													<img src="assets/images/menu-vertical.svg" alt="trash"></a>
											</td>
										</tr>

										<tr role="row" class="odd">
											<th class="align-middle"><input type="checkbox" id="customCheck1"></th>
											<td class="align-middle">Commercial</td>
											<td class="align-middle">
												<select class="form-select sm-select">
													<option value="Admin">Admin</option>
													<option value="CRM">CRM</option>
													<option value="Sub Dealer">Director</option>
												</select>
											</td>
											<td width="30px" class="align-middle">
												<a class="d-inline-block align-middle dropdown-toggle no-dropdown-arrow"
													href="#" data-bs-toggle="dropdown" aria-expanded="false">
													<img src="assets/images/menu-vertical.svg" alt="trash"></a>
											</td>
										</tr>

										<tr role="row" class="even">
											<th class="align-middle"><input type="checkbox" id="customCheck1"></th>
											<td class="align-middle">Digital Marketing</td>
											<td class="align-middle">
												<select class="form-select sm-select">
													<option value="Admin">Admin</option>
													<option value="CRM">CRM</option>
													<option value="Sub Dealer">Director</option>
												</select>
											</td>
											<td width="30px" class="align-middle">
												<a class="d-inline-block align-middle dropdown-toggle no-dropdown-arrow"
													href="#" data-bs-toggle="dropdown" aria-expanded="false">
													<img src="assets/images/menu-vertical.svg" alt="trash"></a>
											</td>
										</tr>

										<tr role="row" class="odd">
											<th class="align-middle"><input type="checkbox" id="customCheck1"></th>
											<td class="align-middle">HR</td>
											<td class="align-middle">
												<select class="form-select sm-select">
													<option value="Admin">Admin</option>
													<option value="CRM">CRM</option>
													<option value="Sub Dealer">Director</option>
												</select>
											</td>
											<td width="30px" class="align-middle">
												<a class="d-inline-block align-middle dropdown-toggle no-dropdown-arrow"
													href="#" data-bs-toggle="dropdown" aria-expanded="false">
													<img src="assets/images/menu-vertical.svg" alt="trash"></a>
											</td>
										</tr>

										<tr role="row" class="even">
											<th class="align-middle"><input type="checkbox" id="customCheck1"></th>
											<td class="align-middle">Front Office</td>
											<td class="align-middle">
												<select class="form-select sm-select">
													<option value="Admin">Admin</option>
													<option value="CRM">CRM</option>
													<option value="Sub Dealer">Director</option>
												</select>
											</td>
											<td width="30px" class="align-middle">
												<a class="d-inline-block align-middle dropdown-toggle no-dropdown-arrow"
													href="#" data-bs-toggle="dropdown" aria-expanded="false">
													<img src="assets/images/menu-vertical.svg" alt="trash"></a>
											</td>
										</tr>

									</tbody>
								</table>
							</div>
						</div>

						<div id="tree_view_outer" class="hide">
							<div class="tree_view">
								<ul id="tree1" class="tree">

									<li class="branch" style="padding-left:0;"><a href="#"
											class="btn btn-xs btn-success rounded-0 p-2">Super Admin User<i
												class="indicator fontawesome fontawesome-plus-sign"></i></a>


										<ul>
											<li><i class="indicator fontawesome fontawesome-minus-sign"></i>
												<div class="border border-primary d-inline-block tree_list">
													<span class="border-end border-primary p-1">CEO</span>
													<span class="border-end border-primary p-1"><i
															class="fas fa-plus"></i></span>
													<span class="p-1"><i class="far fa-trash-alt"></i></span>
												</div>
												<ul>
													<li><i class="indicator fontawesome fontawesome-minus-sign"></i>
														<div class="border border-primary d-inline-block tree_list">
															<span class="border-end border-primary p-1">Admin</span>
															<span class="border-end border-primary p-1"><i
																	class="fas fa-plus"></i></span>
															<span class="p-1"><i class="far fa-trash-alt"></i></span>
														</div>

														<ul>
															<li><i
																	class="indicator fontawesome fontawesome-minus-sign"></i>
																<div
																	class="border border-primary d-inline-block tree_list">
																	<span
																		class="border-end border-primary p-1">CRM</span>
																	<span class="border-end border-primary p-1"><i
																			class="fas fa-plus"></i></span>
																	<span class="p-1"><i
																			class="far fa-trash-alt"></i></span>
																</div>

																<ul>
																	<li><i
																			class="indicator fontawesome fontawesome-minus-sign"></i>
																		<div
																			class="border border-primary d-inline-block tree_list">
																			<span
																				class="border-end border-primary p-1">Backoffice</span>
																			<span
																				class="border-end border-primary p-1"><i
																					class="fas fa-plus"></i></span>
																			<span class="p-1"><i
																					class="far fa-trash-alt"></i></span>
																		</div>
																	</li>

																	<li><i
																			class="indicator fontawesome fontawesome-minus-sign"></i>
																		<div
																			class="border border-primary d-inline-block tree_list">
																			<span
																				class="border-end border-primary p-1">Digita
																				Marketing</span>
																			<span
																				class="border-end border-primary p-1"><i
																					class="fas fa-plus"></i></span>
																			<span class="p-1"><i
																					class="far fa-trash-alt"></i></span>
																		</div>
																	</li>

																	<li><i
																			class="indicator fontawesome fontawesome-minus-sign"></i>
																		<div
																			class="border border-primary d-inline-block tree_list">
																			<span
																				class="border-end border-primary p-1">HR</span>
																			<span
																				class="border-end border-primary p-1"><i
																					class="fas fa-plus"></i></span>
																			<span class="p-1"><i
																					class="far fa-trash-alt"></i></span>
																		</div>
																	</li>

																</ul>
															</li>

															<li><i
																	class="indicator fontawesome fontawesome-minus-sign"></i>
																<div
																	class="border border-primary d-inline-block tree_list">
																	<span
																		class="border-end border-primary p-1">Director</span>
																	<span class="border-end border-primary p-1"><i
																			class="fas fa-plus"></i></span>
																	<span class="p-1"><i
																			class="far fa-trash-alt"></i></span>
																</div>


																<ul>
																	<li><i
																			class="indicator fontawesome fontawesome-minus-sign"></i>
																		<div
																			class="border border-primary d-inline-block tree_list">
																			<span
																				class="border-end border-primary p-1">CRM
																				Telecaller</span>
																			<span
																				class="border-end border-primary p-1"><i
																					class="fas fa-plus"></i></span>
																			<span class="p-1"><i
																					class="far fa-trash-alt"></i></span>
																		</div>
																	</li>

																	<li><i
																			class="indicator fontawesome fontawesome-minus-sign"></i>
																		<div
																			class="border border-primary d-inline-block tree_list">
																			<span
																				class="border-end border-primary p-1">MMS
																				Telecaller</span>
																			<span
																				class="border-end border-primary p-1"><i
																					class="fas fa-plus"></i></span>
																			<span class="p-1"><i
																					class="far fa-trash-alt"></i></span>
																		</div>
																	</li>

																</ul>

															</li>
														</ul>
													</li>
												</ul>



											</li>
										</ul>
									</li>

								</ul>
							</div>
						</div>



					</div>
				</div>
			</div>

		</div>
	</div>
</main>
<!-- <footer class="mt-0 mb-2">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<address class="text-end">Copyrights protected by Navya IT. All Rights Reserved.</address>
			</div>
		</div>
	</div>
</footer> -->
<!--Container Main end-->






<div id="settings" class="settings js-settings">
	<div onclick="settingsToggle()" class="settings-toggle">
		<div class="settings-toggle-option settings-toggle-option-text js-settings-toggle" title="Theme Builder">
			<div class="d-inline-block my-1"><a><img src="assets/images/fluent_paint-bucket.svg"
						alt="fluent_paint-bucket"></a></div>
			<div class="d-inline-block my-1"><a><img src="assets/images/fluent_settings.svg" alt="fluent_settings"></a>
			</div>
		</div>
	</div>

	<div class="settings-panel">
		<div class="settings-content">
			<div class="settings-title d-flex align-items-center">

				<button type="button" class="btn-close float-right js-settings-toggle"
					onclick="settingsToggleClose()"></button>

				<h4 class="mb-0 ms-2 d-inline-block">Settings</h4>
			</div>

			<div class="settings-body">

				<div class="alert alert-primary" role="alert">
					<div class="alert-message">
						<strong>Hey there!</strong> Set your own customized style below. Choose the ones that best fits
						your needs.
					</div>
				</div>

				<div class="mb-3">
					<span class="d-block font-size-lg font-weight-bold">Color scheme</span>
					<span class="d-block text-muted mb-2">The perfect color mode for your app.</span>

					<div class="row g-0 text-center mx-n1 mb-2">
						<div class="col">
							<label class="mx-1 d-block mb-1">
								<input class="settings-scheme-label" type="radio" name="theme" value="default">
								<div class="settings-scheme">
									<div class="settings-scheme-theme settings-scheme-theme-default"></div>
								</div>
							</label>
							Default
						</div>
						<div class="col">
							<label class="mx-1 d-block mb-1">
								<input class="settings-scheme-label" type="radio" name="theme" value="colored">
								<div class="settings-scheme">
									<div class="settings-scheme-theme settings-scheme-theme-colored"></div>
								</div>
							</label>
							Colored
						</div>
					</div>
					<div class="row g-0 text-center mx-n1">
						<div class="col">
							<label class="mx-1 d-block mb-1">
								<input class="settings-scheme-label" type="radio" name="theme" value="dark">
								<div class="settings-scheme">
									<div class="settings-scheme-theme settings-scheme-theme-dark"></div>
								</div>
							</label>
							Dark
						</div>
						<div class="col">
							<label class="mx-1 d-block mb-1">
								<input class="settings-scheme-label" type="radio" name="theme" value="light">
								<div class="settings-scheme">
									<div class="settings-scheme-theme settings-scheme-theme-light"></div>
								</div>
							</label>
							Light
						</div>
					</div>
				</div>

				<hr>

				<div class="mb-3">
					<span class="d-block font-size-lg font-weight-bold">Sidebar position</span>
					<span class="d-block text-muted mb-2">Toggle the position of the sidebar.</span>

					<div>
						<label>
							<input class="settings-button-label" type="radio" name="sidebarPosition" value="left">
							<div class="settings-button">
								Left
							</div>
						</label>
						<label>
							<input class="settings-button-label" type="radio" name="sidebarPosition" value="right">
							<div class="settings-button">
								Right
							</div>
						</label>
					</div>
				</div>

				<hr>

				<div class="mb-3">
					<span class="d-block font-size-lg font-weight-bold">Sidebar behavior</span>
					<span class="d-block text-muted mb-2">Change the behavior of the sidebar.</span>

					<div>
						<label>
							<input class="settings-button-label" type="radio" name="sidebarBehavior" value="sticky">
							<div class="settings-button">
								Sticky
							</div>
						</label>
						<label>
							<input class="settings-button-label" type="radio" name="sidebarBehavior" value="fixed">
							<div class="settings-button">
								Fixed
							</div>
						</label>
					</div>
				</div>


			</div>


		</div>
	</div>
</div>




<div id="createRole" tabindex="-1" aria-labelledby="createRole" class="modal fade" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">Create New Role</h3>
				<button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn-close"></button>
			</div>
			<div class="modal-body">
				<div class="form-body">
					<form>
						<div class="form-group">
							<div class="row">
								<div class="col-md-12">
									<label for="role_title" class="form-label">
										<span class="text-danger">*</span>Role name</label>
									<div class="input-group">
										<input type="text" name="title" class="form-control" id="role_title">
									</div>
								</div>
								<div class="col-md-12">
									<label for="description" class="form-label">
										<span class="text-danger">*</span>Description</label>
									<div class="input-group">
										<textarea name="role_description" class="form-control" id="description"
											rows="7"></textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-md-12">
									<div class="text-start">
										<a class="btn btn-success btn-lg" href="#">Create</a>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Bootstrap v5.0.2 -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
	integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
	integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
	crossorigin="anonymous"></script>
<script src="../../js/simplebar.js"></script>
<script>
	function openNav() {
		var element = document.getElementById("sidebar");
		element.classList.toggle("collapsed");
	}

	function closeNav() {
		document.getElementById("sidebar").style.width = "250px";
		document.getElementByClass("main").style.marginLeft = "250px";
	}

	function toggleBtnSales() {
		var tb = document.getElementById("switchFrst");
		tb.classList.toggle("switchActiveFrst");
		var tbX = document.getElementById('switchScnd');
		tbX.classList.remove("switchActiveScnd");
	}
	function toggleBtnExternal() {
		var tb = document.getElementById("switchScnd");
		tb.classList.toggle("switchActiveScnd");
		var tbX = document.getElementById('switchFrst');
		tbX.classList.remove("switchActiveFrst");
	}

	function toggleBtnList() {
		var tb = document.getElementById("switchList");
		tb.classList.toggle("switchActiveList");
		var tbX = document.getElementById('switchGrid');
		tbX.classList.remove("switchActivegrid");
	}
	function toggleBtnGrid() {
		var tb = document.getElementById("switchGrid");
		tb.classList.toggle("switchActivegrid");
		var tbX = document.getElementById('switchList');
		tbX.classList.remove("switchActiveList");
	}


	function settingsToggle() {
		var tb = document.getElementById("settings");
		tb.classList.add("open");
	}
	function settingsToggleClose() {
		var tb = document.getElementById("settings");
		tb.classList.remove("open");
	}
	var myElement = document.getElementById('sidebar-sticky');
	new SimpleBar(myElement, { autoHide: true });

// < !--list / tree view-- >

		function treeView() {
			var tb = document.getElementById("tree_view_img");
			tb.classList.add("active");
			var tbX = document.getElementById('list_view_img');
			tbX.classList.remove("active");
			var tb = document.getElementById("tree_view_outer");
			tb.classList.add("show");
			tb.classList.remove("hide");
			var tb = document.getElementById("list_view_outer");
			tb.classList.add("hide");
			tb.classList.remove("show");
		}

	function listView() {
		var tb = document.getElementById("list_view_img");
		tb.classList.add("active");
		var tbX = document.getElementById('tree_view_img');
		tbX.classList.remove("active");
		var tb = document.getElementById("list_view_outer");
		tb.classList.add("show");
		tb.classList.remove("hide");
		var tb = document.getElementById("tree_view_outer");
		tb.classList.add("hide");
		tb.classList.remove("show");
	}
	// Initialize tooltips
	var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
	var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
		return new bootstrap.Tooltip(tooltipTriggerEl)
	})


</script>