::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
	background-color: blue !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
	background-color:blue!important;  
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
	border-color:blue!important; 
}


label.input-button {
    display: inline-block;
    padding: 7px 19px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #007FD7;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    z-index: 9;
    position: relative;
    margin-right: 20px;
    line-height: 23px;
}
input[type="file"] {
    display: none !important;
}