/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "~angular-notifier/styles";
@import "~angular-notifier/styles/core.css";
@import "~angular-notifier/styles/themes/theme-material.css";
@import "~angular-notifier/styles/types/type-error.css";
@import "~angular-notifier/styles/types/type-success.css";
@import "~angular-notifier/styles/types/type-default.css";
@import "~angular-notifier/styles/types/type-info.css";


html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #e5e8f2 !important; 
}
.mat-drawer-inner-container{
  height: 100vh !important;
  width: 225px !important;
  background: #004a8b;
}
.admin-container{
  height: 100vh;
}
.sidebar, .sidebar-content{
  background: #004a8b !important;
}

.modal .form-control{
  margin-bottom: 0px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.error-msg{
  display: block;
  color: red;
  font-size: 13px;
}
#simple-bar-right{
  overflow-y: scroll;
}
.input-group-height {
  height: 38px;
}




input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* input[type=number] {
  -moz-appearance: textfield;
} */


/* For Extra scroll bar  */

/* body{
  overflow-y:hidden !important;
} */

.no-dropdown-arrow{
  background-color: white !important;
}


