<div class="d-md-flex align-items-center mb-3">
    <div class="col-auto d-flex">
        <h3> {{viewDateObj.monthString}} {{viewDateObj.year}}</h3>
        <div class="cal_aroe ms-3">
            <a class="px-1 d-inline-block align-middle" href="javascript:void(0)" (click)="prevMonth()">
                <img src="assets/images/can-aro-l.png" alt="chevron-left">
            </a>
            <a class="px-1 d-inline-block align-middle" href="javascript:void(0)" (click)="nextMonth()">
                <img src="assets/images/can-aro-r.png" alt="chevron-right">
            </a>
        </div>
        <div class="ms-3">
            <select class="form-select">
                <option>Month view</option>
                <option>Week view</option>
                <option>Day view</option>
            </select>
        </div>
    </div>


    <div class="btn-group btn-group-sm ms-auto  btn-download-group rit_gool align-items-center">
        <button class="me-2"><img src="assets/images/profile-icon.png"></button>
        <input type="text" class="form-control me-2 head_src m-0" placeholder="Find by Name / Number">
        <button class="me-2"><img src="assets/images/search-icon-nw.png"></button> 
        <button class="me-2"><img src="assets/images/google-icon.png"></button>
        <button><img src="assets/images/sic-icon.png"></button>
    </div>
</div>
<div class="calndr_dives">
    <div class="table-responsive">
        <table class="cal-view " style="width: 100%;">
            <tr>
                <th *ngFor="let ww of weekData">{{ww}}DAY</th>
            </tr>
            <tr *ngFor="let data of monthBox">
                <td *ngFor="let aa of data" style="text-align: center;">
                    <ng-container *ngIf="aa.day">
                        <span class="wkke">{{aa.day}}</span><br />
                        <ng-container *ngIf="isArray(aa.data)">
                            <span *ngFor="let bb of aa.data" class="cal_btn">
                                <button [ngClass]="bb.class" (click)="openSubOrdinateModal(bb, aa)">{{bb.name}}
                                    <span class="badge bg-primary">{{bb.count}}</span>
                                    <span class="imp-imge"><img src="assets/images/li-icn-lst1.png"></span>
                                </button><br />
                            </span>
                        </ng-container>
                        <span>{{aa.data.name}}</span>
                    </ng-container>
                </td>
            </tr>
        </table>
    </div>
</div>
<!---add new popup start--->
<!-- .........Popup for subordinate List.......... -->
<ng-template #subordinateListModal>
    <div class="addContactModal">
        <div class="modal-header">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-10">
                        <h3 class="modal-title d-inline-block align-middle me-2">{{scheduleListModalData.header}} List
                        </h3>

                    </div>
                    <div class="col-sm-2 d-flex justify-content-end"><button type="button" data-bs-dismiss="modal"
                            aria-label="Close" class="btn-close" (click)="closeModal()"></button></div>
                </div>
                <div class="row align-items-center">
                    <div class="col-sm-8">
                        <h5 class="modal-title d-inline-block align-middle me-2">Type: {{scheduleListModalData.header}}
                        </h5>

                    </div>
                    <div class="col-sm-4 d-flex justify-content-end">
                        <h5 class="modal-title d-inline-block align-middle me-2">Date: {{scheduleListModalData.date}}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="container-fluid  bg-white shadow_d py-4 px-4 rounded-3 mt-3 mb-3 p-3">
                <div class="row">
                    <div class="col-md-12 col-sm-12 add_pjp_pp">
                        <div class="brdr"></div>

                        <div id="">
                            <div class="sech_list_out">
                                <div class="sech_list_list">
                                    <div class="sech_list" *ngFor="let data of scheduleListModalData.list">
                                        <div class="cnk_slect">
                                            <div class="p_files">
                                                <!-- <img src="assets/images/profl-pic.png" alt="create"> -->
                                                <div>
                                                    <strong>{{data.name}}</strong>
                                                    <span>{{data.description}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="can_sc forday">
                                            <i class="fa fa-circle text-success" aria-hidden="true"></i>
                                            <strong>3 days</strong>
                                            <span>Preplan Visit</span>
                                        </div> -->
                                        <div class="vst_rsgn">

                                            <span>View details</span>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>


        </div>
    </div>
</ng-template>